<!-- processHTML:remove -->
<div class="code-info">Code for this page can be found <a class="cui-link" href="https://github.com/thirdwavellc/cui-idm-b2x/tree/master/assets/app/applications/org-applications" target="blank">here</a></div>
<!-- /processHTML -->

<!-- Organization Applications: Action Header -->
<div class="cui-action">
  <nav class="cui-breadcrumb">
    <ul class="cui-breadcrumb__links">
      <li class="cui-breadcrumb__link">
        <a ui-sref="applications.orgApplications" ui-sref-active="active">{{'organization-applications' | translate}}</a>
      </li>
      <li class="cui-breadcrumb__link">
        <a ui-sref="applications.myApplications">{{'my-applications' | translate}}</a>
      </li>
    </ul>
  </nav>
  <div class="cui-action__actions">

    <!-- Sort -->
    <div class="cui-action__action-container" ng-click="orgApplications.sortClicked =! orgApplications.sortClicked" id="sort-button" off-click="orgApplications.sortClicked=false">
      <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
        <use xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#sort14"></use>
      </svg>
      <span class="cui-action__action-label">{{'sort' | translate}}</span>
      <!-- Sort Popover -->
      <div cui-popover class="cui-popover cui-popover--top cui-popover__categories-popover" target="#sort-button" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom'}, 'any']" ng-if="orgApplications.sortClicked">
        <p ng-click="orgApplications.updateSearch('alphabetic')">{{'cui-alphabetically' | translate}}</p>
        <p ng-click="orgApplications.updateSearch('date')">{{'cui-by-date-added' | translate}}</p>  
      </div>
    </div>

    <!-- Refine -->
    <div class="cui-action__action-container" ng-click="orgApplications.refineClicked =! orgApplications.refineClicked" id="refine-button" off-click="orgApplications.refineClicked=false">
      <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
        <use xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#filter10"></use>
      </svg>
      <span class="cui-action__action-label">{{'refine' | translate}}</span>
      <!-- Refine Popover -->
      <div cui-popover class="cui-popover cui-popover--top cui-popover__categories-popover" target="#refine-button" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom'}, 'any']" ng-if="orgApplications.refineClicked">
        <p ng-click="orgApplications.updateSearch('status')">{{'all' | translate}}</p>
        <p ng-click="orgApplications.updateSearch('status','active')">{{'active' | translate}}</p>
        <p ng-click="orgApplications.updateSearch('status','suspended')">{{'suspended' | translate}}</p>
        <p ng-click="orgApplications.updateSearch('status','pending')">{{'pending' | translate}}</p>
      </div>
    </div>

    <!-- Categories -->
    <div class="cui-action__action-container" ng-click="orgApplications.categoriesClicked =! orgApplications.categoriesClicked" id="categories-button" off-click="orgApplications.categoriesClicked=false">
      <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
        <use xlink:href="node_modules/@covisint/cui-icons/dist/icons/icons-out.svg#categories"></use>
      </svg>
      <span class="cui-action__action-label">{{'categories' | translate}}</span>
      <!-- Categories Popover -->
      <div cui-popover class="cui-popover cui-popover--top cui-popover__categories-popover" target="#categories-button" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom'}, 'any']" ng-if="orgApplications.categoriesClicked">
        <p ng-click="orgApplications.updateSearch('category')">{{'all' | translate}}</p>
        <div ng-repeat="category in orgApplications.categories">
          <p ng-click="orgApplications.updateSearch('category',category.name)">{{category.name | cuiI18n}}</p>
        </div>
      </div>
    </div>

    <!-- New Application Request Icon -->
    <svg ui-sref="applications.OrgAppRequest" xmlns="http://www.w3.org/2000/svg" class="cui-action__icon cui-action__icon--new" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 53">
      <use xlink:href="node_modules/@covisint/cui-icons/dist/icons/icons-out.svg#new"></use>
    </svg>
  </div>
</div>

<!-- Organization Applications: Content -->
<div class="cui-applications__main-container">
  <!-- Loading -->
  <div class="cui-loading__container" ng-if="orgApplications.loading">
    <div class="cui-loading--center"><div class="cui-loading"></div></div>
  </div>

  <div ng-if="!orgApplications.loading">
    <!-- 
        NOTE: 'track by application.id' was removed since the mock server returns duplicate services in some places
              track by should be re-added when the real API is fixed.
     -->
    <div class="cui-media cui-media--border cui-media--tr" ng-repeat="application in orgApplications.appList" ng-click="orgApplications.goToDetails(application)">
      <div class="cui-media__image-container">
        <a ng-href="{{application.mangledUrl}}" target="_blank"><div class="cui-media__image" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5" cui-avatar-names="application.name" cui-avatar-cuii18n-filter cui-avatar="application.iconUrl"></div></a>
      </div>
      <div class="cui-media__body cui-media__body--full">
        <div class="cui-media__title-container">
          <a class="cui-media__app-launch" ng-class="'cui-media__app-launch--'+application.status" href="{{application.urls[0].value}}" title="launch application" aria-labelledby="launch application" target="_blank"><cui-icon cui-svg-icon="cui:launch" svg-class="cui-media__app-launch-icon" viewBox="0 0 35 48" preserveAspectRatio="xMidYMid meet"></cui-icon></a>
          <h3 class="cui-media__title" ng-bind="application.name | cuiI18n"></h3>
        </div>
        <span class="cui-media__content" ng-if="application.category"> {{application.category | cuiI18n}}</span>
        <span class="cui-status" ng-class="'cui-status--'+application.grant.status" ng-bind="application.grant.status | lowercase"></span>
      </div>
    </div>

    <!-- Pagination Controls -->
    <div class="cui-paginate__container" ng-if="!orgApplications.loading">
      <span class="cui-paginate__results-label">{{'cui-num-results-page' | translate}}</span>
      <results-per-page class="cui-paginate__select" ng-model="orgApplications.search.pageSize"></results-per-page>
      <paginate class="cui-paginate" results-per-page="orgApplications.search.pageSize" count="orgApplications.count" on-page-change="orgApplications.pageChange" ng-model="orgApplications.search.page" attach-rerender-to="orgApplications.reRenderPaginate"></paginate>
    </div>
  </div>
</div>
