<!-- processHTML:remove -->
<div class="code-info">The markup and javascript used to build this page can be found <a class="cui-link" href="https://github.com/covisint/cui-idm-b2x/tree/master/app/modules/organization/requests/personRequest" target="blank">here</a>.</div>
<!-- /processHTML -->

<!-- Submit Sucessful Pane -->
<div class="class-toggle cui-modal" ng-if="personRequestReview.success" toggled-class="cui-modal--hide" ng-click="toggleClass()">
  <div class="cui-modal__pane">
    <div class="cui-modal__icon">
      <cui-icon cui-svg-icon="cui:check-with-border" class="cui-modal__icon"></cui-icon>
    </div>
    <span class="cui-modal__primary-message">{{'cui-success' | translate}}</span>
    <span class="cui-modal__secondary-message" ng-if="personRequestReview.request.approval==='denied'">{{'registration-request-rejected' | translate}}</span>
    <span class="cui-modal__secondary-message" ng-if="personRequestReview.request.approval==='approved'">{{'registration-request-approved' | translate}}</span>
    <span class="cui-modal__secondary-message" ng-if="personRequestReview.approvedCount!==0">{{personRequestReview.approvedCount}} {{'approvals-submitted' | translate}}</span>
    <span class="cui-modal__secondary-message" ng-if="personRequestReview.deniedCount!==0">{{personRequestReview.deniedCount}} {{'rejection-submitted' | translate}}</span>
  </div>
</div>

<!-- Header -->
<div ng-include="'app/modules/organization/requests/personRequest/sections-review/review-header.html'"
  ng-if="personRequestReview.person">
</div>

<!-- Page Loading -->
<div class="cui-loading__container--user-details" ng-if="base.loader.for['personRequestReview.init']">
	<div class="cui-loading--center"><div class="cui-loading"></div></div>
</div>

<!-- Body -->
<div ng-include="'app/modules/organization/requests/personRequest/sections-review/review-body.html'" 
  ng-if="!base.loader.for['personRequestReview.init']">
</div>

<!-- Review Controls -->
<div class="cui-organization__submit-row" disable-animate >
  <span ui-sref="organization.requests.personRequest({userId:personRequestReview.person.id, orgId:personRequestReview.person.organization.id})" style="margin:5px">{{'cui-cancel' | translate}}</span>
  <button class="cui-button" ng-if="!base.loader.for['personRequestReview.submitting'] && !personRequestReview.error" ng-click="personRequestReview.submit()" style="margin:5px">{{'submit-approvals' | translate}}</button>
  <button class="cui-button" ng-if="base.loader.for['personRequestReview.submitting']">
    <div ng-include="'app/common-templates/partials/loader-updating.html'" ></div>
  </button>
  <button  class="cui-button" ng-if="!base.loader.for['personRequestReview.submitting'] && personRequestReview.error" ng-click="personRequestReview.submit()">{{'cui-error-try-again' | translate}}</button>
</div>
