<div class="cui-organization__requests-person-header">

  <!-- User Name -->
  <!-- <div class="cui-action">
    <span class="cui-action__title cui-action__title--dark" ui-sref="organization.directory.userList" ng-if="personRequest.request.person">
      &#60; {{personRequest.request.person.name.given}} {{personRequest.request.person.name.surname}} - {{'pending-request' | translate}}
    </span>
  </div> -->

  <!-- DISABLED routehistory POC -->
  <!-- <cui-route-history></cui-route-history> -->

  <!-- Navigation -->
  <!-- <div class="cui-action">
    <nav ng-include="'app/modules/organization/partials/breadcrumbs.html'"></nav>
    <nav ng-include="'app/modules/organization/partials/mobileNav.html'"></nav>
  </div> -->

  <!-- Name Header -->
  <div class="cui-media--centered" ng-if="personRequest.request.person">
    <!-- Avatar -->
    <div class="cui-media__image-container">
      <div class="cui-profile__user-avatar cui-media__image" cui-avatar cui-avatar-names="[personRequest.request.person.name.given, personRequest.request.person.name.surname]" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5"></div>
    </div>

    <!-- User Information -->
    <div class="cui-media__body">
      <!-- Name -->
      <h3 class="cui-media__title">{{personRequest.request.person.name.given}} {{personRequest.request.person.name.surname}}</h3>
      <!-- userID -->
      <span class="cui-media__content cui-media__content--dark">{{'userID' | translate}}: {{personRequest.request.person.username}}</span>
      <!-- Email -->
      <div class="cui-media__content"><span class="cui-media__content--dark">{{'cui-email' | translate}}:</span> <a href="mailto:{{personRequest.request.person.email}}" class="cui-media__link"> {{personRequest.request.person.email}}</a></div>
      <!-- Registered Date -->
      <div class="cui-media__content"><span class="cui-media__content--dark">{{'request-date' | translate}}:</span> {{personRequest.request.person.creation | date:base.appConfig.dateFormat}}</div>
      <!-- Organization -->
      <div class="cui-media__content" ng-if="personRequest.request.organization"><span class="cui-media__content--dark">{{'cui-org' | translate}}:</span>  <a href="" class="cui-media__link">{{personRequest.request.organization.name}}</a></div>
      <!-- status -->
      <div class="cui-media__content"><span class="cui-media__content--dark">{{'status' | translate}}:</span>  <a href="" class="cui-media__link">{{personRequest.request.person.status}}</a></div>
    </div>
  </div>

  <!-- Details & Status -->
  <cui-expandable class="cui-expandable" transition-speed="150" ng-if="personRequest.request.person && personRequest.request.organization">
    <cui-expandable-title class="cui-expandable__title" ng-click="toggleExpand()">
      <div class="cui-expandable__details-status">
        <span class="cui-link cui-expandable__details">{{'view-details' | translate}}</span>
       <!--  <span class="cui-expandable__status" ng-class=" 'cui-status--'+personRequest.request.user.status">{{personRequest.request.person.status}}</span> -->
      </div>
    </cui-expandable-title>
    <cui-expandable-body class="cui-expandable__body cui-expandable__body--alt-bg">
      <div class="cui-expandable__body-row">
        <!-- Address -->
        <div class="cui-expandable__body-col cui-expandable__body-col--small" ng-if="personRequest.request.person">
          <div class="cui-field-val__field">{{'cui-address' | translate}}:</div>
          <span class="cui-field-val__val">{{personRequest.request.person.addresses[0].streets[0]}}</span>
          <span class="cui-field-val__val">{{personRequest.request.person.addresses[0].city}}</span>
          <span class="cui-field-val__val">{{personRequest.request.person.addresses[0].state}}, {{personRequest.request.person.addresses[0].postal}}</span>
          <!-- <span class="cui-field-val__val">{{personRequest.request.person.phones[0].number}}</span> -->
        </div>
        <!-- Phone Number -->
        <div class="cui-expandable__body-col cui-expandable__body-col--small">
          <div class="cui-field-val__field">{{'cui-phone' | translate}}:</div>
          <span class="cui-field-val__val">{{personRequest.request.person.phones[0].number}}</span>
        </div>
        <!-- Time zone and Language -->
        <div class="cui-expandable__body-col cui-expandable__body-col--small" ng-if="personRequest.request.person">
          <div class="cui-field-val__field">{{'timezone-and-language' | translate}}:</div>
          <span class="cui-field-val__val">{{personRequest.request.person.timezone}}</span>
          <span class="cui-field-val__val">{{personRequest.request.person.language}}</span>
        </div>
        <!-- Request -->
        <div class="cui-expandable__body-col cui-expandable__body-col--small" ng-if="personRequest.request.request.justification">
          <div class="cui-field-val__field">{{'request' | translate}}:</div>
          <span class="cui-field-val__val">{{personRequest.request.request.justification}}</span>
        </div>
      </div>
    </cui-expandable-body>
  </cui-expandable>
</div>
