<!-- processHTML:remove -->
<div class="code-info">The markup and javascript used to build this page can be found <a class="cui-link" href="https://github.com/thirdwavellc/cui-idm-b2x/tree/master/app/modules/organization/applications/pendingRequestsReview" target="blank">here</a>.</div>
<!-- /processHTML -->

<!-- Submit Sucessful Pane -->
<div class="class-toggle cui-modal" ng-if="pendingRequestsReview.sucess" toggled-class="cui-modal--hide" ng-click="toggleClass()">
    <div class="cui-modal__pane">
        <div class="cui-modal__icon">
            <cui-icon cui-svg-icon="cui:check-with-border" class="cui-modal__icon"></cui-icon>
        </div>
        <span class="cui-modal__primary-message">{{'cui-success' | translate}}</span>
        <!-- <span class="cui-modal__secondary-message">{{'your-app-request-in-review' | translate}}</span> -->
    </div>
</div>

<div>
	<!-- Header -->
	<div ng-include="'app/modules/organization/applications/pendingRequestsReview/sections-review/review-header.html'"></div>
	<!-- Requested Applications List -->
	<div ng-include="'app/modules/organization/applications/pendingRequestsReview/sections-review/review-body.html'"></div>
</div>

<!-- Review Controls -->
<span ui-sref="applications.pendingRequests({userID:pendingRequestsReview.user.id, orgID:pendingRequestsReview.user.organization.id})" style="margin:5px">{{'cui-cancel' | translate}}</span>
<button class="cui-button" ng-click="pendingRequestsReview.submit()" style="margin:5px">{{'submit-approvals' | translate}}</button>
