<div class="cui-expandable__body cui-expandable__body--alt-bg" ng-if="orgApplicationDetails.dropDown.suspend" style="width:130%">
  <ng-form name="suspendApp" novalidate>
    <p>{{'cui-suspend-confirm' |translate}}</p>
    <div class="cui-applications__review-text-input" >
      <p class="cui-error h6" ng-if="suspendApp.reason.$error.required&&suspendApp.reason.$dirty">{{'cui-this-field-is-required' | translate}}</p>
      <textarea name="reason" class="cui-text-area" ng-required="true" ng-model="orgApplicationDetails.suspendReason" placeholder="{{'reason'|translate}}({{'required'|translate}})"></textarea>
    </div>
    <div class="cui-organization__submit-row" disable-animate >
      <span ng-click="orgApplicationDetails.dropDown.suspend=false" class="cursor__pointer" style="margin:5px">{{'cui-cancel' | translate}}</span>
      <button class="cui-button" ng-class="{'cui-button--error' : !suspendApp.$valid}" ng-if="!base.loader.for['orgApplicationDetails.suspend'] && !base.apiError.for['orgApplicationDetails.suspend']&&!orgApplicationDetails.suspendAppSuccess" ng-click="suspendApp.$valid&&orgApplicationDetails.suspendApplication()" style="margin:5px">{{'suspend' | translate}}</button>
      <button class="cui-button" ng-if="base.loader.for['orgApplicationDetails.suspend']">
        <div ng-include="'app/common-templates/partials/loader-updating.html'" ></div>
      </button>
      <button  class="cui-button" ng-class="{'cui-button--error' : !suspendApp.$valid}" ng-if="!base.loader.for['orgApplicationDetails.suspend'] && base.apiError.for['orgApplicationDetails.suspend']" ng-click="suspendApp.$valid&&orgApplicationDetails.suspendApplication()">{{'cui-error-try-again' | translate}}</button>
      <button  class="cui-button" ng-if="!base.loader.for['orgApplicationDetails.suspend'] && orgApplicationDetails.suspendAppSuccess">{{'cui-success' | translate}}</button>
    </div>
  </ng-form>
</div>