<!-- Org Details Profile -->
<div class="cui-loading__container--user-details" ng-if="base.loader.for['orgDetailsProfile.init']">
  <div class="cui-loader cui-loader--content-sm" ng-include="'app/common-templates/partials/loader-content-sm.html'"></div>
</div>

<!-- Page Errors -->
<p class="cui-users__password-success" style="color:red" ng-if="base.apiError.for['orgDetailsProfile.init']">{{'error-generic' | translate}}</p>
<div class="org-details__container" ng-if="!base.loader.for['orgDetailsProfile.init'] && orgDetailsProfile.organization">
  <div class="cui-organization__row">
    <div class="cui-organization__info-block">
      <div class="cui-organization__admin-block-wrapper">

        <!-- Address -->
        <div class="cui-field-val cui-field-val--stack cui-organization__admin-block cui-organization__admin-block__right">
          <h4 class="cui-field-val__field">{{'cui-address' | translate}}: </h4>
          <span class="cui-field-val__val">{{orgDetailsProfile.organization.addresses[0].streets[0]}}</span>
          <span class="cui-field-val__val">{{orgDetailsProfile.organization.addresses[0].city}}</span>
          <span class="cui-field-val__val">{{orgDetailsProfile.organization.addresses[0].state}}, {{orgDetailsProfile.organization.addresses[0].postal}}</span>
          <span class="cui-field-val__val">{{orgDetailsProfile.organization.phones[0].number}}</span>
        </div>

        <!-- Info -->
        <div class="cui-organization__admin-block cui-organization__admin-block__right">
          <h4 class="cui-field-val__field">{{'cui-info' | translate}}:</h4>
          <div class="cui-field-val" ng-if="orgDetailsProfile.organization.url">
            <span class="cui-field-val__field">{{'url' | translate}}: </span>
            <span class="cui-field-val__val"><a class="cui-link" ng-href="{{orgDetailsProfile.organization.url}}">{{orgDetailsProfile.organization.url}}</a></span>
          </div>
          <div class="cui-field-val" ng-if="orgDetailsProfile.passwordPolicy">
            <span class="cui-field-val__field">{{'cui-password-policy' | translate}}: </span>
            <span class="cui-field-val__val">{{orgDetailsProfile.passwordPolicy.name}}</span>
          </div>
          <div class="cui-field-val" ng-if="orgDetailsProfile.authenticationPolicy">
            <span class="cui-field-val__field">{{'cui-authentication-policy' | translate}}: </span>
            <span class="cui-field-val__val">{{orgDetailsProfile.authenticationPolicy.name}}</span>
          </div>
        </div>

        <!-- More Info -->
        <div class="cui-organization__admin-block cui-organization__admin-block__right" ng-if="orgDetailsProfile.organization.attributes" >
          <h4 class="cui-field-val__field">{{'cui-more-information' | translate}}:</h4>
          <div class="cui-field-val" ng-repeat=" attribute in orgDetailsProfile.organization.attributes">
            <span class="cui-field-val__field">{{attribute.name}}: </span>
            <span class="cui-field-val__val">{{attribute.value}}</span>
          </div>
        </div>
        
        <!-- Admins -->
        <h4 class="cui-field-val__field" ng-if="orgDetailsProfile.securityAdmins&&orgDetailsProfile.securityAdmins.length!==0">{{'cui-security-admin' | translate}}</h4>
        <div class="cui-organization__admin-block" ng-repeat="admin in orgDetailsProfile.securityAdmins track by admin.id">
          <!-- Name -->
          <div class="cui-field-val">
            <span class="cui-field-val__field">{{'cui-name' | translate}}: </span>
            <span class="cui-field-val__val">{{admin.name.given}} {{admin.name.surname}}</span>
          </div>
          <!-- ID -->
          <div class="cui-field-val">
            <span class="cui-field-val__field">{{'username' | translate}}: </span>
            <span class="cui-field-val__val">{{admin.username}}</span>
          </div>
          <!-- Title -->
          <div class="cui-field-val">
            <span class="cui-field-val__field">{{'title' | translate}}: </span>
            <span class="cui-field-val__val">{{admin.title}}</span>
          </div>
          <!-- Phone -->
          <div class="cui-field-val">
            <span class="cui-field-val__field">{{'cui-phone' | translate}}: </span>
            <span class="cui-field-val__val">{{admin.phones[0].number}}</span>
          </div>
          <!-- Email -->
          <div class="cui-field-val">
            <span class="cui-field-val__field">{{'cui-email' | translate}}: </span>
            <span class="cui-field-val__val"><a class="cui-link" href="mailto:{{admin.email}}">{{admin.email}}</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <ng-form name="edit" novalidate ng-if="!base.loader.for['orgDetailsProfile.initProfile']">
  <div class="cui-users__info-block" ng-if="orgDetailsProfile.user">
    <div ng-include="'app/modules/organization/directory/user-details/sections/profile/sections-profile/basic-info.html'"></div>
  </div>
</ng-form> -->
