/*
Layout styles for registration screens
*/

@import 'review';

.cui-loading__container--organization-list {
  position: relative;
  background: none;

  .cui-loading--center {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.cui-select-wrapper {
  width: 80px;
}

.cui-warning{
    color: #ffa100;
    font-size: 14px;
    margin-top: 0;
    padding: 5px 0 5px;
    position: relative;
}
