<!-- processHTML:remove -->
<div class="code-info">Markup for this page can be found <a class="cui-link" href="https://github.com/thirdwavellc/cui-idm-b2x/tree/master/assets/app/applications/search" target="blank">here</a> and the layout styles <a href="https://github.com/thirdwavellc/cui-idm-b2x/tree/master/assets/scss/3-views/applications.scss" class="cui-link" target="blank">here</a></div>
<!-- /processHTML -->

<div class="cui-applications__search cui-applications__search-results">
    <div class="cui-action">
        <div class="cui-action__title">{{'new-request' | translate}}</div>
        <div class="cui-action__actions">

            <!-- close icon -->

            <svg ui-sref="applications.myApplications" xmlns="http://www.w3.org/2000/svg" class="cui-action__icon cui-action__icon--close" preserveAspectRatio="xMidYMid meet" viewBox="2 0 48 48">
                <defs>
                  <ellipse id="path-1" cx="20" cy="19.672" rx="20" ry="19.672"/>
                  <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
                    <feOffset dy="3" in="SourceAlpha" result="shadowOffsetOuter1"/>
                    <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
                    <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.27 0" in="shadowBlurOuter1"/>
                  </filter>
                </defs>
                <g id="close-with-shadow" fill="none" fill-rule="evenodd">
                    <g id="Oval-73" transform="translate(3 1)">
                        <use fill="#000" filter="url(#filter-2)" xlink:href="#path-1"/>
                        <use fill="currentColor" xlink:href="#path-1"/>
                    </g>
                    <path d="M26.022 20.672l4.006-4.006c.788-.787.787-2.052.006-2.833l-.195-.195c-.788-.787-2.05-.778-2.834.006L23 17.65l-4.006-4.006c-.787-.788-2.052-.787-2.833-.006l-.194.195c-.788.787-.778 2.05.006 2.833l4.006 4.006-4.006 4.006c-.788.787-.787 2.053-.006 2.833l.195.196c.788.788 2.05.778 2.834-.006L23 23.695l4.006 4.005c.787.788 2.052.787 2.833.006l.194-.195c.788-.786.778-2.048-.006-2.832l-4.006-4.006z" fill="#fff"/>
                </g>
            </svg>
        </div>
    </div>
    <div class="cui-action cui-action--alt">
        <div class="cui-action__title cui-action__title-link"  ui-sref="applications.newRequest">&#60; {{'categories' | translate}}</div>
        <span class="cui-action__title" ng-if="applicationSearch.search.category"> {{applicationSearch.search.category}}</span>
        <div class="cui-input-button cui-input-button--alt-bg">
            <input class="cui-input-button__input" ng-model="applicationSearch.search.name" focus-if placeholder="{{'filter-list' | translate}}" on-enter="applicationSearch.updateSearch"/>
            <button class="cui-input-button__button" ng-click="applicationSearch.updateSearch('name')">{{'filter' | translate}}</button>
        </div>
        <div class="cui-action__actions">
            <svg cui-icon id="cui-applications__requested-apps" ng-click="applicationSearch.requestPopover=!applicationSearch.requestPopover" off-click="applicationSearch.requestPopover=false" xmlns="http://www.w3.org/2000/svg" id="cui-applications__requested-apps" class="cui-icon--folder" ng-class="{'cui-action__icon--active': applicationSearch.numberOfRequests != 0}" preserveAspectRatio="xMidYMid meet" viewBox="0 0 40 33">
              <use class="cui-icon__ref" xlink:href="node_modules/@covisint/cui-icons/dist/icons/icons-out.svg#folder"></use>
            </svg>
            <sup class="cui-action__icon-counter" ng-class="{'cui-action__icon-counter--active': applicationSearch.numberOfRequests != 0}">{{applicationSearch.numberOfRequests}}</sup>

            <div cui-popover class="cui-action__popover cui-popover--positionless" target="#cui-applications__requested-apps" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom',contentOffset:'-70px'}, 'any']" ng-if="applicationSearch.requestPopover">
              <span class="cui-action__popover-title">{{'collected-items-for-request' | translate}}</span>
              <div class="cui-action__popover-section">
                <span ng-if="applicationSearch.numberOfRequests === 0">{{'no-selected-apps' | translate}}<br/></span>
                <ul ng-if="applicationSearch.numberOfRequests > 0">
                    <li ng-repeat="(applicationId,application) in applicationSearch.packageRequests">{{application.name | cuiI18n}}</li>
                </ul>
              </div>
              <span ng-if="applicationSearch.numberOfRequests > 0" class="cui-action__popover-button" ui-sref="applications.reviewRequest">{{'submit-request' | translate}}</span>
            </div>
        </div>
    </div>
    <div class="cui-applications__main-container">
        <div class="cui-loading__container" ng-if="!applicationSearch.doneReloading">
            <div class="cui-loading--center"><div class="cui-loading"></div></div>
        </div>
        <p class="cui-users__password-success" style=" margin:20px; text-align:center" ng-if="applicationSearch.viewList.length===0">{{'no-apps-found' |translate}} <span ng-if="applicationSearch.search.name">{{'refine-search' |translate}}</span> </p>
        <!-- TODO @SHANE we need designs for no applications matching query -->

        <cui-expandable class="cui-expandable" ng-repeat="application in applicationSearch.viewList track by application.id" ng-class="application.expanded?'expanded':''" ng-if="applicationSearch.doneReloading" transition-speed="150">
            <cui-expandable-title class="cui-expandable__title cui-expandable__title--flex" >
                <div class="cui-applications__expandable-info" ng-click="toggleExpand()">
                    <h3 class="cui-expandable__title-left">{{application.name | cuiI18n}}</h3>
                </div>
                <div class="cui-expandable__title-end">
                    <span class="cui-checkbox__container">
                        <input class="cui-checkbox" type="checkbox" ng-model="applicationSearch.appCheckbox[application.id]" />
                        <label class="cui-checkbox__label" ng-click="applicationSearch.appCheckbox[application.id]=!applicationSearch.appCheckbox[application.id]; applicationSearch.toggleRequest(application);applicationSearch.checkRelatedAndBundledApps(application)"></label>
                    </span>
                </div>
                <svg cui-icon xmlns="http://www.w3.org/2000/svg" class="cui-icon cui-icon--light-grey chevron" ng-class="{'cui-hide__opacity': (!application.bundledApps || application.bundledApps.length===0) && (application.servicePackage.parent || (!application.relatedApps || application.relatedApps.length===0))}" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146" ng-click="toggleExpand()">
                  <use class="cui-icon__ref" xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#chevron18"></use>
                </svg>
                <!-- <cui-icon cui-svg-icon="fa:chevron18" svg-class="cui-icon cui-icon--light-grey chevron" use-class="cui-icon__ref" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet" ng-if="(application.bundledApps && application.bundledApps.length!==0) || (!application.servicePackage.parent && (application.relatedApps && application.relatedApps.length!==0))"></cui-icon> -->
            </cui-expandable-title>
            <cui-expandable-body class="cui-expandable__body" >
                <div class="cui-expandable__body-pane" ng-if="(application.bundledApps && application.bundledApps.length!==0) || (!application.servicePackage.parent && (application.relatedApps && application.relatedApps.length!==0))">
                    <span class="cui-expandable__body-close" ng-click="collapse()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="cui-icon" preserveAspectRatio="xMidYMid meet" viewBox="2 0 48 48">
                          <use class="cui-icon__ref" xlink:href="node_modules/@covisint/cui-icons/dist/icons/icons-out.svg#close-no-fill"></use>
                        </svg>
                    </span>
                    <span ng-if="(!application.bundledApps || application.bundledApps.length===0) && (application.servicePackage.parent || (!application.relatedApps || application.relatedApps.length===0))">{{'no-bundled-or-related' | translate}}</span>
                    <div class="cui-expandable__pane-col" ng-if="application.bundledApps && application.bundledApps.length > 0">
                        <h4 class="cui-expandable__pane-title">{{'bundled-applications' | translate}}</h4>
                        <div class="cui-expandable__pane-content">
                            <span class="cui-expandable__pane-content-item" ng-repeat="bundledApp in application.bundledApps">
                                {{bundledApp.name | cuiI18n}}
                            </span>
                        </div>
                    </div>
                    <div class="cui-expandable__pane-col" ng-if="!application.servicePackage.parent && application.relatedApps && application.relatedApps.length > 0">
                        <h4 class="cui-expandable__pane-title">{{'related-applications' | translate}}</h4>
                        <div class="cui-expandable__pane-content">
                            <span class="cui-expandable__pane-content-item" ng-repeat="relatedApp in application.relatedApps">
                                <span class="cui-checkbox_label__flex">{{relatedApp.name | cuiI18n}} </span>  
                                <span class="cui-checkbox__container">
                                    <input class="cui-checkbox" type="checkbox" ng-model="applicationSearch.appCheckbox[relatedApp.id]" />
                                    <label class="cui-checkbox__label" ng-click="applicationSearch.appCheckbox[relatedApp.id]=!applicationSearch.appCheckbox[relatedApp.id];applicationSearch.checkRelatedAppsBody(relatedApp,application)"></label>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </cui-expandable-body>
        </cui-expandable>

        <!-- pagination -->

        <div class="cui-paginate__container" ng-if="applicationSearch.doneLoading">
                <span class="cui-paginate__results-label">{{'cui-num-results-page' | translate}}</span>
                <results-per-page class="cui-paginate__select" ng-model="applicationSearch.search.pageSize"></results-per-page>
                <paginate class="cui-paginate" results-per-page="applicationSearch.search.pageSize" count="applicationSearch.count" on-page-change="applicationSearch.pageChange" ng-model="applicationSearch.search.page" attach-rerender-to=" applicationSearch.reRenderPaginate"></paginate>
        </div>

        <!-- search button -->

        <div class="cui-applications__search-button">
            <button class="cui-button" ng-class="{'cui-button--error' : applicationSearch.numberOfRequests===0}" ng-click="applicationSearch.numberOfRequests != 0 && applicationSearch.saveRequestsAndCheckout()">{{'review-request' | translate}}</button>
        </div>

    </div>
</div>

