<div class="cui-tile">
    <div class="cui-tile__title">{{'new-request' | translate}}<span ui-sref="applications.myApplications">Close button here</span></div>
        <div class="cui-tile__body">
            <div>
                <div>
                    <!-- THIS BUTTON ONLY TAKES YOU BACK TO SEARCH IF THAT'S THE PAGE YOU CAME FROM (IT GOES TO THE PREVIOUS STATE) -->
                    <span ng-click="base.goBack()">< {{'back-to-search' | translate}}</span>
                </div>
                {{'requested-items' | translate}}
                <div ng-repeat="application in applicationReview.appRequests">
                    {{application.name | cuiI18n}}
                    {{'owning-org' | translate}}: {{application.owningOrganization.name}}
                    <!-- Terms and conditions is not provided by the API, leaving it out for now -->
                    {{'request-reason' | translate}}
                    <span ng-if="application.reasonRequired">{{'you-must-enter-a-reason' | translate}}</span>
                    <textarea ng-model="application.reason" ng-class="{'<!-- @shane textarea invalid class here -->' : application.reasonRequired}"></textarea>
                </div>
                <!-- THIS BUTTON ONLY TAKES YOU BACK TO SEARCH IF THAT'S THE PAGE YOU CAME FROM (IT GOES TO THE PREVIOUS STATE) -->
                <a class="cui-link" ng-click="base.goBack()">{{'cancel' | translate}}</a>
                <button class="cui-button" ng-click="applicationReview.submit()">{{'submit-request' | translate}}</button>
                <!-- @shane ng-if="applicationReview.attempting" is when submit gets pressed and it's trying to submit the requests  ^ put a spinner on the button-->
                <!-- if there's an error ng-if="applicationReview.error" -->
                <!-- if it's successful ng-if="applicationReview.success" -->
                <div ng-if="applicationReview.success"> <!-- This is the popup on success -->
                    {{'cui-success' | translate}}
                    {{'your-app-request-in-review' | translate}}
                </div>
            </div>
        </div>
    </div>
</div>