<div class="cui-tile test">
<div class="cui-action">
    <div class="cui-action__title">{{'my-applications' | translate}}</div>
    <div class="cui-action__actions">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 53">
          <use class="cui-icon__ref" xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#new"></use>
        </svg>
    </div>
</div>
    <div class="cui-tile__title">{{'new-request' | translate}}  <span ui-sref="applications.myApplications"><!-- Close button goes here --></span></div>
        <div class="cui-tile__body">
            <div>
                <span ng-if="applicationSearch.category" ui-sref="applications.newRequest">< {{applicationSearch.category}}</span>
                <input class="cui-input" ng-model="applicationSearch.nameSearch" ng-keypress="applicationSearch.listenForEnter($event)" placeholder="{{'filter-list' | translate}}"/><button ng-click="applicationSearch.parseAppsByCategoryAndName()">{{'filter' | translate}}</button>
                <!-- folder icon --> {{applicationSearch.numberOfRequests}} <!-- < this will be the little number above the folder icon -->
            </div>
            <div class="cui-loading__container" ng-if="!applicationSearch.doneLoading">
                <div class="cui-loading--center"><div class="cui-loading"></div></div>
            </div>
            <cui-expandable class="cui-expandable" ng-repeat="application in applicationSearch.list track by application.id" ng-if="applicationSearch.doneLoading" transition-speed="150">
                <cui-expandable-title class="cui-expandable__title" ng-click="toggleExpand();!applicationSearch.detailsLoadingDone[application.id] && applicationSearch.getRelatedAndBundled($index,application);">
                    <!-- @Shane, right now the above ng-click triggers when you click the checkbox, move that ng-click wherever you see appropriate -->
                    <!-- application image --> {{application.name | cuiI18n}}
                    {{'owning-org' | translate}}: {{application.owningOrganization.name}}
                    <!-- Not sure what the exclamation mark bubble means or what triggers it, but you can put it in here @Shane, I'll come back to this once we get an answer -->
                    <!-- TODO Figure out above ^  (leave this so I can find it later)-->
                    <span class="cui-checkbox__container"><input class="cui-checkbox" type="checkbox" ng-model="applicationSearch.appCheckbox[application.id]" /><label class="cui-checkbox__label" ng-click="applicationSearch.appCheckbox[application.id]=!applicationSearch.appCheckbox[application.id]; applicationSearch.toggleRequest($index,application)"></label></span>
                </cui-expandable-title>
                <cui-expandable-body class="cui-expandable__body">
                    <div class="cui-loading__container" ng-if="!applicationSearch.detailsLoadingDone[application.id]"> <!-- @Shane, this loading seems to be overlapping the expandable title -->
                        <div class="cui-loading--center"><div class="cui-loading"></div></div>
                    </div>
                    <div ng-if="application.details.bundled.length!==0">
                        {{'bundled-applications' | translate}}
                        <span ng-repeat="bundledApp in application.details.bundled" ng-if="application.details.bundled.length!==0">
                            {{bundledApp.name | cuiI18n}}
                        </span>
                    </div>
                    <div ng-if="application.details.related.length!==0">
                        {{'related-applications' | translate}}
                        <span ng-repeat="relatedApp in application.details.related">
                            {{relatedApp.name | cuiI18n}}
                        </span>
                    </div>
                </cui-expandable-body>
            </cui-expandable>

        </div>
    </div>
</div>