node_modules
coverage
target
assets/app/templateCache.js
assets/processedHtml/
assets/concat/
build-artifacts/
build/
build-sdk/
.DS_Store
**/.DS_Store
.tmp/
*.versionsBackup
*.iml
.idea
appConfig-*.json
npm-debug.log
cui-idm-b2x.sublime-project
cui-idm-b2x.sublime-workspace
app/modules/organization/requests/usersRequests/usersAppRequests/coke-appRequests.ctrl.js
app/modules/organization/requests/usersRequests/usersAppRequests/coke-requests-AppRequests.html
app/modules/organization/requests/usersRequests/usersRegistrationRequests/coke-registrationRequests.ctrl.js
app/modules/organization/requests/usersRequests/usersRegistrationRequests/coke-requests-RegistrationRequests.html
