node_modules
bower_components
coverage
target
.DS_Store
**/.DS_Store
.tmp/
*.versionsBackup
*.iml
assets/angular-modules/templateCache.js
assets/concatJS/app.js
assets/css/main.css
build
.idea
.gitignore