<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CUI IDM B2X</title>

  <!-- build:css app/css/main.css -->
  <link rel="stylesheet" href="assets/concat/css/main.css">
  <!-- endbuild -->

  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0">
</head>
<body ng-cloak ng-controller="baseCtrl as base">
  <div class="cui-wrapper v2">
    <snap-drawer>

      <div class="cui-profile cui-profile--mobile" class-toggle toggled-class="cui-profile--active" ng-click="toggleClass()" off-click="toggleOff()" ng-if="base.user.name.given">
        <div class="cui-profile__row">
          <span class="cui-profile__user-name">{{base.user.name.given}} {{base.user.name.surname}}</span>
          <!-- Avatar Mobile -->
          <div class="cui-media__image-container">
            <div class="cui-media__image" cui-avatar cui-avatar-email="base.user.email" cui-avatar-names="[base.user.name.given, base.user.name.surname]" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5"></div>
          </div>
          <svg class="cui-profile__chevron" viewBox="0 0 216 146">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="bower_components/cui-icons/dist/font-awesome/font-awesome-out.svg#arrow459" class="svg"></use>
          </svg>
        </div>
        <div class="cui-profile__row">
          <div id="cui-profile__popup" class="cui-profile__user-menu" style="display:block; opacity: 1; position: relative;">
            <div class="cui-profile__menu-item" ui-sref="user.profile">
              <a href="" class="cui-profile__link">{{'cui-my-profile' | translate}}</a>
              <svg class="cui-profile__link-icon" viewBox="-2 -2 52 52">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#profile" class="svg"></use>
              </svg>
            </div>
            <div class="cui-profile__menu-item" ng-click="base.logout()">
              <a href="" class="cui-profile__link">{{'log-out' | translate}}</a>
              <svg class="cui-profile__link-icon" viewBox="-2 -2 52 52">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#log-out" class="svg"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <span class="snap-menu--option" snap-close ui-sref="welcome">
        <span class="snap-menu__option-name">{{'welcome' | translate}}</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="snap-menu__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="bower_components/cui-icons/dist/font-awesome/font-awesome-out.svg#four29"></use>
        </svg>
      </span>
      <span class="snap-menu--option" snap-close ui-sref="applications.myApplications">
        <span class="snap-menu__option-name">{{'cui-applications' | translate}}</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="snap-menu__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 49 49">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#applications_v2"></use>
        </svg>
      </span>
      <span class="snap-menu--option" snap-close ui-sref="organization.profile">
        <span class="snap-menu__option-name">{{'cui-org' | translate}}</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="snap-menu__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#organization"></use>
        </svg>
      </span>
   <!--    <span class="snap-menu--option" snap-close ui-sref="users.search">
        <span class="snap-menu__option-name">Search Users</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="snap-menu__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#search"></use>
        </svg>
      </span> -->
  <!--     <span class="snap-menu--option" snap-close ui-sref="users.invitations">
        <span class="snap-menu__option-name">User Invitations</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="snap-menu__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#mail-open"></use>
        </svg>
      </span> -->
<!--       <span class="snap-menu--option" snap-close ui-sref="registration.invited">
        <span class="snap-menu__option-name">Invited User Registration</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="snap-menu__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#list"></use>
        </svg>
      </span> -->
    </snap-drawer>
    <snap-content snap-opt-disable="'right'">
       <div class="cui-desktop-menu" ng-class="{'cui-desktop-menu--collapse' : base.menu.desktop.state==='closed'}">
       <!-- ng-if="base.menu.desktop.enabled" -->

        <span class="cui-desktop-menu__option" ui-sref="welcome" ui-sref-active="active">
          <span class="cui-desktop-menu__option-name">{{'welcome' | translate}}</span>
          <cui-icon cui-svg-icon="fa:four29" svg-class="cui-desktop-menu__icon" viewBox="0 0 216 146" preserveAspectRatio="xMidYMid meet"></cui-icon>
        </span>

        <span class="cui-desktop-menu__option" ui-sref="applications.myApplications" ui-sref-active-nested="active">
          <span class="cui-desktop-menu__option-name">{{'cui-applications' | translate}}</span>
          <cui-icon cui-svg-icon="cui:applications_v2" svg-class="cui-desktop-menu__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
        </span>

        <span class="cui-desktop-menu__option"  ui-sref="organization.profile" ui-sref-active-nested="active">
          <span class="cui-desktop-menu__option-name">{{'cui-org' | translate}}</span>
          <cui-icon cui-svg-icon="cui:organization" svg-class="cui-desktop-menu__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
        </span>

      <!--   <span class="cui-desktop-menu__option"  ui-sref="users.search" ui-sref-active="active">
          <span class="cui-desktop-menu__option-name">Search Users</span>
          <cui-icon cui-svg-icon="cui:search" svg-class="cui-desktop-menu__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
        </span> -->

        <!-- <span class="cui-desktop-menu__option"  ui-sref="users.invitations" ui-sref-active="active">
          <span class="cui-desktop-menu__option-name">User Invitations</span>
          <cui-icon cui-svg-icon="cui:mail-open" svg-class="cui-desktop-menu__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
        </span> -->

        <!-- <span class="desktop-menu--option"  ui-sref="registration.walkup">
          <span class="desktop-menu__option-name">User Walk Up Registration</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="desktop-menu__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="bower_components/cui-icons/dist/font-awesome/font-awesome-out.svg#sort14"></use>
          </svg>
        </span> -->
<!--
        <span class="cui-desktop-menu__option"  ui-sref="registration.invited" ui-sref-active="active">
          <span class="cui-desktop-menu__option-name">Invited User Registration</span>
          <cui-icon cui-svg-icon="cui:list" svg-class="cui-desktop-menu__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
        </span> -->

        <!-- <span class="desktop-menu--option"  ui-sref="registration.tlo">New TLO Registration</span> -->
        <!-- <span class="desktop-menu--option"  ui-sref="registration.division">New Division Registration</span> -->
        <!-- <span class="desktop-menu--option"  ui-sref="misc.404">404 Not Found</span> -->
        <!-- <span class="desktop-menu--option"  ui-sref="misc.notAuth">Not Authorized</span> -->
        <!-- <span class="desktop-menu--option"  ui-sref="misc.pendingStatus">Pending Status</span> -->
        <!-- <span class="desktop-menu--option"  ui-sref="misc.success">Success</span> -->
        <!-- <span class="desktop-menu--option"  ui-sref="applications.newRequest">New app request</span> -->
        <!-- <span class="desktop-menu--option"  ui-sref="profile.user">My Profile</span> -->

      </div>
      <div class="cui-nav__content-wrapper" ng-class="{'cui-desktop-menu--collapse' : base.menu.desktop.state==='closed' || !base.menu.desktop.enabled}">
        <div class="cui-menu__toggle-button--desktop cui-menu__toggle-button-container active" ng-click="base.menu.desktop.toggle()" ng-class="{'active' : base.menu.desktop.state==='open'}" ng-if="base.menu.desktop.enabled" style="margin-right:20px">
          <div class="cui-menu__toggle-button"></div>
        </div>
        <header class="cui-header">
          <div class="cui-header__top">
            <div class="menu-toggle menu-toggle--mobile" snap-toggle="left" ng-click="base.menu.mobile.toggle()"  ng-if="base.menu.mobile.enabled" style="margin-right:20px">
              <div class="menu-toggle--button"></div>
            </div>

            <!-- Uncomment below to reveal header -->
            <!-- <svg class="cui-header__svg-logo" viewBox="0 0 640 124"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href=""></use></svg> -->

            <!-- Uncomment below to reveal global search icon -->
            <!-- <div class="cui-header__search-container" ng-model="searchEnabled" ng-click="searchEnabled = !searchEnabled">
              <cui-icon cui-svg-icon="cui:search" svg-class="cui-header__search-icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
            </div> -->

            <div class="cui-profile" class-toggle toggled-class="cui-profile--active" ng-click="toggleClass()" off-click="toggleOff()" ng-if="base.user.name.given">
                <span class="cui-profile__user-name">{{base.user.name.given}} {{base.user.name.surname}}</span>
                <!-- Avatar Desktop -->
                <div class="cui-profile__user-avatar" cui-avatar cui-avatar-email="base.user.email" cui-avatar-names="[base.user.name.given, base.user.name.surname]" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5"></div>
                <div id="cui-profile__popup" class="cui-profile__user-menu">
                  <div class="cui-profile__menu-item" ui-sref="user.profile">
                    <a href="" class="cui-profile__link">{{'cui-my-profile' | translate}}</a>
                    <svg class="cui-profile__link-icon" viewBox="-2 -2 52 52">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#profile" class="svg"></use>
                    </svg>
                  </div>
                  <div class="cui-profile__menu-item" ng-click="base.logout()">
                    <a href="" class="cui-profile__link">{{'log-out' | translate}}</a>
                    <svg class="cui-profile__link-icon" viewBox="-2 -2 52 52">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#log-out" class="svg"></use>
                    </svg>
                  </div>
                </div>
                <svg class="cui-profile__chevron" viewBox="0 0 216 146">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="bower_components/cui-icons/dist/font-awesome/font-awesome-out.svg#arrow459" class="svg"></use>
                </svg>
              </div>
          </div>
        </header>
        <!-- Uncomment below to reveal global search -->
        <!-- <div class="cui-input-button cui-input-button--global-search" ng-class="{'show': searchEnabled}">
          <input type="text" placeholder="Search for applications in your org" class="cui-input-button__input"/>
          <button class="cui-input-button__button">{{'go' | translate}}</button>
        </div> -->
        <div ui-view class="js-main-content" ng-cloak ng-class="{'js-main-content--search-open': searchEnabled}"></div>
        <div class="cui-footer">
          <div class="cui-footer__col"><a href="" class="cui-footer__link">Covisint</a></div>
          <div class="cui-footer__col"><a href="" class="cui-footer__link">{{'privacy' | translate}} &amp; {{'terms' | translate}} </a></div>
          <div class="cui-footer__col"><a href="" class="cui-footer__link">{{'help' | translate}}</a></div>
          <div class="cui-footer__col"><a href="" class="cui-footer__link">{{'cui-learn-more-start' | translate}}</a> {{'cui-learn-more-end' | translate}}</div>
          <div class="cui-footer__col" ng-translate-language-select class="cui-footer__translate"></div>
        </div>
      </div>
    </snap-content>
  </div>

<!-- build:js app/js/vendor.js -->
<script src="bower_components/thirdwave-tether/dist/js/tether.js"></script>
<script src="node_modules/blueimp-md5/js/md5.min.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/snapjs/snap.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-dynamic-locale/tmhDynamicLocale.min.js"></script>
<script src="bower_components/angular-snap/angular-snap.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script src="bower_components/angular-translate-handler-log/angular-translate-handler-log.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="bower_components/cui-ng/dist/cui-ng.js"></script>
<script src="bower_components/cui-i18n/translate.js"></script>
<script src="bower_components/cui.js/dist/cui.min.js"></script>
<script src="bower_components/svg4everybody/dist/svg4everybody.min.js"></script>
<!-- endbuild -->

<!-- build:js app/js/app.js -->
<script src="assets/concat/js/app.js"></script>
<!-- endbuild -->

<script>svg4everybody();</script>

</body>
</html>
