 <div class="cui-loading__container--user-details" ng-if="base.loader.for['orgDetailsApps.init']">
  <div class="cui-loader cui-loader--content-sm" ng-include="'app/common-templates/partials/loader-content-sm.html'"></div>
</div>
 <!-- subheader -->
  <section class="cui-action" ng-if="!base.loader.for['orgDetailsApps.init']">
    <h3 class="cui-sr-only">{{'org-dir-filters' | translate}}</h3>
    <div class="cui-loading__container" ng-if="orgDetailsApps.loading">
      <div class="cui-loader cui-loader--content" ng-include="'app/common-templates/partials/loader-content-header.html'"></div>
    </div>
    <!-- <span class="cui-action__title cui-desktop-only">{{orgDetailsApps.organization.name}}</span> -->
    <div class="cui-action cui-action--alt">
      <div class="cui-input-button cui-input-button--alt-bg" style="width:350px">
          <input class="cui-input-button__input" ng-model="orgDetailsApps.search['name']" focus-if placeholder="{{'search-by-app-name' | translate}}" on-enter="orgDetailsApps.updateSearchByName"/>
          <button class="cui-input-button__button" ng-click="orgDetailsApps.updateSearchByName()">{{'search' | translate}}</button>
      </div>
    </div>
    <!-- <span class="cui-action__title cui-mobile-only">{{orgDetailsApps.orgPersonCount}} People</span> -->
    <div class="cui-action__actions">

    <!-- Refine -->
    <div class="cui-action__action-container" ng-click="orgDetailsApps.refineClicked =! orgDetailsApps.refineClicked" id="refine-button-apps" off-click="orgDetailsApps.refineClicked=false">
      <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
        <use xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#filter10"></use>
      </svg>
      <span class="cui-action__action-label">{{'refine' | translate}}</span>
      <!-- Refine Popover -->
      <div cui-popover class="cui-popover cui-popover--menu cui-popover--positionless" target="#refine-button-apps" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom',contentOffset:'-70px'}, 'any']" ng-if="orgDetailsApps.refineClicked" style="width:214px">
         <div class="cui-popover__row cui-popover--row__flex">
            <span ng-click="orgDetailsApps.updateSearch('status')">{{'all' | translate}}</span>
         </div>
          <div class="cui-popover__row cui-popover--row__flex">
            <span ng-click="orgDetailsApps.updateSearch('status','active')">{{'active' | translate}}</span>
         </div>
          <div class="cui-popover__row cui-popover--row__flex">
            <span ng-click="orgDetailsApps.updateSearch('status','suspended')">{{'suspended' | translate}}</span>
         </div>
          <div class="cui-popover__row cui-popover--row__flex">
            <span ng-click="orgDetailsApps.updateSearch('status','pending')">{{'pending' | translate}}</span>
         </div>
        <!-- <p ng-click="orgDetailsApps.updateSearch('status')">{{'all' | translate}}</p>
        <p ng-click="orgDetailsApps.updateSearch('status','active')">{{'active' | translate}}</p>
        <p ng-click="orgDetailsApps.updateSearch('status','suspended')">{{'suspended' | translate}}</p>
        <p ng-click="orgDetailsApps.updateSearch('status','pending')">{{'pending' | translate}}</p> -->
      </div>
    </div>

    <!-- Categories -->
    <div class="cui-action__action-container" ng-click="orgDetailsApps.categoriesClicked =! orgDetailsApps.categoriesClicked" id="categories-button" off-click="orgDetailsApps.categoriesClicked=false">
      <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
        <use xlink:href="node_modules/@covisint/cui-icons/dist/icons/icons-out.svg#categories"></use>
      </svg>
      <span class="cui-action__action-label">{{'categories' | translate}}</span>
      <!-- Categories Popover -->
      <div cui-popover class="cui-popover cui-popover--top cui-popover__categories-popover" target="#categories-button" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom'}, 'any']" ng-if="orgDetailsApps.categoriesClicked">
        <p ng-click="orgDetailsApps.updateSearch('category')">{{'all' | translate}}</p>
        <div ng-repeat="category in orgDetailsApps.categories">
          <p ng-click="orgDetailsApps.updateSearch('category',category.name)">{{category.name | cuiI18n}}</p>
        </div>
      </div>
    </div>
  </div>
  </section>

<!-- Organization Applications: Content -->
<div class="cui-applications__main-container">
  <!-- Loading -->
<!--   <div class="cui-loading__container" ng-if="orgDetailsApps.loading">
    <div class="cui-loading--center"><div class="cui-loading"></div></div>
  </div> -->

  <div ng-if="!base.loader.for['orgDetailsApps.init']">

    <!-- No applications message -->
    <p ng-if="orgDetailsApps.appList.length===0">{{'cui-no-applications' | translate}}</p>
    <p class="cui-error" ng-if="orgDetailsApps.loadingError">{{'error-generic' |translate}}</p>
    <!-- 
        NOTE: 'track by application.id' was removed since the mock server returns duplicate services in some places
              track by should be re-added when the real API is fixed.
     -->
    <div class="cui-media cui-media--border cui-media--tr" ng-repeat="application in orgDetailsApps.appList" ng-click="orgDetailsApps.goToDetails(application)">
      <div class="cui-media__image-container">
        <a ng-href="{{application.mangledUrl}}" target="_blank"><div class="cui-media__image" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5" cui-avatar-names="application.name" cui-avatar-cuii18n-filter cui-avatar="application.iconUrl"></div></a>
      </div>
      <div class="cui-media__body cui-media__body--full">
        <div class="cui-media__title-container">
          <!--          <a class="cui-media__app-launch" ng-class="'cui-media__app-launch--'+application.status" href="{{application.urls[0].value}}" title="launch application" aria-labelledby="launch application" target="_blank"><cui-icon cui-svg-icon="cui:launch" svg-class="cui-media__app-launch-icon" viewBox="0 0 35 48" preserveAspectRatio="xMidYMid meet"></cui-icon></a> -->
          <h3 class="cui-media__title" ng-bind="application.name | cuiI18n"></h3>
        </div>
        <span class="cui-media__content" ng-if="application.category"> {{application.category | cuiI18n}}</span>
        <span class="cui-status" ng-class="'cui-status--'+application.grant.status" ng-bind="application.grant.status | lowercase"></span>
      </div>
    </div>


    <!-- Pagination Controls -->
    <div class="cui-paginate__container" ng-if="!orgDetailsApps.loading">
      <span class="cui-paginate__results-label">{{'cui-num-results-page' | translate}}</span>
      <results-per-page class="cui-paginate__select" ng-model="orgDetailsApps.search.pageSize"></results-per-page>
      <paginate class="cui-paginate" results-per-page="orgDetailsApps.search.pageSize" count="orgDetailsApps.count" on-page-change="orgDetailsApps.pageChange" ng-model="orgDetailsApps.search.page" attach-rerender-to="orgDetailsApps.reRenderPaginate"></paginate>
    </div>
  </div>
</div>
