<!-- processHTML:remove -->
<div class="code-info">Code for this page can be found <a class="cui-link" href="https://github.com/thirdwavellc/cui-idm-b2x/tree/master/assets/app/applications/new-request%26review" target="blank">here</a> and the layout styles <a href="https://github.com/thirdwavellc/cui-idm-b2x/tree/master/assets/scss/3-views/applications.scss" class="cui-link" target="blank">here</a></div>
<!-- /processHTML -->

<div class="cui-applications__new-request">
    <div class="cui-action">
        <div class="cui-action__title">{{'new-request'| translate}}</div>
        <div class="cui-action__actions">

            <!-- close icon -->

            <svg ui-sref="applications.myApplications" xmlns="http://www.w3.org/2000/svg" class="cui-action__icon cui-action__icon--close" preserveAspectRatio="xMidYMid meet" viewBox="2 0 48 48">
                <defs>
                    <ellipse id="path-1" cx="20" cy="19.672" rx="20" ry="19.672"/>
                    <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
                        <feOffset dy="3" in="SourceAlpha" result="shadowOffsetOuter1"/>
                        <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
                        <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.27 0" in="shadowBlurOuter1"/>
                    </filter>
                </defs>
                <g id="close-with-shadow" fill="none" fill-rule="evenodd">
                    <g id="Oval-73" transform="translate(3 1)">
                        <use fill="#000" filter="url(#filter-2)" xlink:href="#path-1"/>
                        <use fill="currentColor" xlink:href="#path-1"/>
                    </g>
                    <path d="M26.022 20.672l4.006-4.006c.788-.787.787-2.052.006-2.833l-.195-.195c-.788-.787-2.05-.778-2.834.006L23 17.65l-4.006-4.006c-.787-.788-2.052-.787-2.833-.006l-.194.195c-.788.787-.778 2.05.006 2.833l4.006 4.006-4.006 4.006c-.788.787-.787 2.053-.006 2.833l.195.196c.788.788 2.05.778 2.834-.006L23 23.695l4.006 4.005c.787.788 2.052.787 2.833.006l.194-.195c.788-.786.778-2.048-.006-2.832l-4.006-4.006z" fill="#fff"/>
                </g>
            </svg>
        </div>
    </div>
    <div class="cui-action cui-action--alt">
        <h3 class="cui-action__title">{{'select-applications'| translate}}</h3>
        <div class="cui-action__actions">
            <svg cui-icon ng-click="newAppRequest.requestPopover=!newAppRequest.requestPopover" off-click="newAppRequest.requestPopover=false" xmlns="http://www.w3.org/2000/svg" id="cui-applications__requested-apps" class="cui-icon cui-icon--folder" ng-class="{'cui-action__icon--active': newAppRequest.numberOfRequests != 0}" preserveAspectRatio="xMidYMid meet" viewBox="0 0 40 33">
              <use class="cui-icon__ref" xlink:href="node_modules/@covisint/cui-icons/dist/icons/icons-out.svg#folder"></use>
            </svg>
            <sup class="cui-action__icon-counter" ng-class="{'cui-action__icon-counter--active': newAppRequest.numberOfRequests != 0}">{{newAppRequest.numberOfRequests}}</sup>
            <!-- popover -->
            <div cui-popover class="cui-action__popover cui-popover--positionless" target="#cui-applications__requested-apps" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom',contentOffset:'-70px'}, 'any']" ng-if="newAppRequest.requestPopover">
                <span class="cui-action__popover-title">{{'collected-items-for-request'| translate}}</span>
                <div class="cui-action__popover-section">
                    <span ng-if="newAppRequest.appsBeingRequested.length === 0">{{'no-selected-apps'| translate}}<br/></span>
                    <ul ng-if="newAppRequest.appsBeingRequested.length > 0">
                        <li ng-repeat="application in newAppRequest.appsBeingRequested">{{application.name| cuiI18n}}</li>
                    </ul>
                </div>
                <span ng-if="newAppRequest.appsBeingRequested.length > 0" class="cui-action__popover-button" ui-sref="applications.reviewRequest">{{'submit-request'| translate}}</span>
            </div>
        </div>
    </div>
    <div class="cui-applications__main-container">
        <div>
            <div class="cui-applications__search-options">
                <div class="cui-input-button">
                    <input type="text" class="cui-input-button__input" ng-model="newAppRequest.search" placeholder="{{'search-by-app-name'| translate}}" on-enter="newAppRequest.searchCallback" focus-if/>
                    <button class="cui-input-button__button" ui-sref="applications.search({name:newAppRequest.search})">{{'go'| translate}}</button>
                </div>
                <div class="cui-applications__center-text">{{'or'| translate}}</div>
                <a class="cui-link" ui-sref="applications.search">{{'show-all'| translate}}</a>
            </div>
            <div  style="position:relative">
                <div ng-if="!newAppRequest.loadingDone"> <!-- TODO @SHANE this loading block is overlapping the search options for a split second when I first load -->
                    <div ng-include="'app/common-templates/partials/loader-content.html'"></div>
                </div>



                <div ng-repeat="category in newAppRequest.categories" ng-if="newAppRequest.loadingDone">
                    <div class="cui-applications__categories" ui-sref="applications.search({category:'{{ category.name | cuiI18n }}' })">
                        <h4 class="cui-applications__category" >{{ category.name | cuiI18n }}</h4>
                        <div>
                            <cui-icon cui-svg-icon="fa:chevron18" svg-class="cui-icon cui-icon--light-grey" use-class="cui-icon__ref" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet" ></cui-icon>
                        </div>
                        <!--svg xmlns="http://www.w3.org/2000/svg" class="cui-icon cui-icon--light-grey" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
                          <use xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#chevron18"></use>
                        </svg-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
