<!-- processHTML:remove -->
<div class="code-info">The markup and javascript used to build this page can be found <a class="cui-link" href="https://github.com/thirdwavellc/cui-idm-b2x/tree/master/app/modules/organization/directory" target="blank">here</a>.</div>
<!-- /processHTML -->

<div class="cui-organization">
  <!-- Page Header -->
  <div class="cui-action">
    <nav class="cui-breadcrumb">
      <ul class="cui-breadcrumb__links">
        <li class="cui-breadcrumb__link">
          <a ui-sref="organization.profile">{{'cui-org-profile' | translate}}</a> 
          </li>
        <li class="cui-breadcrumb__link">
          <a ui-sref="organization.hierarchy({orgID:orgProfile.organization.id})">{{'cui-org-hierarchy' | translate}}</a> 
          </li>
        <li class="cui-breadcrumb__link">
          <a ui-sref="organization.directory({orgID:orgProfile.organization.id})" ui-sref-active="active">{{'directory' | translate}}</a>
          </li> 
        <li class="cui-breadcrumb__link">
          <a ui-sref="organization.roles({orgID:orgProfile.organization.id})">{{'roles' | translate}}</a>
        </li>
      </ul>
    </nav>
    <div class="cui-action__actions">
      <div class="cui-action__action-container" id="invitation-button" ng-click="orgDirectory.invitationClicked=!orgDirectory.invitationClicked" off-click="orgDirectory.invitationClicked=false">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon cui-action__icon--invite" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
          <defs>
            <ellipse id="path-1" cx="20" cy="19.672" rx="20" ry="19.672"/>
            <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
              <feOffset dy="3" in="SourceAlpha" result="shadowOffsetOuter1"/>
              <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
              <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.27 0" in="shadowBlurOuter1"/>
            </filter>
          </defs>
          <use xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#invite"></use>
        </svg>
        <!-- Invitation Popover -->
        <div class="cui-popover cui-popover--top cui-popover__sort-popover" tether target="#invitation-button" attachment="top middle" target-attachment="bottom middle" offset="-10px 0" ng-if="orgDirectory.invitationClicked">
          <p>{{'invite-user' | translate}}</p>
          <p>{{'invite-division' | translate}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Action Sub-header -->
  <div class="cui-action" ng-if="!orgDirectory.loading">
    <span class="cui-action__title">{{orgDirectory.organization.name | cuiI18n}}</span>
    <div class="cui-action__actions">

      <!-- Sort -->
      <div class="cui-action__action-container" ng-click="orgDirectory.sortClicked=!orgDirectory.sortClicked" id="sort-button" off-click="orgDirectory.sortClicked=false">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
          <use xlink:href="bower_components/cui-icons/dist/font-awesome/font-awesome-out.svg#sort14"></use>
        </svg>
        <span class="cui-action__action-label">{{'sort' | translate}}</span>
        <!-- Sort Popover -->
        <div class="cui-popover cui-popover--top cui-popover__sort-popover" tether target="#sort-button" attachment="top middle"
        target-attachment="bottom middle" offset="-10px 0" ng-if="orgDirectory.sortClicked">
          <p ng-click="orgDirectory.sort('alphabetically')">{{'cui-alphabetically' | translate}}</p>
          <p ng-click="orgDirectory.sort('date')">{{'cui-by-date-added' | translate}}</p>
        </div>
      </div>

      <!-- Refine -->
      <div class="cui-action__action-container" ng-click="orgDirectory.refineClicked=!orgDirectory.refineClicked" id="refine-button" off-click="orgDirectory.refineClicked=false">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
          <use xlink:href="bower_components/cui-icons/dist/font-awesome/font-awesome-out.svg#filter10"></use>
        </svg>
        <span class="cui-action__action-label">{{'refine' | translate}}</span>
        <!-- Refine Popover -->
        <div class="cui-popover cui-popover--top cui-popover__refine-popover" tether target="#refine-button" attachment="top middle" target-attachment="bottom middle" offset="-10px 0" ng-if="orgDirectory.refineClicked">
          <p ng-click="orgDirectory.parseUsersByStatus('all')">{{'all' | translate}} ({{orgDirectory.statusCount[0]}})</p>
          <div ng-repeat="status in orgDirectory.statusList" ng-if="myApplications.statusCount[$index+1]!==0">
            <p ng-click="orgDirectory.parseUsersByStatus(status)">{{status | translate}} ({{orgDirectory.statusCount[$index+1]}})</p>
          </div>
        </div>
      </div>

      <!-- Organizations -->
      <div class="cui-action__action-container" ng-click="orgDirectory.organizationsClicked=!orgDirectory.organizationsClicked" id="organizations-button" off-click="orgDirectory.organizationsClicked=false">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
          <use xlink:href="bower_components/cui-icons/dist/font-awesome/font-awesome-out.svg#nine10"></use>
        </svg>
        <span class="cui-action__action-label">{{'organizations' | translate}}</span>
        <!-- Organizations Popover -->
        <div class="cui-popover cui-popover--top cui-popover__categories-popover" tether target="#organizations-button" attachment="top middle" target-attachment="bottom middle" offset="-10px 0" ng-if="orgDirectory.organizationsClicked">
          <div ng-if="!orgDirectory.organizationList">
            <p>{{'cui-no-org-divisions' | translate}}!</p>
          </div>
          <div ng-if="orgDirectory.organizationList" ng-repeat="organization in orgDirectory.organizationList | orderBy:'name' track by organization.id">
            <p ng-if="organization.id!==orgDirectory.organization.id" ng-click="orgDirectory.getOrgMembers(organization);orgDirectory.organizationsClicked=false">{{organization.name | cuiI18n}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Profile Content -->
  <div class="cui-organization__main-container">
    <!-- User List Loading -->
    <div class="cui-loading__container" ng-if="orgDirectory.loading">
      <div class="cui-loading--center"><div class="cui-loading"></div></div>
    </div>

    <table class="cui-table cui-table--borderless">
      <thead>
        <tr>
          <th>{{'cui-name' | translate}}</th>
          <th></th>
          <th>{{'userID' | translate}}</th>
          <th>{{'cui-registered' | translate}}</th>
          <th>{{'status' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in orgDirectory.userList track by user.id" ui-sref="directory.userDetails({userID:user.id,orgID:orgDirectory.organization.id})">
          <th><div class="cui-media__image" cui-avatar cui-avatar-names="[user.name.given, user.name.surname]" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5"></div></th>
          <th><span>{{user.name.given}} {{user.name.surname}}</span></th>
          <th>{{user.username}}</th>
          <th>{{user.creation | date:base.appConfig.dateFormat}}</th>
          <th>{{user.status | translate}}</th>
        </tr>
      </tbody>
    </table>

    <!-- Pagination Controls -->
    <div class="cui-paginate__container">
      <span class="cui-paginate__results-label">{{'cui-num-results-page' | translate}}</span>
      <results-per-page class="cui-paginate__select" ng-model="orgDirectory.paginationPageSize"></results-per-page>
      <paginate class="cui-paginate" results-per-page="orgDirectory.paginationPageSize" count="orgDirectory.orgPersonCount" on-page-change="orgDirectory.paginationHandler" ng-model="orgDirectory.paginationCurrentPage" attach-rerender-to="orgDirectory.reRenderPagination"></paginate>
    </div>

  </div>
</div>
