<!-- Action Header -->
<div>
  <!-- Action Header 1 -->
  <div class="cui-action">
    <!-- User Name and Back Arrow -->
    <span class="cui-action__title cui-action__title--dark" ui-sref="directory.userDetails({userID:pendingRequests.user.id,orgID:pendingRequests.user.organization.id})">&#60; {{pendingRequests.user.name.given}} {{pendingRequests.user.name.surname}} - {{'pending-request' | translate}}</span>

    <!-- Invitations -->
    <div class="cui-action__actions">
      <div class="cui-action__action-container" id="invitation-button" ng-click="pendingRequests.invitationClicked=!pendingRequests.invitationClicked" off-click="pendingRequests.invitationClicked=false">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon cui-action__icon--invite" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
          <defs>
            <ellipse id="path-1" cx="20" cy="19.672" rx="20" ry="19.672"/>
            <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
              <feOffset dy="3" in="SourceAlpha" result="shadowOffsetOuter1"/>
              <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
              <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.27 0" in="shadowBlurOuter1"/>
            </filter>
          </defs>
          <use xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#invite"></use>
        </svg>
        <!-- Invitation Popover -->
        <div class="cui-popover cui-popover--top cui-popover__sort-popover" tether target="#invitation-button" attachment="top middle" target-attachment="bottom middle" offset="-10px 0" ng-if="pendingRequests.invitationClicked">
          <p ui-sref="invitation.user({orgID:pendingRequests.user.organization.id})">{{'invite-user' | translate}}</p>
          <p ui-sref="invitation.division({orgID:pendingRequests.user.organization.id})">{{'invite-division' | translate}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Action Header 2 -->
  <div class="cui-action cui-action--min">
    <!-- Navigation -->
    <nav class="cui-breadcrumb">
      <ul class="cui-breadcrumb__links">
        <li class="cui-breadcrumb__link">
          <a ui-sref="organization.profile({orgID:pendingRequests.user.organization.id})" ui-sref-active="active">{{'cui-org-profile' | translate}}</a> 
          </li>
        <li class="cui-breadcrumb__link">
          <a ui-sref="organization.hierarchy({orgID:pendingRequests.user.organization.id})" ui-sref-active="active">{{'cui-org-hierarchy' | translate}}</a> 
          </li>
        <li class="cui-breadcrumb__link">
          <a ui-sref="organization.directory({orgID:pendingRequests.user.organization.id})" ui-sref-active="active">{{'directory' | translate}}</a>
        </li> 
      </ul>
    </nav>
  </div>
</div>

<!-- Page Loading -->
<div class="cui-loading__container--user-details" ng-if="pendingRequests.loading">
  <div class="cui-loading--center"><div class="cui-loading"></div></div>
</div>

<!-- Name Header -->

  <div class="cui-media--centered" ng-if="!pendingRequests.loading">

    <!-- Avatar -->
    <div class="cui-media__image-container">
      <div class="cui-profile__user-avatar cui-media__image" cui-avatar cui-avatar-names="[pendingRequests.user.name.given, pendingRequests.user.name.surname]" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5"></div>
    </div>

    <!-- User Information -->
    <div class="cui-media__body">
      <!-- Name -->
      <h3 class="cui-media__title">{{pendingRequests.user.name.given}} {{pendingRequests.user.name.surname}}</h3>
      <!-- userID -->
      <p class="cui-media__content cui-media__content--dark">{{'userID' | translate}}: {{pendingRequests.user.id}}</p>
      <!-- Registered Date -->
      <p class="cui-media__content" ng-if="pendingRequests.user.status==='active'">{{'cui-registered' | translate}}: {{pendingRequests.user.creation | date:base.appConfig.dateFormat}}</p>
      <!-- Status: Active -->
      <p class="cui-media__content cui-status" ng-class="{'cui-status--active' : pendingRequests.user.status==='active'}" ng-if="pendingRequests.user.status==='active'">{{pendingRequests.user.status}}
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
          <use xlink:href="bower_components/cui-icons/dist/font-awesome/font-awesome-out.svg#unlock3"></use>
        </svg>
      </p>
      <!-- Status: Locked -->
      <p class="cui-media__content" ng-if="pendingRequests.user.status==='locked'">{{pendingRequests.user.status}}
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
          <use xlink:href="bower_components/cui-icons/dist/font-awesome/font-awesome-out.svg#lock24"></use>
        </svg>
      </p>
    </div>

  </div>
