<!-- Action Header -->
<div>
  <!-- Action Header 1 -->
  <div class="cui-action">
    <!-- User Name and Back Arrow -->
    <span class="cui-action__title cui-action__title--dark" ng-click="base.goBack('organization.directory.userList')">&#60; {{pendingRequests.user.name.given}} {{pendingRequests.user.name.surname}} - {{'pending-request' | translate}}</span>

    <!-- Invitations -->
    <div class="cui-action__actions" ng-include="'app/modules/organization/partials/invite-actions.html'"></div>
  </div>

  <!-- Action Header 2 -->
  <div class="cui-action cui-action--min">
    <!-- Navigation -->
    <nav class="cui-breadcrumb" ng-include="'app/modules/organization/partials/breadcrumbs.html'"></nav>
  </div>
</div>

<!-- Page Loading -->
<div class="cui-loading__container--user-details" ng-if="pendingRequests.loading">
  <div class="cui-loading--center"><div class="cui-loading"></div></div>
</div>

<!-- Name Header -->

  <div class="cui-media--centered" ng-if="!pendingRequests.loading">

    <!-- Avatar -->
    <div class="cui-media__image-container">
      <div class="cui-profile__user-avatar cui-media__image" cui-avatar cui-avatar-names="[pendingRequests.user.name.given, pendingRequests.user.name.surname]" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5"></div>
    </div>

    <!-- User Information -->
    <div class="cui-media__body">
      <!-- Name -->
      <h3 class="cui-media__title">{{pendingRequests.user.name.given}} {{pendingRequests.user.name.surname}}</h3>
      <!-- userID -->
      <p class="cui-media__content cui-media__content--dark">{{'userID' | translate}}: {{pendingRequests.user.id}}</p>
      <!-- Registered Date -->
      <p class="cui-media__content" ng-if="pendingRequests.user.status==='active'">{{'cui-registered' | translate}}: {{pendingRequests.user.creation | date:base.appConfig.dateFormat}}</p>
      <!-- Status: Active -->
      <p class="cui-media__content cui-status" ng-class="{'cui-status--active' : pendingRequests.user.status==='active'}" ng-if="pendingRequests.user.status==='active'">{{pendingRequests.user.status}}
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
          <use xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#unlock3"></use>
        </svg>
      </p>
      <!-- Status: Locked -->
      <p class="cui-media__content" ng-if="pendingRequests.user.status==='locked'">{{pendingRequests.user.status}}
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
          <use xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#lock24"></use>
        </svg>
      </p>
    </div>

  </div>
