<!-- Password Reset -->
<div class="cui-users__address-container user-details__password-reset show-address" ng-if="userDetails.specifyPassword.begun">
  <div class="cui-users__field">
    <span class="cui-field-val__field">{{'specify-password' | translate}}</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" ng-click="userDetails.specifyPassword.cancel()" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 53" aria-label="{{'cui-close' | translate}}">
      <use class="cui-icon__ref" xlink:href="node_modules/@covisint/cui-icons/dist/icons/icons-out.svg#close-no-fill"></use>
    </svg>
  </div>

  <ng-form name="password">

    <!-- New Password -->
    <div class="cui-input__password-holder" ng-init="userDetails.specifyPassword.form = password">
      <label for="newPassword">{{'cui-enter-new-password' | translate}}:</label>
      <input id="password-input" class="cui-input" name="newPassword" type="password" 
        ng-model="userDetails.specifyPassword.newPassword" 
        ng-required="true" 
        ng-class="{'cui-input--error': password.newPassword.$touched && password.newPassword.$invalid}" 
        password-validation="userDetails.passwordPolicy.rules" 
        ng-focus="userDetails.specifyPassword.rulesPopover=true" 
        ng-blur="userDetails.specifyPassword.rulesPopover=false"
        ng-change="userDetails.specifyPassword.validate(userDetails.specifyPassword.newPassword, password, 'newPassword')"
      />
      <!-- Password Rules Popover -->
      <div cui-popover target="#password-input" popover-positions="[{position:'right'},{position:'bottom'}]" ng-if="userDetails.specifyPassword.rulesPopover">
        <!-- <div password-popover ng-messages="password.newPassword.$error" ng-messages-multiple class="cui-error__password">
          <div ng-messages-include="app/common-templates/password-validation-history/password-validation-top.html"></div> -->
          <!-- History Rule -->
     <!--      <div class="cui-error__message">
            <p>{{'jlr-passwords-must-not' | translate}}</p>
            <div class="cui-validation__state"
              ng-class="userDetails.specifyPassword.validNewPassword ? 'cui-validation__state-pass' : 'cui-validation__state-error'"></div>
            <span translate="jlr-password-history-rule" translate-value-number-of-passwords="{{userDetails.numberOfPasswords}}"></span>
          </div>
        </div> -->
            <div password-popover ng-messages="password.newPassword.$error" ng-messages-multiple class="cui-error__password">
            <!-- Password-Validation-History-Top Template -->
            <div ng-messages-include="app/common-templates/password-validation-history/password-validation-top.html"></div>
            <!-- Password disallowed words Validation -->
            <div class="cui-error__message" ng-if="!userDetails.validNewPasswordDisallowed">
              <br/>
              <span translate="disallowed-password-rule" ></span>
            </div><br/>
            <!-- Password History Validation -->
            <div class="cui-error__message">
              <div class="cui-error__status"
                ng-class="{'cui-error__status--pass': userDetails.specifyPassword.validNewPassword}"></div>
              <span translate="cui-password-history-rule" translate-value-number-of-passwords="{{userDetails.numberOfPasswords}}"></span>
            </div><br/>
            <!-- Password-Validation-History-Bottom Template -->
            <div ng-messages-include="app/common-templates/password-validation-history/password-validation-bottom.html"></div>
          </div>
      </div>

    </div>

    <!-- Confirm New Password -->
<!--     <label for="newPasswordConfirm">{{'cui-re-enter-new-password' | translate}}:</label>
    <input id="password-input-re" class="cui-input" name="newPasswordConfirm" type="password" 
      ng-model="userDetails.specifyPassword.newPasswordConfirm" 
      match="userDetails.specifyPassword.newPassword" 
      password-validation="userDetails.passwordPolicy.rules" 
      ng-focus="userDetails.specifyPassword.rulesPopoverRe=true" 
      ng-blur="userDetails.specifyPassword.rulesPopoverRe=false" 
      ng-change="userDetails.specifyPassword.validate(userDetails.specifyPassword.newPasswordConfirm, password, 'newPasswordConfirm')"
    /> -->
      <label for="newPasswordRe">{{'cui-re-enter-new-password' | translate}}:</label>
      <div class="cui-error" ng-if="password.newPasswordRe.$touched && password.newPasswordRe.$error.match">
        <div class="cui-error__message">{{'password-mismatch' | translate}}</div>
      </div>
      <input class="cui-input" type="password" ng-model="userDetails.specifyPassword.newPasswordConfirm" name="newPasswordRe" match="userDetails.specifyPassword.newPassword" />
      <div class="cui-error" style="text-align: right;"ng-if="userDetails.lifetimeError">
        <div class="cui-error__message">{{'cannot-change-password'| translate}}</div>
      </div>

    <!-- Password Server Error -->
    <div class="cui-server-error" ng-if="base.apiError.for['userDetails.specifyPassword']">
      <div class="cui-server-error__container">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-server-error__close" ng-click="userDetails.specifyPassword.reset()" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 53" aria-label="{{'cui-close' | translate}}">
          <use class="cui-icon__ref" xlink:href="node_modules/@covisint/cui-icons/dist/icons/icons-out.svg#close-no-fill"></use>
        </svg>
        <span>{{'cui-error-try-again' | translate}}</span>
      </div>
    </div>

    <!-- Specify Password Controls -->
    <cui-button
      loading-if="base.loader.for['userDetails.specifyPassword']"
      success-if="userDetails.specifyPassword.success"
      button-click="userDetails.specifyPassword.confirm()"
    >
      <button class="cui-button"
        ng-class="{'cui-button--error': password.$invalid}" ng-disabled="password.$invalid"
      >
        {{'specify-password' | translate}}
      </button>
    </cui-button>

  </ng-form>
</div>
