<div class="cui-users__address-container user-details__password-reset show-address">
  {{'cui-suspend-confirm' | translate}}*

  <div class="cui-server-error" ng-if="base.apiError.for['userDetails.suspend']">
    <div class="cui-server-error__container">
      <span >{{ 'suspend-error' | translate }}</span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="cui-server-error__close" ng-click="base.apiError.for['userDetails.suspend'] = !base.apiError.for['userDetails.suspend']" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 53" aria-label="{{'cui-close' | translate}}">
      <use class="cui-icon__ref" xlink:href="node_modules/@covisint/cui-icons/dist/icons/icons-out.svg#close-no-fill"></use>
    </svg>
  </div>

  <textarea class="cui-text-area jlr-text-area--black-text" ng-required="true" style="margin: 20px" ng-model="userDetails.user.suspendReason" placeholder="{{'request-reason' | translate}}"></textarea>

  <div class="cui-users__address-submit">
    <a class="cui-link cui-form__cancel" href="" ng-click="userDetails.suspend.cancel()">{{'cui-cancel' | translate}}</a>
    <div class="pwd-ie-faux-button__container">
      <cui-button
        loading-if="base.loader.for['userDetails.suspend']"
        success-if="userDetails.suspend.success"
        button-click="userDetails.suspend.confirm()"

      >
      <!--  ng-disabled="userDetails.user.suspendReason.length==0"  userDetails.user.suspendReason.length==0 && userDetails.user.suspendReason != '{{'jlr-suspend-user-placeholder' | translate}}'-->
        <button ng-hide="userDetails.user.suspendReason.length==0" class="cui-button" ng-class="{'cui-button--error':userDetails.user.suspendReason.length==0 }"  ng-disabled="userDetails.user.suspendReason.length==0" >{{'yes' | translate}}</button>
      </cui-button>
      <button class="cui-button pwd-ie-faux-button" ng-hide="userDetails.user.suspendReason.length!=0">{{'yes' | translate}}</button>
    </div>
  </div>
</div>
