<div class="cui-users__address-container user-details__password-reset show-address">
  <p>{{'cui-unsuspend-confirm' | translate}}</p>

  <!-- Unsuspend Error -->
  <div class="cui-server-error" ng-if="base.apiError.for['userDetails.unsuspend']">
    <div class="cui-server-error__container">
      <span >{{ 'unsuspend-error' | translate }}</span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="cui-server-error__close" ng-click="base.apiError.for['userDetails.unsuspend'] = !base.apiError.for['userDetails.unsuspend']" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 53" aria-label="{{'cui-close' | translate}}">
      <use class="cui-icon__ref" xlink:href="node_modules/@covisint/cui-icons/dist/icons/icons-out.svg#close-no-fill"></use>
    </svg>
  </div>

  <textarea  class="cui-text-area jlr-text-area--black-text" style="width: 100%; margin-bottom: 20px" ng-model="userDetails.user.unsuspendReason" placeholder="{{'request-reason' | translate}}" ></textarea>

  <!-- Unsuspend Controls -->
    <div class="cui-organization__submit-row" disable-animate >
      <span ng-click="userDetails.unsuspend.cancel()" class="cursor__pointer" style="margin:5px">{{'cui-cancel' | translate}}</span>
      <button class="cui-button" ng-class="{'cui-button--error' : userDetails.user.unsuspendReason.length==0}" ng-if="!base.loader.for['userDetails.unsuspend'] && !base.apiError.for['userDetails.unsuspend'] && !userDetails.unsuspend.success" ng-click="userDetails.user.unsuspendReason.length>0&&userDetails.unsuspend.confirm()" style="margin:5px">{{'yes' | translate}}</button>
      <button class="cui-button" ng-if="base.loader.for['userDetails.unsuspend']">
        <div ng-include="'app/common-templates/partials/loader-updating.html'" ></div>
      </button>
      <button  class="cui-button" ng-class="{'cui-button--error' : userDetails.user.unsuspendReason.length==0}" ng-if="!base.loader.for['userDetails.unsuspend'] && base.apiError.for['userDetails.unsuspend'] && !userDetails.unsuspend.success" ng-click="userDetails.user.unsuspendReason.length>0&&userDetails.unsuspend.confirm()">{{'cui-error-try-again' | translate}}</button>
       <button  class="cui-button" ng-class="{'cui-button--error' : userDetails.user.unsuspendReason.length==0}" ng-if="!base.loader.for['userDetails.unsuspend'] && !base.apiError.for['userDetails.unsuspend'] && userDetails.unsuspend.success">{{'cui-success' | translate}}</button>
    </div>
</div>