<div class="code-info">Markup for this page can be found <a class="cui-link" href="https://github.com/thirdwavellc/cui-idm-b2x/tree/master/assets/angular-templates/applications/myApplications.html" target="blank">here</a> and the javascript <a href="https://github.com/thirdwavellc/cui-idm-b2x/tree/master/assets/js/app/applications/app.myApplications.js" class="cui-link" target="blank">here</a></div>
<div class="cui-action">
  <span class="cui-action__title" ui-sref="applications.myApplications">{{'my-applications' | translate}}</span>
  <div class="cui-action__actions">
    <div class="cui-action__action-container">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
          <use xlink:href="bower_components/cui-icons/dist/font-awesome/font-awesome-out.svg#sort14"></use>
        </svg>
        <span class="cui-action__action-label">Sort</span>
    </div>
    <div class="cui-action__action-container">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
          <use xlink:href="bower_components/cui-icons/dist/font-awesome/font-awesome-out.svg#filter10"></use>
        </svg>
        <span class="cui-action__action-label">Refine</span>
    </div>
    <div class="cui-action__action-container">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
          <use xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#categories"></use>
        </svg>
        <span class="cui-action__action-label">Categories</span>
    </div>
    <svg ui-sref="applications.newRequest" xmlns="http://www.w3.org/2000/svg" class="cui-action__icon cui-action__icon--new" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 53">
      <use xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#new"></use>
    </svg>
  </div>
</div>
<div class="cui-applications__main-container">
    <div class="cui-loading__container" ng-if="!myApplications.doneLoading">
        <div class="cui-loading--center"><div class="cui-loading"></div></div>
    </div>
    <div class="sorting">
        <!-- API GAP None of the sorting mechanisms are available from the Person Package Grant API -->
    </div>
    <div ng-if="myApplications.doneLoading">
        <div class="cui-media cui-media--border" ng-repeat="application in myApplications.list track by application.id" ng-click="myApplications.goToDetails(application)">
            <!-- <div class="cui-media__image-container"> API GAP Where do the icons come from? </div> -->
            <div class="cui-media__body cui-media__body--full">
                <h3 class="cui-media__title" ng-bind="application.name | cuiI18n"></h3>
                <span class="cui-media__content" ng-if="application.category"> {{application.category | cuiI18n}}</span>
                <span class="cui-status" ng-class="'cui-status--'+application.status" ng-bind="application.status | lowercase"></span>
            </div>
        </div>
    </div>
</div>