<div class="cui-organization__profile-right-header cui-desktop-only">

  <!-- Applications -->
  <div class="cui-organization__profile-header-item" id="applications-button" ng-click="userDetails.appsHistorySwitch='apps'">
    <div ng-class="{ 'cui-action__icon--active':userDetails.appsHistorySwitch=='apps'}">
      <cui-icon cui-svg-icon="cui:applications_v2" svg-class="cui-action__icon" use-class="cui-card__icon" viewbox="0 0 48 50" preserveAspectRatio="xMidYMid meet" ></cui-icon>
    </div>
    <span class="cui-action__action-label">{{'apps-upper' | translate}}</span>
  </div>

  <!-- History -->
  <div class="cui-organization__profile-header-item" id="applications-button" ng-click="userDetails.appsHistorySwitch='history'" ng-if="false">
    <div ng-class="{ 'cui-action__icon--active':userDetails.appsHistorySwitch=='history'}">
      <cui-icon cui-svg-icon="cui:history" svg-class="cui-action__icon cui-action__icon--history"  use-class="cui-card__icon" viewbox="0 0 48 52" preserveAspectRatio="xMidYMid meet" ></cui-icon>
    </div>
    <span class="cui-action__action-label">{{'history-upper' | translate}}</span>
  </div>
  
  <div class="cui-organization__profile-header-items--right" ng-if="false">
    <!-- Sort -->
    <div class="cui-organization__profile-header-item" id="sort-button" ng-click="userDetails.sortClicked=!userDetails.sortClicked" off-click="userDetails.sortClicked=false" ng-if="userDetails.appsHistorySwitch">
      <div>
        <cui-icon cui-svg-icon="fa:sort14" svg-class="cui-action__icon" use-class="cui-card__icon" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet" ></cui-icon>
      </div>
      <span class="cui-action__action-label">{{'sort' | translate}}</span>
    </div>
    <!-- Sort Popover -->
    <div class="cui-popover cui-popover--top cui-popover__sort-popover" tether target="#sort-button" attachment="top middle" target-attachment="bottom middle" offset="-10px 0" ng-if="userDetails.sortClicked">
      <p ng-click="">{{'cui-alphabetically' | translate}}</p>
      <p ng-click="">{{'cui-by-date-added' | translate}}</p>
    </div>
    
    <!-- Categories -->
    <div class="cui-organization__profile-header-item " id="categories-button" ng-click="userDetails.categoriesClicked=!userDetails.categoriesClicked" off-click="userDetails.categoriesClicked=false" ng-if="userDetails.appsHistorySwitch">
      <div>
        <cui-icon cui-svg-icon="cui:categories" svg-class="cui-action__icon" use-class="cui-card__icon" viewbox="0 0 48 48" preserveAspectRatio="xMidYMid meet" ></cui-icon>
      </div>
      <span class="cui-action__action-label">{{'categories' | translate}}</span>
    </div>
    <!-- Categories Popover -->
    <div class="cui-popover cui-popover--top cui-popover__categories-popover" tether target="#categories-button" attachment="top middle" target-attachment="bottom middle" offset="-10px 0" ng-if="userDetails.categoriesClicked">
      <p ng-click="">TODO!</p>
    </div>
  </div>
</div>
