<div class="cui-action">
  <nav class="cui-breadcrumb" ng-include="'app/modules/organization/partials/breadcrumbs.html'"></nav>
  <nav class="cui-breadcrumb--mobile" ng-include="'app/modules/organization/directory/user-details/sections/headers/userDetails-breadcrumb.html'" id="breadcrumb-button" aria-hidden="true" ng-click="orgDirectory.breadcrumbClicked=!orgDirectory.breadcrumbClicked" off-click="orgDirectory.breadcrumbClicked=false"></nav>
  <div class="cui-action__actions" ng-include="'app/modules/organization/partials/invite-actions.html'"></div>
</div>

<!-- Name Header -->
<div class="cui-media--centered">

  <!-- Page Loading -->
  <div class="cui-loading__container--user-details" ng-if="userDetails.loading">
    <div class="cui-loading--center"><div class="cui-loading"></div></div>
  </div>

  <div class="cui-media__image-container" ng-if="!userDetails.loading">
    <div class="cui-profile__user-avatar cui-media__image" cui-avatar cui-avatar-names="[userDetails.user.name.given, userDetails.user.name.surname]" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5"></div>
  </div>
  <div class="cui-media__body" ng-if="!userDetails.loading">
    <!-- Name -->
    <h3 class="cui-media__title">{{userDetails.user.name.given}} {{userDetails.user.name.surname}}</h3>
    <!-- userID -->
    <p class="cui-media__content cui-media__content--bold">userID: {{userDetails.user.id}}</p>
    <!-- Registered Date -->
    <p class="cui-media__content">Registered: {{userDetails.user.creation | date:base.appConfig.dateFormat}}</p>
    <!-- Status: Active -->
    <div class="cui-media__content">
      <span class="cui-status" ng-class=" 'cui-status--'+userDetails.user.status ">{{userDetails.user.status}}</span>
    </div>
  </div>
</div>
<div class="cui-media__button-container">
  <button class="cui-button cui-button--inverted">suspend</button>
  <button class="cui-button cui-button--inverted">password reset</button>
  <button class="cui-button cui-button--inverted" ui-sref="organization.requests.newGrant({userID:userDetails.user.id})">new grants</button>
</div>

