<div class="cui-action">
  <nav class="cui-breadcrumb" ng-include="'app/modules/organization/partials/breadcrumbs.html'"></nav>
  <div class="cui-action__actions" ng-include="'app/modules/organization/partials/invite-actions.html'"></div>
</div>

<!-- Name Header -->
<div class="cui-media--centered">

  <!-- Page Loading -->
  <div class="cui-loading__container--user-details" ng-if="userDetails.loading">
    <div class="cui-loading--center"><div class="cui-loading"></div></div>
  </div>

  <div ng-if="!userDetails.loading">
    <div class="cui-media__image-container">
      <div class="cui-profile__user-avatar" cui-avatar cui-avatar-names="[userDetails.user.name.given, userDetails.user.name.surname]" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5"></div>
    </div>
    <div class="cui-media__body">
      <!-- Name -->
      <h3 class="cui-media__title">{{userDetails.user.name.given}} {{userDetails.user.name.surname}}</h3>
      <!-- userID -->
      <p class="cui-media__content cui-media__content--bold">userID: {{userDetails.user.id}}</p>
      <!-- Registered Date -->
      <p class="cui-media__content">Registered: {{userDetails.user.creation | date:base.appConfig.dateFormat}}</p>
      <!-- Status: Active -->
      <p class="cui-media__content" ng-if="userDetails.user.status==='active'">{{userDetails.user.status}}
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
          <use xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#unlock3"></use>
        </svg>
      </p>
      <!-- Status: Locked -->
      <p class="cui-media__content" ng-if="userDetails.user.status==='locked'">{{userDetails.user.status}}
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
          <use xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#lock24"></use>
        </svg>
      </p>
    </div>
  </div>
</div>
<div class="cui-media__button-container">
  <button class="cui-button cui-button--inverted">suspend</button>
  <button class="cui-button cui-button--inverted">password reset</button>
  <button class="cui-button cui-button--inverted" ui-sref="organization.requests.newGrant({userID:userDetails.user.id})">new grants</button>
</div>

