<div class="cui-action">
  <div class="cui-action__actions">

    <!-- Profile -->
    <div class="cui-action__action-container" ng-click="userDetails.profileRolesSwitch=true" id="profile-button" off-click="">
      <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
        <use xlink:href="node_modules/@covisint/cui-icons/dist/icons/icons-out.svg#profile"></use>
      </svg>
      <span class="cui-action__action-label">PROFILE</span>
    </div>

    <!-- Roles -->
    <div class="cui-action__action-container" ng-click="userDetails.profileRolesSwitch=false" id="roles-button">
      <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
        <use xlink:href="node_modules/@covisint/cui-icons/dist/icons/icons-out.svg#help"></use>
      </svg>
      <span class="cui-action__action-label">ROLES</span>
    </div>

  </div>
</div>
