<div class="cui-action">
  <nav ng-include="'app/modules/organization/partials/breadcrumbs.html'"></nav>
  <nav ng-include="'app/modules/organization/partials/mobileNav.html'"></nav>
  <div class="cui-action__actions" ng-include="'app/modules/organization/partials/invite-actions.html'" ng-if="false"></div>
</div>

<!-- Page Loading -->
<div class="cui-loading__container" ng-if="base.loader.for['userDetails.userInfo']">
  <div class="cui-loader cui-loader--content cui-loader--content-vert" ng-include="'app/common-templates/partials/loader-content-vert.html'"></div>
</div>

<!-- Name Header -->
<div class="cui-media--centered">
  <div class="cui-media__image-container" ng-if="!base.loader.for['userDetails.userInfo']">
    <div class="cui-profile__user-avatar cui-media__image" cui-avatar cui-avatar-names="[userDetails.user.name.given, userDetails.user.name.surname]" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5" cui-avatar-email="userDetails.user.email"></div>
  </div>
  <div class="cui-media__body" ng-if="!userDetails.loading">
    <!-- Name -->
    <h3 class="cui-media__title">{{userDetails.user.name.given}} {{userDetails.user.name.surname}}</h3>
    <!-- userID -->
    <p class="cui-media__content cui-media__content--bold">{{'userID' | translate}}: {{userDetails.user.id}}</p>
    <!-- Registered Date -->
    <p class="cui-media__content">{{'cui-registered' | translate}}: {{userDetails.user.creation | date:base.appConfig.dateFormat}}</p>
    <!-- Status: Active -->
    <div class="cui-media__content">
      <span class="cui-status" ng-class=" 'cui-status--'+userDetails.user.status ">{{userDetails.user.status}}</span>
    </div>
  </div>
</div>

<div class="cui-media__button-container">
  <button class="cui-button cui-button--inverted">{{'suspend' | translate}}</button>
  <button class="cui-button cui-button--inverted">{{'password-reset' | translate}}</button>
  <button class="cui-button cui-button--inverted" ui-sref="organization.requests.newGrant({userId:userDetails.user.id})">{{'new-grants' | translate}}</button>
</div>
