<!-- Welcome -->
<div class="cui-desktop-menu__option" ui-sref="welcome" ui-sref-active="active" ng-if="!base.user.id" ng-click="base.menu.desktop.close()">
  <span class="cui-desktop-menu__option-name">{{'welcome' | translate}}</span>
  <cui-icon cui-svg-icon="fa:four29" svg-class="cui-desktop-menu__icon" viewBox="0 0 216 146" preserveAspectRatio="xMidYMid meet"></cui-icon>
</div>

<!-- My Applications -->
<div class="cui-desktop-menu__option" ui-sref="applications.myApplications" ui-sref-active-nested="active" ng-click="base.menu.desktop.close()">
  <span class="cui-desktop-menu__option-name">{{'cui-applications' | translate}}</span>
  <cui-icon cui-svg-icon="cui:applications_v2" svg-class="cui-desktop-menu__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
</div>

<!-- Organization Profile -->
<div class="cui-desktop-menu__option" ui-sref="organization.profile" ui-sref-active-nested="active" ng-click="base.menu.desktop.close()">
  <span class="cui-desktop-menu__option-name">{{'cui-org' | translate}}</span>
  <cui-icon cui-svg-icon="cui:organization" svg-class="cui-desktop-menu__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
</div>

<!-- ADMIN TEST -->
<div class="cui-desktop-menu__option" 
 ng-show="base.permitted({
 	all: {
 		roles: {
 			any: ['TIB Administrator', 'Choc']
 		}, 
 		entitlements: {
 			any: ['Modify No Fly List', 'Vani']
 		} 
 	} 
 })"
 ui-sref="organization.profile" 
 ui-sref-active-nested="active" 
 ng-click="base.menu.desktop.close()">
  <span class="cui-desktop-menu__option-name">Permitted POC</span>
  <cui-icon cui-svg-icon="cui:organization" svg-class="cui-desktop-menu__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
</div>
