<!-- Page Loading -->
<div class="cui-loading__container--user-details" ng-if="userDetailsHistory.loading">
  <div class="cui-loading--center"><div class="cui-loading"></div></div>
</div>

<div class="cui-users__history-container" ng-if="!userDetailsHistory.loading">
        <!-- Error Messages -->
        <p class="cui-users__password-success" style="color:red" ng-if="base.apiError.for['userHistoryFactory.initStatusHistory']">{{'cui-userstatus-history-error' | translate}} {{'cui-try-again'|translate}}</p>
        <p class="cui-users__password-success" style="color:red" ng-if="base.apiError.for['userHistoryFactory.initPasswordChangeHistory']">{{'cui-password-change-log-error' | translate}} {{'cui-try-again'|translate}}</p>
        <!-- History Info -->
        <div class="cui-users__profile cui-users__history">
            <!-- Left Block -->
            <div class="cui-users__profile-info">
                <div class="cui-action">
                    <div class="cui-action__title">{{'cui-status-history'|translate}}</div>
                </div>
                <div class="cui-users__info-block">
                    <div class="cui-users__last-login">{{'cui-last-login' | translate}}: {{userDetails.user.lastLoginDate | date:base.appConfig.dateFormat}}</div>
                </div>
                <div class="cui-users__info-block">
                    <div ng-repeat="status in userDetailsHistory.statusHistory">
                        <span class="cui-field-val__field">{{status.status|lowercase}}</span>
                        <span class="cui-field-val__val">: {{status.lastUpdatedDate}}</span>
                    </div>
                </div>
            </div>
            <!-- Right Block -->
            <!-- Admin cannot see users password change log -->
            <!-- <div class="cui-users__profile-info">
                <div class="cui-action">
                    <div class="cui-action__title">{{'cui-password-change-log'|translate}}</div>
                </div>
                <p class="cui-users__password-success" style="color:#4a4a4a">{{'cui-no-details' | translate}}</p>
                <table class="cui-table-alt" ng-if="userDetailsHistory.passwordChangeHistory&&userDetailsHistory.passwordChangeHistory.length!=0">
                    <thead>
                        <th>{{'cui-date'|translate}}</th>
                        <th>{{'cui-event-type'|translate}}</th>
                        <th>{{'cui-action-by'|translate}}</th>
                        <th>{{'cui-notes'|translate}}</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pwdChangeHistory in userDetailsHistory.passwordChangeHistory">
                            <td>{{pwdChangeHistory.creation|date:base.appConfig.dateFormat}}</td>
                            <td>{{pwdChangeHistory.eventType|lowercase}}</td>
                            <td><span ng-if="pwdChangeHistory.passwordUpdatedUserId">{{userHistory.userName.given}} {{userHistory.userName.surname}}</span></td>
                            <td>{{pwdChangeHistory.reason}}</td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
        </div>
</div>
