<!-- Page Loading -->
<div class="cui-loading__container--user-details" ng-if="userDetailsHistory.loading">
  <div class="cui-loading--center"><div class="cui-loading"></div></div>
</div>

<div ng-if="!userDetailsHistory.loading">
	<!-- Status History -->
	<div>
		<!-- Status History: Title -->
		<div>
			<h3>{{'cui-user-status-history'|translate}}</h3>
		</div>
		<!-- Status History: List -->
		<p ng-if="userDetailsHistory.personStatusHistory.length===0">{{'cui-no-status-history'|translate}}</p>
		<div ng-repeat="status in userDetailsHistory.personStatusHistory">
			<p>{{status}}</p>
		</div>
	<div>

	<!-- Application History -->
	<div>
		<!-- Action Header -->
		<div class="cui-action">
		<span class="cui-action__title">{{'cui-app-history'|translate}}</span>
  		<div class="cui-action__actions">
    		<!-- Sort -->
    		<div class="cui-action__action-container" id="sort-button" ng-click="userDetailsHistory.sortClicked=!userDetailsHistory.sortClicked" off-click="userDetailsHistory.sortClicked=false">
          <div>
            <cui-icon cui-svg-icon="fa:sort14" svg-class="cui-action__icon" use-class="cui-card__icon" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet" ></cui-icon>
          </div>
      		<!--svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
        		<use xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#sort14"></use>
      		</svg-->
      		<span class="cui-action__action-label">{{'sort'|translate}}</span>
      		<!-- Sort Popover -->
      		<div class="cui-popover cui-popover--top cui-popover__sort-popover" tether target="#sort-button" attachment="top middle" target-attachment="bottom middle" offset="-10px 0" ng-if="userDetailsHistory.sortClicked">
        		<p>{{'cui-alphabetically' | translate}}</p>
        		<p>{{'cui-by-date-added' | translate}}</p>
      		</div>
    		</div>
    		<!-- Refine -->
    		<div class="cui-action__action-container" id="refine-button" ng-click="userDetailsHistory.refineClicked=!userDetailsHistory.refineClicked" off-click="userDetailsHistory.refineClicked=false">
                    
          <div>
            <cui-icon cui-svg-icon="fa:filter10" svg-class="cui-action__icon" use-class="cui-card__icon" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet" ></cui-icon>
          </div>
					<!--svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
        		<use xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#filter10"></use>
      		</svg-->
      		<span class="cui-action__action-label">{{'refine'|translate}}</span>
      		<!-- Refine Popover -->
      		<div class="cui-popover cui-popover--top cui-popover__sort-popover" tether target="#refine-button" attachment="top middle" target-attachment="bottom middle" offset="-10px 0" ng-if="userDetailsHistory.refineClicked">
        		<p>TODO: REFINE</p>
      		</div>
    		</div>
  		</div>
		</div>
		<!-- Applicatiom History: List -->
		<div>
			<p>API Blocker: Application History List</p>
		</div>
	</div>
</div>
