<ng-form name="user" novalidate>

  <!-- First row -->
  <div class="cui-wizard__field-row">
    <!-- First Name -->
    <div class="cui-wizard__field-container cui-wizard__field-container--half">
      <label for="user-name-given">{{'cui-first-name' | translate}}</label>
      <div class="cui-error" ng-messages="user.firstName.$error" ng-if="user.firstName.$dirty">
        <div class="cui-error__message" ng-message="required">{{'cui-this-field-is-required' | translate}}</div>
      </div>
      <input type="text" name="firstName" class="cui-input" ng-required="true" ng-model="userWalkup.user.name.given"/>
    </div>

    <!-- Last Name -->
    <div class="cui-wizard__field-container cui-wizard__field-container--half">
      <label for="user-name-surname">{{'cui-last-name' | translate}}</label>
      <div class="cui-error" ng-messages="user.lastName.$error" ng-if="user.lastName.$dirty">
        <div class="cui-error__message" ng-message="required">{{'cui-this-field-is-required' | translate}}</div>
      </div>
      <input type="text" ng-model="userWalkup.user.name.surname" name="lastName" class="cui-input" ng-required="true"/>
    </div>
  </div>

  <!-- Second row -->
  <div class="cui-wizard__field-row">
    <!-- Email -->
    <div class="cui-wizard__field-container cui-wizard__field-container--half">
      <label>{{'cui-email' | translate}}</label>
      <div class="cui-error" ng-messages="user.email.$error" ng-if="user.email.$dirty">
        <div class="cui-error__message" ng-message="required">{{'cui-this-field-is-required' | translate}}</div>
      </div>
      <!-- Custom Error: Check If Email Taken -->
      <div class="cui-error" ng-if="user.email.$error.email && user.email.$dirty">
        <div class="cui-error__message">{{'cui-this-is-not-valid-email' | translate}}</div>
      </div>
      <div ng-if="!userWalkup.isEmailTaken" class="cui-warning">{{'cui-error-email-exists' | translate}}</div>
      <input type="text" name="email" class="cui-input" custom-error="userWalkup.customErrors.email" ng-required="true" ng-model="userWalkup.user.email" ng-blur="userWalkup.checkDuplicateEmail(userWalkup.user.email)"/>
    </div>

    <!-- Re-enter Email -->
    <div class="cui-wizard__field-container cui-wizard__field-container--half">
      <label>{{'cui-email-re' | translate}}</label>
      <div class="cui-error" ng-if="user.emailRe.$dirty && user.emailRe.$error.match">
        <div class="cui-error__message">{{'email-mismatch' | translate}}</div>
      </div>
      <input type="text" ng-model="userWalkup.emailRe" name="emailRe" class="cui-input" ng-required="true" match="userWalkup.user.email"/>
    </div>
  </div>

  <!-- Third row -->
  <div class="cui-wizard__field-row">
    <!-- Country -->
    <div class="cui-wizard__field-container cui-wizard__field-container--half">
      <label for="country">{{"cui-country" | translate}}</label>
      <div class="cui-error" ng-messages="user.country.$error" ng-if="user.country.$dirty">
        <div class="cui-error__message" ng-message="required">{{'cui-this-field-is-required' | translate}}</div>
      </div>
      <div auto-complete input-name="country" pause="100" selected-object="userWalkup.userCountry" local-data="base.countries.list" search-fields="name" title-field="name" input-class="cui-input" match-class="highlight" auto-match="true" field-required="userWalkup.userCountry"></div>
    </div>

    <!-- Address 1 -->
    <div class="cui-wizard__field-container cui-wizard__field-container--half">
      <label>{{"cui-street-address" | translate}}</label>
      <div class="cui-error" ng-messages="user.address1.$error" ng-if="user.address1.$dirty">
        <div class="cui-error__message" ng-message="required">{{'cui-this-field-is-required' | translate}}</div>
      </div>
      <input type="text" ng-model="userWalkup.user.addresses[0].streets[0]" class="cui-input" name="address1" ng-required="true">
    </div>
  </div>

  <!-- Fourth row -->
  <div class="cui-wizard__field-row">
    <!-- Address 2 -->
    <div class="cui-wizard__field-container cui-wizard__field-container--half">
      <label >{{"cui-address" | translate}} 2</label>
      <input type="text" ng-model="userWalkup.user.addresses[0].streets[1]" class="cui-input" name="address2" placeholder="{{'cui-address-example' | translate}}">
    </div>

    <!-- City -->
    <div class="cui-wizard__field-container cui-wizard__field-container--half">
      <label>{{"cui-city" | translate}}</label>
      <input type="text" ng-model="userWalkup.user.addresses[0].city" class="cui-input" name="city"/>
    </div>
  </div>

  <!-- Fifth row -->
  <div class="cui-wizard__field-row">
    <!-- State/Province -->
    <div class="cui-wizard__field-container cui-wizard__field-container--half">
      <label>{{"cui-state" | translate}}</label>
      <input type="text" ng-model="userWalkup.user.addresses[0].state" class="cui-input" name="state"/>
    </div>

    <!-- Postal Code -->
    <div class="cui-wizard__field-container cui-wizard__field-container--half">
      <label for="postal-code">{{"cui-postal" | translate}}</label>
      <input type="text" ng-model="userWalkup.user.addresses[0].postal" class="cui-input" name="postal"/>
    </div>
  </div>

  <!-- Sixth row -->
  <div class="cui-wizard__field-row">
    <!-- Telephone number -->
    <div class="cui-wizard__field-container cui-wizard__field-container--half">
      <label>{{"cui-telephone" | translate}}</label>
      <div class="cui-error" ng-messages="user.telephone.$error" ng-if="user.telephone.$dirty">
        <div class="cui-error__message" ng-message="required">{{'cui-this-field-is-required' | translate}}</div>
      </div>
      <input type="text" ng-model="userWalkup.user.phones[0].number" class="cui-input" name="telephone" ng-required="true"/>
    </div>
    <!--Language Preference-->
    <div class="cui-wizard__field-container cui-wizard__field-container--half">
        <label>{{'cui-language' | translate}}</label>
        <cui-dropdown ng-model="userWalkup.user.language" class="cui-dropdown" return-value="object" display-value="object.name" options="userWalkup.languages"></cui-dropdown>
    </div>
  </div>
    <!-- Seventh row -->
  <div class="cui-wizard__field-row">
    <!-- Timezone -->
    <div class="cui-wizard__field-container cui-wizard__field-container--half">
        <label for="timezone">{{'cui-timezone' | translate}}</label>
        <cui-dropdown ng-model="userWalkup.user.timezone" class="cui-dropdown" return-value="object" display-value="object.name" options="base.timezones"></cui-dropdown>
    </div>
  </div>

  <!-- TOS -->
  <div class='cui-tos-container'>
    <input type="checkbox" name="TOS" id="TOS" ng-model="usersRegister.tos" ng-required="true" class="cui-checkbox">
    <label ng-click="usersRegister.tos=!usersRegister.tos" class="cui-checkbox__label"> {{'cui-agree-covisint' | translate}}
      <a href="" class="cui-link cui-padding--h-5">{{'terms-of-service' | translate}}</a> {{'cui-and' | translate}}
      <a href="" class="cui-link cui-padding--h-5">{{'privacy-policy' | translate}}</a>
    </label>
    <span class="cui-wizard__step-error" ng-if="user.TOS.$dirty && user.TOS.$error.required"><br/><br/> {{'cui-tos-agree' | translate}} </span>
  </div>

  <div class="cui-wizard__controls cui-wizard__controls--clear">
    <button type="button" class="cui-wizard__next" ng-if="!wizardFinished" ng-click="nextWithErrorChecking(user)" ng-class="(user.$invalid)? 'cui-wizard__next--error' : ''">{{'cui-next' | translate}}</button>
    <button type="button" class="cui-wizard__next" ng-if="wizardFinished" ng-click="user.$valid && goToStep(5)" ng-class="(user.$invalid)? 'cui-wizard__next--error' : ''">{{'cui-back-to-review' | translate}}</button>
  </div>
</ng-form>
