<!-- User Information -->
<cui-expandable class="cui-expandable expanded">
  <!-- <div class="cui-expandable__edit-button" ng-click="goToStep(1)">
    <cui-icon cui-svg-icon="fa:edit" svg-class="cui-expandable__edit-icon"></cui-icon>
  </div> -->
  <cui-expandable-title class="cui-expandable__title cui-expandable__title--flex" ng-click="toggleExpand()">
    {{'cui-user-information' | translate}}
    <cui-icon cui-svg-icon="fa:chevron18" svg-class="cui-icon cui-icon--light-grey chevron" use-class="cui-icon__ref" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet"></cui-icon>
  </cui-expandable-title>

  <cui-expandable-body disable-animate class="cui-expandable__body">
    <!-- First Name -->
    <div class="cui-expandable__review-item__inline-edit">
      <div class="cui-error" ng-messages="userWalkup.inlineEdit.firstNameError">
          <div ng-messages-include="app/common-templates/messages.html"></div>
        </div>
      <inline-edit  wrapper-class="cui-expandable__review-item__inline-wrapper" input-class="cui-expandable__review-input" label-class="cui-expandable__review-item__field" value-class="dummy" class="cui-users__field" label="cui-first-name" model="userWalkup.user.name.given" on-edit="userWalkup.inlineEdit.firstName" hide-save-if="userWalkup.inlineEdit.noSaveFirstName" on-save="userWalkup.inlineEdit.updateFirstNameError"></inline-edit>
    </div>
    <!-- Last Name -->
    <div class="cui-expandable__review-item__inline-edit">
      <div class="cui-error" ng-messages="userWalkup.inlineEdit.lastNameError">
          <div ng-messages-include="app/common-templates/messages.html"></div>
        </div>
      <inline-edit  wrapper-class="cui-expandable__review-item__inline-wrapper" input-class="cui-expandable__review-input" label-class="cui-expandable__review-item__field" value-class="dummy" class="cui-users__field" label="cui-last-name" model="userWalkup.user.name.surname" on-edit="userWalkup.inlineEdit.lastName" hide-save-if="userWalkup.inlineEdit.noSaveLastName" on-save="userWalkup.inlineEdit.updateLastNameError"></inline-edit>
    </div>
    <!-- Email -->
    <div class="cui-expandable__review-item__inline-edit">
      <div class="cui-error" ng-messages="userWalkup.inlineEdit.emailError">
          <div ng-messages-include="app/common-templates/messages.html"></div>
      </div>
      <div ng-if="!userWalkup.isEmailTaken" class="cui-warning">{{'cui-error-email-exists' | translate}}</div>
      <inline-edit  wrapper-class="cui-expandable__review-item__inline-wrapper" input-class="cui-expandable__review-input" label-class="cui-expandable__review-item__field" value-class="dummy" class="cui-users__field" label="cui-email" model="userWalkup.user.email" on-edit="userWalkup.inlineEdit.email" on-save="userWalkup.inlineEdit.updateEmailError" hide-save-if="userWalkup.inlineEdit.noSaveEmail"></inline-edit>
    </div>
    <!-- Country -->
    <div class="cui-expandable__review-item__inline-edit">
      <div class="cui-error" ng-messages="userWalkup.inlineEdit.countryError">
          <div ng-messages-include="app/common-templates/messages.html"></div>
        </div>
      <inline-edit  type="auto-complete" wrapper-class="cui-expandable__review-item__inline-wrapper" input-class="cui-expandable__review-input cui-expandable__review-input__autocomplete" label-class="cui-expandable__review-item__field" value-class="dummy" class="cui-users__field" label="cui-country" model="userWalkup.userCountry" display="userWalkup.userCountry.title" selected-object="userWalkup.userCountry" local-data="base.countries.list" search-fields="name" title-field="name" on-edit="userWalkup.inlineEdit.country" on-save="userWalkup.inlineEdit.updateCountryError" hide-save-if="userWalkup.inlineEdit.noSaveCountry" field-required="userWalkup.userCountry"></inline-edit>
    </div>
    <!-- Address1 -->
    <div class="cui-expandable__review-item__inline-edit">
      <div class="cui-error" ng-messages="userWalkup.inlineEdit.address1Error">
          <div ng-messages-include="app/common-templates/messages.html"></div>
        </div>
      <inline-edit  wrapper-class="cui-expandable__review-item__inline-wrapper" input-class="cui-expandable__review-input" label-class="cui-expandable__review-item__field" value-class="dummy" class="cui-users__field" label="cui-address-1" model="userWalkup.user.addresses[0].streets[0]" on-edit="userWalkup.inlineEdit.address1" hide-save-if="userWalkup.inlineEdit.noSaveAddress1" on-save="userWalkup.inlineEdit.updateAddress1Error"></inline-edit>
    </div>
    <!-- Address2 -->
    <div class="cui-expandable__review-item__inline-edit">
      <inline-edit  wrapper-class="cui-expandable__review-item__inline-wrapper" input-class="cui-expandable__review-input" label-class="cui-expandable__review-item__field" value-class="dummy" class="cui-users__field" label="cui-address-2" model="userWalkup.user.addresses[0].streets[1]"></inline-edit>
    </div>
    <!-- City -->
    <div class="cui-expandable__review-item__inline-edit">
      <inline-edit  wrapper-class="cui-expandable__review-item__inline-wrapper" input-class="cui-expandable__review-input" label-class="cui-expandable__review-item__field" value-class="dummy" class="cui-users__field" label="cui-city" model="userWalkup.user.addresses[0].city"></inline-edit>
    </div>
    <!-- state -->
    <div class="cui-expandable__review-item__inline-edit">
      <inline-edit  wrapper-class="cui-expandable__review-item__inline-wrapper" input-class="cui-expandable__review-input" label-class="cui-expandable__review-item__field" value-class="dummy" class="cui-users__field" label="cui-state" model="userWalkup.user.addresses[0].state"></inline-edit>
    </div>
    <!-- postal -->
    <div class="cui-expandable__review-item__inline-edit">
      <inline-edit  wrapper-class="cui-expandable__review-item__inline-wrapper" input-class="cui-expandable__review-input" label-class="cui-expandable__review-item__field" value-class="dummy" class="cui-users__field" label="cui-postal" model="userWalkup.user.addresses[0].postal"></inline-edit>
    </div>
    <!-- Phone Number -->
    <div class="cui-expandable__review-item__inline-edit">
      <div class="cui-error" ng-messages="userWalkup.inlineEdit.telephoneError">
          <div ng-messages-include="app/common-templates/messages.html"></div>
        </div>
      <inline-edit  wrapper-class="cui-expandable__review-item__inline-wrapper" input-class="cui-expandable__review-input" label-class="cui-expandable__review-item__field" value-class="dummy" class="cui-users__field" label="cui-telephone" model="userWalkup.user.phones[0].number" on-edit="userWalkup.inlineEdit.telephone" hide-save-if="userWalkup.inlineEdit.noSaveTelephone" on-save="userWalkup.inlineEdit.updateTelephoneError"></inline-edit>
    </div> 
    <!-- Language -->
    <div class="cui-expandable__review-item__inline-edit">
      <inline-edit  type="dropdown" wrapper-class="cui-expandable__review-item__inline-wrapper" input-class="cui-expandable__review-input__dropdown" label-class="cui-expandable__review-item__field" value-class="dummy" class="cui-users__field" label="cui-language" model="userWalkup.user.language" display="userWalkup.user.language.name"options-expression="language as language.name  for language in options"  options="userWalkup.languages"></inline-edit>
    </div>
    <!-- Timezone -->
    <div class="cui-expandable__review-item__inline-edit">
      <inline-edit  type="dropdown" wrapper-class="cui-expandable__review-item__inline-wrapper" input-class="cui-expandable__review-input__dropdown" label-class="cui-expandable__review-item__field" value-class="dummy" class="cui-users__field" label="cui-timezone" model="userWalkup.user.timezone" display="userWalkup.user.timezone.name" options-expression="timeZone as timeZone.name  for timeZone in options"  options="base.timezones"></inline-edit>
    </div>
  </cui-expandable-body>
</cui-expandable>

<!-- Organization Information -->
<cui-expandable class="cui-expandable expanded">
  <!-- <div class="cui-expandable__edit-button" ng-click="goToStep(2)">
    <cui-icon cui-svg-icon="fa:edit" svg-class="cui-expandable__edit-icon"></cui-icon>
  </div> -->
  <cui-expandable-title class="cui-expandable__title cui-expandable__title--flex" ng-click="toggleExpand()">
      {{'cui-organization-information' | translate}}
      <cui-icon cui-svg-icon="fa:chevron18" svg-class="cui-icon cui-icon--light-grey chevron" use-class="cui-icon__ref" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet" ></cui-icon>
    </cui-expandable-title>

    <cui-expandable-body class="cui-expandable__body">
      <!-- Company/Division -->
      <div class="cui-expandable__review-item"><span class="cui-expandable__review-item__field">{{'cui-org' | translate}}</span> <span class="review-item__value">{{userWalkup.organization.name}}</span></div>
  </cui-expandable-body>
</cui-expandable>

<!-- Sign In Information -->
<cui-expandable class="cui-expandable expanded">
  <!-- <div class="cui-expandable__edit-button" ng-click="goToStep(3)">
    <cui-icon cui-svg-icon="fa:edit" svg-class="cui-expandable__edit-icon"></cui-icon>
  </div> -->
  <cui-expandable-title class="cui-expandable__title cui-expandable__title--flex" ng-click="toggleExpand()">
    {{'cui-sign-in-information' | translate}}
    <cui-icon cui-svg-icon="fa:chevron18" svg-class="cui-icon cui-icon--light-grey chevron" use-class="cui-icon__ref" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet" ></cui-icon>
  </cui-expandable-title>

  <cui-expandable-body disable-animate class="cui-expandable__body">
    <!-- User ID -->
    <div class="cui-expandable__review-item__inline-edit">
      <div class="cui-error" ng-messages="userWalkup.inlineEdit.userIdError">
          <div ng-messages-include="app/common-templates/messages.html"></div>
        </div>
      <inline-edit  wrapper-class="cui-expandable__review-item__inline-wrapper" input-class="cui-expandable__review-input" label-class="cui-expandable__review-item__field" value-class="dummy" class="cui-users__field" label="cui-user-id" model="userWalkup.userLogin.username" on-edit="userWalkup.inlineEdit.userId" hide-save-if="userWalkup.inlineEdit.noSaveUserId" on-save="userWalkup.inlineEdit.updateUserIdError"></inline-edit>
    </div>
    <!-- Password -->
    <div class="cui-expandable__review-item__inline-wrapper"><span class="cui-expandable__review-item__field">{{'cui-password' | translate}}</span> <span class="review-item__value">{{userWalkup.userLogin.hiddenPassword}}</span></div>
    <!-- Challenge Question 1 -->
        <div class="cui-expandable__review-item__inline-edit">
      <inline-edit  type="dropdown" wrapper-class="cui-expandable__review-item__inline-wrapper" input-class="cui-expandable__review-input__dropdown" label-class="cui-expandable__review-item__field" value-class="dummy" class="cui-users__field" label="cui-challenge-question" model="userWalkup.userLogin.question1" display="userWalkup.userLogin.question1.question | cuiI18n" options-expression="question as (question.question|cuiI18n) for question in options"  options="userWalkup.userLogin.challengeQuestions1"></inline-edit>
    </div>
    <!-- Challenge Answer 1 -->
    <div class="cui-expandable__review-item__inline-edit">
      <div class="cui-error" ng-messages="userWalkup.inlineEdit.challengeAnswer1Error">
          <div ng-messages-include="app/common-templates/messages.html"></div>
        </div>
      <inline-edit  wrapper-class="cui-expandable__review-item__inline-wrapper" input-class="cui-expandable__review-input" label-class="cui-expandable__review-item__field" value-class="dummy" class="cui-users__field" label="cui-challenge-answer" model="userWalkup.userLogin.challengeAnswer1" on-edit="userWalkup.inlineEdit.challengeAnswer1" hide-save-if="userWalkup.inlineEdit.noSaveChallengeAnswer1" on-save="userWalkup.inlineEdit.updateChallengeAnswer1Error"></inline-edit>
    </div>
    <!-- Challenge Question 2 -->
    <div class="cui-expandable__review-item__inline-edit">
      <inline-edit  type="dropdown" wrapper-class="cui-expandable__review-item__inline-wrapper" input-class="cui-expandable__review-input__dropdown" label-class="cui-expandable__review-item__field" value-class="dummy" class="cui-users__field" label="cui-challenge-question" model="userWalkup.userLogin.question2" display="userWalkup.userLogin.question2.question | cuiI18n" options-expression="question as (question.question|cuiI18n) for question in options"  options="userWalkup.userLogin.challengeQuestions2"></inline-edit>
    </div>
    <!-- Challenge Answer 2 -->
    <div class="cui-expandable__review-item__inline-edit">
      <div class="cui-error" ng-messages="userWalkup.inlineEdit.challengeAnswer2Error">
          <div ng-messages-include="app/common-templates/messages.html"></div>
        </div>
      <inline-edit  wrapper-class="cui-expandable__review-item__inline-wrapper" input-class="cui-expandable__review-input" label-class="cui-expandable__review-item__field" value-class="dummy" class="cui-users__field" label="cui-challenge-answer" model="userWalkup.userLogin.challengeAnswer2" on-edit="userWalkup.inlineEdit.challengeAnswer2" hide-save-if="userWalkup.inlineEdit.noSaveChallengeAnswer2" on-save="userWalkup.inlineEdit.updateChallengeAnswer2Error"></inline-edit>
    </div>
  </cui-expandable-body>
</cui-expandable>

<!-- Application Selection -->
<cui-expandable class="cui-expandable expanded">
  <!-- <div class="cui-expandable__edit-button" ng-click="goToStep(4)">
    <cui-icon cui-svg-icon="fa:edit" svg-class="cui-expandable__edit-icon"></cui-icon>
  </div> -->
  <cui-expandable-title class="cui-expandable__title cui-expandable__title--flex" ng-click="toggleExpand()">
    {{'cui-application-selection' | translate}}
    <cui-icon cui-svg-icon="fa:chevron18" svg-class="cui-icon cui-icon--light-grey chevron" use-class="cui-icon__ref" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet" ></cui-icon>
  </cui-expandable-title>

  <cui-expandable-body class="cui-expandable__body">
    <div class="cui-expandable__review-item" ng-if="userWalkup.applications.processedSelected.length===0 || !userWalkup.applications.processedSelected.length">
      <span class="cui-link" ng-click="goToStep(4)">{{'no-applications-selected' | translate}}</span>
    </div>
    <div class="cui-expandable__review-item" ng-repeat="application in userWalkup.applications.processedSelected">
      <input id="application{{application.id}}" type="checkbox" ng-model="userWalkup.applications.selected[application.id]" ng-true-value="'{{application.id}},{{application.packageId}},{{application.name}},{{application.showTac}}'" ng-false-value="null" ng-click="userWalkup.applications.updateSelected(application,userWalkup.applications.selected[application.id],application.id)" style="margin-right:10px"/>
      <label for="application{{application.id}}" ng-bind="application.name"></label>
    </div>
    <div class="cui-expandable__review-item" ng-if="userWalkup.applications.processedSelected.length!==0 && userWalkup.applications.processedSelected.length">
      <span >{{'cui-need-different-app' | translate}}</span>
      <span >? {{'cui-go-back-to' | translate}}</span>
      <span class="cui-link" ng-click="userWalkup.applications.step=1;goToStep(4)"> {{'cui-all-applications' | translate}}</span>
    </div>
  </cui-expandable-body>
</cui-expandable>
<!-- Request reason service package -->
<cui-expandable class="cui-expandable expanded">
  <cui-expandable-title class="cui-expandable__title cui-expandable__title--flex" ng-click="toggleExpand()">
    {{'request-reason' | translate}}
    <cui-icon cui-svg-icon="fa:chevron18" svg-class="cui-icon cui-icon--light-grey chevron" use-class="cui-icon__ref" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet" ></cui-icon>
  </cui-expandable-title>

  <cui-expandable-body class="cui-expandable__title">
    <div class="cui-applications__review-text-input">
        <input type="text" class="cui-input" ng-model="userWalkup.reason"></input>
    </div>

  </cui-expandable-body>
</cui-expandable>

<!-- Submit Controls -->
<div class="cui-wizard__controls">
  <div class="cui-error" ng-if="userWalkup.submitError"><label>{{userWalkup.errorMessage | translate}}</label></div>
  <cui-button disable-animate
    button-click="userWalkupRegForm.$valid && userWalkup.submit()"
    loading-if="userWalkup.submitting"
    loading-message="{{'cui-button-loading-text' | translate}}"
    error-if="userWalkup.submitError"
    error-message="{{'cui-error-try-again' | translate}}"
  >
    <button class="cui-wizard__next" ng-class="(!userWalkupRegForm.$valid)? 'cui-wizard__next--error' : userWalkup.sucess? 'success' : usersInvite.success===false? 'fail' : ''" style="position:relative">
      <span ng-if="!userWalkup.submitting && !userWalkup.submitError">{{'cui-submit' | translate}}</span>
    </button>
  </cui-button>
</div>
