<!-- If there's no applications in that organization -->
<div ng-if="!userWalkup.applications.list">
  Seems like your organization doesn't have any applications. You can always try again after logging in.
  <div class="cui-wizard__controls" style="margin-top:20px">
    <button class="cui-wizard__previous" ng-if="!wizardFinished" ng-click="previous()">&#60;&#60; {{'cui-previous' | translate}}</button>
    <button class="cui-wizard__next" ng-if="!wizardFinished" ng-click="next()">{{'cui-next' | translate}}</button>
    <button class="cui-wizard__next" ng-if="wizardFinished" ng-click="goToStep(5)">{{'cui-back-to-review' | translate}}</button>
  </div>
</div>

<!-- If there's applications -->
<div ng-if="userWalkup.applications.list && (!userWalkup.applications.step || userWalkup.applications.step===1)" ng-init="userWalkup.applications.step=1">
  <!-- NOTE: Commented out application search as nonce API does not support this at this time [7/20/2016] -->
  <!-- <input class="cui-input--half" placeholder="{{'cui-filter-app-name' | translate}}" style="margin-bottom:20px;" ng-model="userWalkup.applications.search" ng-change="userWalkup.applications.searchApplications()"/> -->
  <div style="direction:rtl;margin-bottom:10px" class="cui-link">
    <div class="cui-badge" ng-bind="userWalkup.applications.numberOfSelected"></div>
    {{'cui-selections' | translate }}
  </div>

  <div ng-repeat="application in userWalkup.applications.list | orderBy:'name' track by application.id" style="margin-bottom:10px">
    <input id="application{{$index}}" type="checkbox" ng-model="userWalkup.applications.selected[$index]" ng-true-value="'{{application.id}},{{application.name | cuiI18n}}'" ng-false-value="null" ng-change="userWalkup.applications.updateNumberOfSelected(userWalkup.applications.selected[$index])" style="margin-right:10px"/>
    <label for="application{{$index}}" ng-bind="application.name | cuiI18n"></label>
    <span style="float:right;clear:both;">{{'cui-more-information' | translate }}</span>
  </div>

  <div class="cui-wizard__controls" style="margin-top:20px">
    <button class="cui-wizard__previous" ng-if="!wizardFinished" ng-click="previous()">&#60;&#60; {{'cui-previous' | translate}}</button>
    <button class="cui-wizard__next" ng-click="userWalkup.applications.process()===0? next() : userWalkup.applications.step=2">{{'cui-next' | translate}}</button>
  </div>
</div>

<!-- Checkout Applications -->
<div ng-if="userWalkup.applications.list && userWalkup.applications.step===2">
  <span ng-click="userWalkup.applications.step=1" translate>&#60; {{'cui-all-applications'}}</span>
  <div style="float:right" class="cui-link">
    {{'cui-selections' | translate }}
    <div class="cui-badge" ng-bind="userWalkup.applications.numberOfSelected"></div>
  </div>
  <ng-form name="selectApps" class="application-review">
    <div class="application-review__name application-review__label">
      <span translate>{{ 'cui-application-name' }}</span>
    </div>
    <div class="application-review__tos-link application-review__label">
      <span translate>{{ 'cui-application-tos' }}</span>
    </div>
    <div class="application-review__tos-agreement application-review__label">
      <span translate>{{ 'cui-application-tos-agreement' }}</span>
    </div>
    <div ng-repeat="application in userWalkup.applications.processedSelected" class="application-review__list">
      <div class="application-review__name">
        <span>{{application.name}}</span>
      </div>
      <div class="application-review__tos-link">
        <a class="cui-link" translate>{{'cui-view-tos'}}</a>
      </div>
      <div class="application-review__tos-agreement">
        <div class="cui-switch">
          <input class="cui-switch__input" ng-model="userWalkup.applications.processedSelected[$index].acceptedTos" name="application{{$index}}" id="application{{$index}}" type="checkbox" ng-required="true"/>
          <label class="cui-switch__label" for="application{{$index}}">
            <div class="cui-switch__container">
              <span class="cui-switch__checked-message">Accept</span>
              <span class="cui-switch__unchecked-message">Don't Accept</span>
            </div>
          </label>
        </div>
      </div>
    </div>
  </ng-form>

  <div class="cui-wizard__step-error" ng-if="!selectApps.$valid && userWalkup.applications.formTouched">{{ 'cui-package-tos' | translate }}</div>
  <div class="cui-wizard__controls">
    <button class="cui-wizard__previous" ng-click="userWalkup.applications.step=userWalkup.applications.step-1">&#60;&#60; {{'cui-all-applications' | translate}}</button>
    <button class="cui-wizard__next" ng-if="!wizardFinished" ng-click="userWalkup.applications.formTouched=true;nextWithErrorChecking(selectApps)" ng-class="{'cui-wizard__next--error' : !selectApps.$valid }">{{'cui-next' | translate}}</button>
    <button class="cui-wizard__next" ng-if="wizardFinished" ng-click="selectApps.$valid && goToStep(5)" ng-class="{'cui-wizard__next--error': !selectApps.$valid}">{{'cui-back-to-review' | translate}}</button>
  </div>
</div>
