<!-- Success Modal -->
<div class="class-toggle cui-modal" ng-if="applicationReview.success" toggled-class="cui-modal--hide" ng-click="toggleClass()">
	<div class="cui-modal__pane">
		<div class="cui-modal__icon">
			<cui-icon cui-svg-icon="cui:check-with-border" class="cui-modal__icon"></cui-icon>
		</div>
		<span class="cui-modal__primary-message">{{'cui-success' | translate}}</span>
		<span class="cui-modal__secondary-message">{{'your-app-request-in-review' | translate}}</span>
	</div>
</div>

<div class="cui-applications__review">
	<!-- Header -->
	<div class="cui-action">
		<!-- Title -->
		<div class="cui-action__title" ng-click="base.goBack('applications.orgApplications.search')">&lt; {{'organization-applications' | translate}} &#8211; {{'new-request' | translate}}</div>
		<div class="cui-action__actions">
			<!-- Close Icon -->
			<svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon cui-action__icon--close" ui-sref="applications.orgApplications.applicationList" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 53">
				<use class="cui-icon__ref" xlink:href="node_modules/@covisint/cui-icons/dist/icons/icons-out.svg#close"></use>
			</svg>
		</div>
	</div>
	
	<!-- Main Content -->
	<div class="cui-applications__main-container" style="position:relative">

		<!-- Loading -->
		<div class="cui-loading__container" ng-if="base.loader.orgAppRequestReview.loading">
			<div class="cui-loading cui-loading--center" ></div>
		</div>

		<!-- Body Header -->
		<div>
			<h3 class="h4 h4--bold">{{'requested-items' | translate}}:</h3>
			<div class="cui-applications__review-apps">

				<!-- Requested Application(s) -->
				<div class="cui-tile--headless" ng-repeat="request in orgAppRequestReview.appRequests">
						<div class="cui-media">
							<!-- This close icon is a temporary replacement for the expected "minus" icon -->
							<svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon cui-action__icon--close" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 53" ng-click="orgAppRequestReview.removeApplicationRequest(request.id)">
								<use class="cui-icon__ref" xlink:href="node_modules/@covisint/cui-icons/dist/icons/icons-out.svg#close"></use>
							</svg>
							<div class="cui-media__image-container">
								<div class="cui-media__image" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5" cui-avatar-names="request.name" cui-avatar-cuii18n-filter cui-avatar="request.iconUrl"></div>
							</div>
							<div class="cui-media__body">
								<h3 class="cui-media__title">{{request.name | cuiI18n}}</h3>
								<span class="cui-media__content">{{'owning-org' | translate}}: {{request.owningOrganization.id}}</span>
							</div>
							<div class="cui-media__body" ng-if="request.bundledApps">
								<h3 class="cui-media__title">{{'included-applications' | translate}}</h3>
								<span class="cui-media__content" ng-repeat="bundledApp in request.bundledApps">{{bundledApp.name | cuiI18n}}</span>
							</div>
						</div>
						<!-- Terms and conditions is not provided by the API, leaving it out for now -->
						<div class="cui-applications__review-text-input" ng-if="request.servicePackage.requestReasonRequired">
							<label class="cui-text-area__label">{{'request-reason' | translate}}</label>
							<span class="cui-error h6" ng-if="request.reasonRequired">{{'you-must-enter-a-reason' | translate}}</span>
							<textarea class="cui-text-area" ng-model="request.reason" ng-class="{'<!-- TODO @SHANE textarea invalid class here -->' : request.reasonRequired}"></textarea>
						</div>
				</div>
			</div>

			<!-- Submit Button -->
			<div class="cui-applications__submit-options">
				<a class="cui-link" ng-click="base.goBack('applications.orgApplications.search')">{{'cui-cancel' | translate}}</a>
				<button class="cui-button" ng-click="orgAppRequestReview.submit()">
					<span ng-if="!orgAppRequestReview.error">{{'submit-request' | translate}}</span>
					<span ng-if="orgAppRequestReview.error===true">{{'cui-error-try-again' | translate}}</span>
				</button>
			</div>
			<!-- TODO ng-if="orgAppRequestReview.attempting" is when submit gets pressed and it's trying to submit the requests  ^ put a spinner on the button-->
		</div>
	</div>
</div>
