.welcome-wrapper {
  padding: 30px;
  max-width: 1100px;
  margin: 0 auto;

  .cui-card {
    position: relative;
  }

  .welcome-wrapper {
    padding: 30px;
    max-width: 1100px;
    margin: 0 auto;
  }

  .welcome-title {
    padding: 20px;
  }

  .welcome-title h1 {
    color: $cui-greyscale--medium;
    font-size: 2em;
    text-align: center;
  }
}

.cui-popover--dark {
  a,
  a:visited { color: #fff; }

  .cui-popover_link {
    text-align: center;
  }

  &.cui-popover__new-division {
    font-size: 14px;
    height: 230px;

    @media screen and (max-width: 700px) {
      width: 275px;
    }
  }
}

.cui-card__container {
  @media screen and (max-width: 600px) {
    align-items: center;
  }
}

