<div class="cui-action">
  <div class="cui-action__actions">

    <!-- Applications -->
    <div class="cui-action__action-container" id="applications-button" ng-click="userDetails.appsHistorySwitch=true">
      <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
        <use xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#applications_v2"></use>
      </svg>
      <span class="cui-action__action-label">APPS</span>
    </div>

    <!-- History -->
    <div class="cui-action__action-container" id="applications-button" ng-click="userDetails.appsHistorySwitch=false">
      <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
        <use xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#warning"></use>
      </svg>
      <span class="cui-action__action-label">HISTORY</span>
    </div>

    <!-- Sort -->
    <div class="cui-action__action-container" id="sort-button" ng-click="userDetails.sortClicked=!userDetails.sortClicked" off-click="userDetails.sortClicked=false" ng-if="userDetails.appsHistorySwitch">
      <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
        <use xlink:href="bower_components/cui-icons/dist/font-awesome/font-awesome-out.svg#sort14"></use>
      </svg>
      <span class="cui-action__action-label">SORT</span>
    </div>
    <!-- Sort Popover -->
    <div class="cui-popover cui-popover--top cui-popover__sort-popover" tether target="#sort-button" attachment="top middle" target-attachment="bottom middle" offset="-10px 0" ng-if="userDetails.sortClicked">
      <p ng-click="">{{'cui-alphabetically' | translate}}</p>
      <p ng-click="">{{'cui-by-date-added' | translate}}</p>
    </div>

    <!-- Categories -->
    <div class="cui-action__action-container" id="categories-button" ng-click="userDetails.categoriesClicked=!userDetails.categoriesClicked" off-click="userDetails.categoriesClicked=false" ng-if="userDetails.appsHistorySwitch">
      <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
        <use xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#categories"></use>
      </svg>
      <span class="cui-action__action-label">CATEGORIES</span>
    </div>
    <!-- Categories Popover -->
    <div class="cui-popover cui-popover--top cui-popover__categories-popover" tether target="#categories-button" attachment="top middle" target-attachment="bottom middle" offset="-10px 0" ng-if="userDetails.categoriesClicked">
      <p ng-click="">TODO!</p>
    </div>
    
  </div>
</div>
