.cui-tile{
    width:80%;
    margin:30px auto;
}

.cui-tile__body{
    position:relative;
}

.cui-wrapper{
    overflow:hidden;
}

.fill{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background:white;
    opacity:0;
    z-index:10;
    pointer-events:none;
    transition:all 200ms ease-in-out;
    &.show{
        opacity:1;
    }
}

.center{
    position:absolute;
    top:50%;
    left:50%;
    z-index:10;
}

.cui-loading--large__center {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    border: solid 10px lighten($cui-primary-colors--light,20%);
    border-top-color: $cui-primary-colors--light;
    animation: spin-center 1s infinite linear;
    transform-origin: center;
    position:absolute;
    top:50%;
    left:50%;
}

.cui-loading--medium__center {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    border: solid 5px lighten($cui-primary-colors--light,20%);
    border-top-color: $cui-primary-colors--light;
    animation: spin-center 0.5s infinite linear;
    transform-origin: center;
    position:absolute;
    top:50%;
    left:50%;
}

.cui-loading--medium {
    width: 30px;
    height: 30px;
    display:inline-block;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    border: solid 5px lighten($cui-primary-colors--light,20%);
    border-top-color: $cui-primary-colors--light;
    animation: spin 1s infinite linear;
    transform-origin: center;
}

@keyframes spin-center {
    from {transform:translate(-50%,-50%) rotate(0deg);}
    to {transform:translate(-50%,-50%) rotate(360deg);}
}

@keyframes spin {
    from {transform:translate(-4px,11px) rotate(0deg);}
    to {transform:translate(-4px,11px) rotate(360deg);}
}

.cui-wizard__next.success {
    background:$cui-secondary-colors--light;
}

.cui-wizard__next.fail {
    background:$cui-secondary-colors--dark;
}

.circle{
    width:9px;
    height:9px;
    background:$cui-secondary-colors--dark;
    display:inline-block;
    border-radius:50%;
    transform:translate(0,-1px);
    &.green{
        background:$cui-secondary-colors--light;
    }
}

.cui-error__password{
    width:310px;
    position:absolute;
    top:30%;
    @media all and (max-width:700px){
        left:50%;
        top:100%;
        width:90%;
        transform:translate(-50%,-10px);
        &:before{
            top:3px;
            left:20%;
            transform:rotate(180deg) translate(0,100%);
        }
    }
}

//Shane this was & .step-indicator , was there a reason for that, or just a mistake?
.step-indicator {
  color: #bbb;
  display: inline-block;
  margin-bottom: -2px;
  padding: 10px 0;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;

  .icon-container{
    margin-top: em(10);
  }

  .icon {
    background: #fff;
    border-radius: 50%;
    border: em(2) solid #ccc;
    height: em(50);
    position: relative;
    width: em(50);
    z-index: 1;
  }

  &.active {
    border-bottom: 6px solid $cui-primary-colors--medium-light;;
    color: #333;

    .icon {
      border: em(2) solid #429DD1;
    }
  }

  &.visited {
    color: #666;

    .icon{
      border: em(2) solid #666;
    }
  }
}

.cui-icon-rotate{
  height:24px;
  width:24px;
  margin:0 auto;
  
}

step {
  display: none;

  &.active {
    display: block;
  }
}
