
.cui-nav__content-wrapper {
  @media screen and (min-width: 701px) {
    padding: em(30) 10%;
  }
}

.cui-wrapper {
    overflow:hidden;
}

.center{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:10;
}

.cui-loading--large__center {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    border: solid 10px lighten($cui-primary-colors--light,20%);
    border-top-color: $cui-primary-colors--light;
    animation: spin-center 1s infinite linear;
    transform-origin: center;
    position:absolute;
    top:50%;
    left:50%;
}

.cui-loading--medium__center {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    border: solid 5px lighten($cui-primary-colors--light,20%);
    border-top-color: $cui-primary-colors--light;
    animation: spin-center 0.5s infinite linear;
    transform-origin: center;
    position:absolute;
    top:50%;
    left:50%;
}

.cui-loading--medium {
    width: 30px;
    height: 30px;
    display:inline-block;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    border: solid 5px lighten($cui-primary-colors--light,20%);
    border-top-color: $cui-primary-colors--light;
    animation: spin 1s infinite linear;
    transform-origin: center;
}

@keyframes spin-center {
    from {transform:translate(-50%,-50%) rotate(0deg);}
    to {transform:translate(-50%,-50%) rotate(360deg);}
}

@keyframes spin {
    from {transform:translate(-4px,11px) rotate(0deg);}
    to {transform:translate(-4px,11px) rotate(360deg);}
}

.cui-wizard__next.success {
    background:$cui-secondary-colors--light;
}

.cui-wizard__next.fail {
    background:$cui-secondary-colors--dark;
}

.circle{
    width:9px;
    height:9px;
    background:$cui-secondary-colors--dark;
    display:inline-block;
    border-radius:50%;
    transform:translate(0,-1px);
    &.green{
        background:$cui-secondary-colors--light;
    }
}

.cui-error__password{
    width:310px;
    position:absolute;
    top:30%;
    @media all and (max-width:700px){
        left:50%;
        top:100%;
        width:90%;
        transform:translate(-50%,-10px);
        &:before{
            top:3px;
            left:20%;
            transform:rotate(180deg) translate(0,100%);
        }
    }
}

.cui-footer{
    padding-bottom: 30px;
    &__translate {
        float: right;
        display: inline-block;;
    }

    &__link {
        float: left;
        display: inline-block;
        padding-right: 40px;
    }
}

