
.cui-nav__content-wrapper {
  @media screen and (min-width: 701px) {
    padding: em(30) 10%;
  }
}

.cui-wrapper {
    overflow:hidden;
}

.cui-footer{
    padding-bottom: 30px;
    &__translate {
        float: right;
        display: inline-block;;
    }

    &__link {
        float: left;
        display: inline-block;
        padding-right: 40px;
    }
}
