.cui-card {
	position: relative;
	.cui-styeguide__popover-container {
		position: absolute;
		left: -1.5%;
		width: 100%;
	}
}

.cui-popover_link {
	text-align: center;
}

.cui-popover_link a {
	color: #FFFFFF;
}

.welcome-wrapper {
	padding: 30px;
	max-width: 1100px;
	margin: 0 auto;
}

.welcome-title {
	padding: 20px;
}

.welcome-title h1 {
	color: #FFFFFF;
	font-size: 2em;
	text-align: center;
}
