<div class="cui-loader__page">

  <div class="cui-loader__row">
    <div class="cui-loader__row-img"></div>
    <div class="cui-loader__row-items">
      <div class="cui-loader__row-item"></div>
    </div>
  </div>

  <div class="cui-loader__row">
    <div class="cui-loader__row-img"></div>
    <div class="cui-loader__row-items">
      <div class="cui-loader__row-item"></div>
    </div>
  </div>

  <div class="cui-loader__row">
    <div class="cui-loader__row-img"></div>
    <div class="cui-loader__row-items">
      <div class="cui-loader__row-item"></div>
    </div>
  </div>

</div>