<div class="cui-flex-table__th cui-flex-table__th--c">
	<div class="cui-flex-table__avatar-col" ng-click="scope.userListHeader.nameCallback()">{{'cui-name' | translate | lowercase}}</div>
	<div class="cui-flex-table__mobile-stack">
		<div class="cui-flex-table__left"></div>
		<div class="cui-flex-table__middle" ng-click="scope.userListHeader.usernameCallback()">{{'username' | translate | lowercase}}</div>
		<div class="cui-flex-table__middle" ng-click="scope.userListHeader.registeredCallback()">{{'cui-registered' | translate | lowercase}}</div>
		<div class="cui-flex-table__right" ng-click="scope.userListHeader.statusCallback()">{{'status' | translate | lowercase}}</div>
    </div>
</div>
