<!-- Header -->
<div>
	<!-- Page Title -->
	<h3>{{'cui-applications' | translate}}</h3>

	<!-- New Application Request Icon -->
	<svg ui-sref="applications.OrgAppRequest" xmlns="http://www.w3.org/2000/svg" class="cui-action__icon cui-action__icon--new" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 53">
		<use xlink:href="node_modules/@covisint/cui-icons/dist/icons/icons-out.svg#new"></use>
	</svg>
</div>

<!-- Application Information -->
<div class="org-Application--top">
	<!-- Application Avatar -->
	<div class="cui-media__image-container">
  	<a target="_blank"><div class="cui-media__image" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5" cui-avatar-names="orgApplicationDetails.application.name" cui-avatar-cuii18n-filter cui-avatar="orgApplicationDetails.application.iconUrl"></div></a>
	</div>
	<!-- Name -->
	<p>{{orgApplicationDetails.application.name | cuiI18n}}</p>
	<!-- Granted -->
	<p>Granted: {{orgApplicationDetails.application.creation | date:base.appConfig.dateFormat}}</p>
  <!-- Status: Active -->
  <p class="cui-media__content" ng-if="orgApplicationDetails.application.grant.status==='active'">{{orgApplicationDetails.application.grant.status}}
  	<svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
  		<use xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#unlock3"></use>
  	</svg>
	</p>
  <!-- Status: Locked -->
  <p class="cui-media__content" ng-if="orgApplicationDetails.application.grant.status==='locked'">{{orgApplicationDetails.application.grant.status}}
  	<svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
    	<use xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#lock24"></use>
    </svg>
  </p>
  <p>
  	<!-- Suspend Button -->
  	<a ng-href="" class="cui-button cui-button--inverted">{{'suspend-app' | translate}}</a>  
  	<!-- New Grants Button -->
  	<button class="cui-button cui-button--inverted" ng-click="orgApplicationDetails.newGrants()">{{'new-grants' | translate}}</button>
  </p>
</div>

<!-- Bundled/Related Apps -->
<div class="org-Application--bundled-related">
	<!-- Bundled -->
	<div class="org-Application--bundled-related__bundled">
		<h3>{{'bundled-applications' | translate}}</h3>
		<p ng-repeat="application in orgApplicationDetails.application.bundledApps track by application.id">
			<span>{{application.name | cuiI18n}} {{orgApplicationDetails.application.grant.status}}</span>
			<span class="active">{{'active' | translate}}</span>
		</p>
	</div>
	<!-- Related -->
	<div class="org-Application--bundled-related__related">
		<h3>{{'related-applications' | translate}}</h3>
		<p ng-repeat="application in orgApplicationDetails.application.relatedApps track by application.id">
			<span>{{application.name | cuiI18n}}</span> 
			<button class="cui-button" ng-if="application.requestable">{{'request' | translate}}</button>
		</p>
	</div>
</div>

<!-- User List Section -->
<div class="org-Application--user-list">
	<!-- List Header -->
	<div class="org-Application--user-list__util">
		<h3>{{'user' | translate}}</h3>
		<div class="cui-action__actions">

	    <!-- Sort -->
	    <div class="cui-action__action-container" ng-click="orgApplicationDetails.sortClicked =! orgApplicationDetails.sortClicked" id="sort-button" off-click="orgApplicationDetails.sortClicked=false">
				<cui-icon cui-svg-icon="fa:sort14" svg-class="cui-action__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
	      <span class="cui-action__action-label">{{'sort' | translate}}</span>
	      <!-- Sort Popover -->
	      <div cui-popover class="cui-popover cui-popover--top cui-popover__categories-popover" target="#sort-button" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom'}, 'any']" ng-if="orgApplicationDetails.sortClicked">
	        <p ng-click="orgApplicationDetails.sort('person.name.given')">{{'cui-alphabetically' | translate}}</p>
	        <p ng-click="orgApplicationDetails.sort('creation')">{{'cui-by-date-added' | translate}}</p>  
	      </div>
	    </div>

	    <!-- Refine -->
	    <div class="cui-action__action-container" ng-click="orgApplicationDetails.refineClicked =! orgApplicationDetails.refineClicked" id="refine-button" off-click="orgApplicationDetails.refineClicked=false">
				<cui-icon cui-svg-icon="fa:filter10" svg-class="cui-action__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
	      <span class="cui-action__action-label">{{'refine' | translate}}</span>
	      <!-- Refine Popover -->
	      <div cui-popover class="cui-popover cui-popover--top cui-popover__categories-popover" target="#refine-button" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom'}, 'any']" ng-if="orgApplicationDetails.refineClicked">
	        <p ng-click="orgApplicationDetails.parseUsersByStatus('all')">{{'all' | translate}}</p>
	        <p ng-click="orgApplicationDetails.parseUsersByStatus('active')">{{'active' | translate}}</p>
	        <p ng-click="orgApplicationDetails.parseUsersByStatus('suspended')">{{'suspended' | translate}}</p>
	      </div>
	    </div>

	    <!-- Organizations -->
  		<div class="cui-action__action-container" ng-click="orgAppNewGrant.organizationsClicked=!orgAppNewGrant.organizationsClicked" id="organizations-button" off-click="orgAppNewGrant.organizationsClicked=false">
  			<!-- Icon -->
  			<cui-icon cui-svg-icon="fa:nine10" svg-class="cui-action__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
    		<span class="cui-action__action-label">{{'organizations' | translate}}</span>
    		<!-- Organizations Popover -->
    		<div cui-popover class="cui-popover cui-popover--top cui-popover__categories-popover" target="#organizations-button" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom'}, 'any']" ng-if="orgAppNewGrant.organizationsClicked">
      		<div ng-if="!orgAppNewGrant.organizationList">
        		<p>{{'cui-no-org-divisions' | translate}}!</p>
      		</div>
      		<div ng-if="orgAppNewGrant.organizationList" ng-repeat="organization in orgAppNewGrant.organizationList | orderBy:'name' track by organization.id">
        		<p ng-if="organization.id!==orgAppNewGrant.organization.id" ng-click="orgAppNewGrant.switchDivision(organization);orgAppNewGrant.organizationsClicked=false">{{organization.name | cuiI18n}}</p>
      		</div>
    		</div>
  		</div>
	  </div>
	</div>

	<!-- User List Header -->
	<div class="org-Application--user-list__header">
		<p>{{'cui-name' | translate}}</p>
		<p>{{'userID' | translate}}</p>
		<p>{{'cui-org' | translate}}</p>
		<p>{{'status' | translate}}</p>
		<p>&nbsp;</p>
	</div>

	<!-- User List -->
	<cui-expandable class="cui-expandable " ng-repeat="grant in orgApplicationDetails.grantList track by grant.grantee.id">
		<cui-expandable-title class="cui-expandable__title org-Application--user-list__line" >
			<!-- User Avatar -->
			<div>
				<div class="cui-media__image" cui-avatar cui-avatar-email="grant.person.email" cui-avatar-names="[grant.person.name.given, grant.person.name.surname]" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5"></div>
				<span>{{grant.person.name.given}} {{grant.person.name.surname}}</span>
			</div>
			<!-- User Id -->
			<p>{{grant.grantee.id}}</p>
			<!-- Organization Name -->
			<p>{{grant.organization.name}}</p>
			<!-- User Status -->
			<p class="active">{{grant.person.status}}</p>
			<!-- Edit -->
			<p><a href="javascript:void(0)" ng-click="toggleExpand()">edit</a></p>
		</cui-expandable-title>
	  <cui-expandable-body class="cui-expandable__body">
	  	<!-- Close Icon -->
	  	<div ng-click="collapse()">
	  		<cui-icon cui-svg-icon="cui:close-no-fill" svg-class="cui-action__icon" preserveAspectRatio="xMidYMid meet"></cui-icon>
	  	</div>
	  	<!-- Claim Title ? -->
			<p>{{grant.claims[0].claimValues[0].description | cuiI18n}}</p>
			<!-- Claim ? -->
			<p>{{grant.claims[0].description | cuiI18n}}</p>
			<button class="cui-button">{{'update-grant-settings' | translate}}</button>
	  </cui-expandable-body>
	</cui-expandable>
</div>
