/*
Global layout styles
*/

.cui-wrapper {
  background: #fff;
}

.cui-nav__content-wrapper {
  min-height: 750px;
}

.cui-footer {
  padding: 0.9375em 0.8125em;

  @media screen and (min-width: 701px) {
    padding: 0.9375em 3.4375em 0.9375em 4.0625em; 
  }
  
  @media screen and (max-width: 700px) {
  .cui-applications__main-container--full {
    padding: 0.9375em 0; } 
  }
}

// Layout helpers
%flex-row {
  display: flex;
  justify-content: space-between;
}

%flex-row-vert,
%flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

%flex-row--right-align {
  display: flex;
  justify-content: flex-end;
}

.cui-exapandable__app-name {
  align-items: center;
  display: flex;
  flex: 1;
}

.cui-tos-container {
  float: right;
  padding-bottom: 30px;
}

.cui-wizard__controls--clear {
  clear: both;
}

.cui-previous-link {
  padding-right: 30px;
}

.cui-popover-container--relative {
  @extend .cui-card;

  .cui-styeguide__popover-container {
    position: absolute;
    left: 300px;

    @media screen and (max-width: 700px) {
      width: 270px;
      left: -20px;  
      top: 20px
    }
  }
}

.cui-error__password {
    display:inline-block;
}

.js-main-content {
  transform: translate3d(0, 0, 0);
  transition: transform .15s linear;
}

.js-main-content--search-open {
  transform: translate3d(0, 60px, 0);
  transition: transform .15s linear;
}

[ui-view].ng-leave {
  transition: none
}
