.org-Application{
	&--top{
		width:25%;
		margin:0 auto;
		p.cui-media__content{
			color:rgb(65,118,131);
			font-size:15px;
			text-transform: uppercase;
		}

		.cui-media{
	        &__image-container{
	          justify-content: center;
	        }
      	}
		p{
			text-align:center;
			display:block !important;
			/* color:rgb(52,53,52); */
			color: $cui-primary-colors--dark;
			margin:0;
			padding:0 0 7px 0;
			&:first-child{
				font-size: 16px;

			}
			&:last-child{
				
			}
			svg{
				width:20px;
				use{
					fill:rgb(65,118,131);
				}
			}
			.cui-button.cui-button--inverted{
				font-weight: bold;
				margin:20px 0;
			}
		}
	}

	&--name{
		font-size: 24px;
		font-weight: bold;
	}


	&--bundled-related{
		display:flex;
		width:calc(100% - 200px);
		margin:0 auto;
		justify-content:space-around;
		&__bundled, &__related{
			width:45%;
			border-top:1px solid rgba(135,135,135,0.65 );
			h3{
				border:1px solid rgba(135,135,135,0.65);
				border-bottom:none;
				border-top:none;
				font-weight: bold;
				padding:17px;
			}
			p{
				display:flex;
				align-items:center;

				color:rgb(65,118,131);
				padding:17px;
				margin:0;
				border:1px solid rgba(134,134,134,0.65);
				border-bottom:none;
				font-weight:700;
				&:last-child{
					border-bottom:1px solid rgba(134,134,134,0.65);
				}
				button.cui-button{
					font-weight: normal;
					height:auto;
					width:auto;
					padding:5px 15px;
					border-radius: 25px;
					margin-left: auto;
				}
				span+span{
					margin-left: auto;
					font-weight:normal;
					text-transform: lowercase;
				}
			}
		}
	}
	&--user-list{
		h3{
			margin-bottom:10px;
			text-transform:uppercase;
		}
		width:calc(100% - 200px);
		margin:25px auto;
		.cui-expandable{
			border-bottom:1px solid rgb(222,233,238);
			padding-bottom:5px;
			&.expanded{
				cui-expandable-title p:nth-child(5) a{
					opacity:0;
				}
			}
			cui-expandable-title{
				cursor:default;
			}
		}
		&__header{
				border-bottom:1px solid rgb(222,233,238);
				border-top:1px solid rgb(222,233,238);
		}
		&__header, &__line{
			display:flex;
			align-items:center;
			/* border-bottom:1px solid rgb(222,233,238); */
			p, &> div{
				width:20%;
				padding:10px 0;
				margin:0;
				&:nth-child(1){
					display:flex;
					align-items:center;
					div{
						margin-right:15px;
					}
				}
				&:nth-child(1),&:nth-child(2),&:nth-child(3){
					width:28%;
				}
				&:nth-child(4),&:nth-child(5){
					width:9%;
				}
				&.active{
					color: rgb(0,108,119);
				}
				&.suspended{
					 color:rgb(255,68,0);
				}
				a{
					text-decoration:none;
					color: rgb(0,108,119);
					weight:600;
					transition:opacity .05s;
				}
			}

		}

		.cui-expandable__body{
				background:rgb(232,240,243);
				padding:15px 10px;
				margin:0 50px;
				width:auto;
			}

	}

	&--edit{
		font-weight: bold;
	}
}

