/*
Layout styles for registration screens
*/

.application-review{
  display:flex;
  flex-wrap:wrap;
  margin-bottom:20px;
  clear:both;
  &__label{
    font-weight:bold;
    font-size:0.9em;
  }
  &__name{
    width:35%;
    padding:5px 0;
    display:flex;
    align-items:center;
  }
  &__tos-link{
    width:35%;
    padding:5px 0;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  &__tos-agreement{
    width:30%;
    text-align:right;
    padding:5px 0;
    display:flex;
    align-items:center;
    justify-content:flex-end;
  }
  &__list{
    width:100%;
    display:flex;
  }
}

.cui-loading__container--organization-list {
  position: relative;
  background: none;

  .cui-loading--center {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.cui-select-wrapper {
  width: 80px;
}
