<!-- User Information -->
<cui-expandable class="cui-expandable expanded">
  	<cui-expandable-title class="cui-expandable__title" ng-click="toggleExpand()">
    	{{'cui-user-information' | translate}}
    	<span class="chevron">></span>
  	</cui-expandable-title>

  	<cui-expandable-body class="cui-expandable__body">
  		<!-- First Name -->
  		<inline-edit label="cui-first-name" model="newDivision.user.name.given"></inline-edit>
		<!-- Last Name -->
		<inline-edit label="cui-last-name" model="newDivision.user.name.surname"></inline-edit>
		<!-- Email -->
		<inline-edit label="cui-email" model="newDivision.user.email"></inline-edit>
		<!-- Country -->
		<inline-edit label="cui-country" model="newDivision.user.addresses[0].country.title"></inline-edit>
		<!-- Address 1 -->
		<inline-edit label="cui-address-1" model="newDivision.user.addresses[0].streets[0]"></inline-edit>
		<!-- Address 2 -->
		<inline-edit label="cui-address-2" model="newDivision.user.addresses[0].streets[1]"></inline-edit>
		<!-- City -->
		<inline-edit label="cui-city" model="newDivision.user.addresses[0].city"></inline-edit>
		<!-- State -->
		<inline-edit label="cui-state" model="newDivision.user.addresses[0].state"></inline-edit>
	    <!-- Postal -->
	    <inline-edit label="cui-postal" model="newDivision.user.addresses[0].postal"></inline-edit>
	    <!-- Phone Number -->
	    <inline-edit label="cui-telephone" model="newDivision.user.phones[0].number"></inline-edit>
	</cui-expandable-body>
</cui-expandable>

<!-- Organization Information -->
<cui-expandable class="cui-expandable">
	<cui-expandable-title class="cui-expandable__title" ng-click="toggleExpand()">
    	{{'cui-organization-information' | translate}}
    	<span class="chevron">></span>
  	</cui-expandable-title>

  	<cui-expandable-body class="cui-expandable__body">
  		<!-- TODO -->
	</cui-expandable-body>
</cui-expandable>

<!-- Sign In Information -->
<cui-expandable class="cui-expandable">	
	<cui-expandable-title class="cui-expandable__title" ng-click="toggleExpand()">
    	{{'cui-sign-in-information' | translate}}
    	<span class="chevron">></span>
  	</cui-expandable-title>

  	<cui-expandable-body class="cui-expandable__body">
		<!-- User ID -->
		<inline-edit label="cui-user-id" model="newDivision.userLogin.username"></inline-edit>
	</cui-expandable-body>
</cui-expandable>

<div class="cui-wizard__controls">
	<button class="cui-wizard__previous" ng-click="previous()"><< {{'cui-previous' | translate}}</button>
  	<button class="cui-wizard__next" ng-click="">{{'cui-submit' | translate}}</button>
</div>
