<ng-form name="basicInfo">
  <div class="cui-users__field">
    <div class="cui-users__address-container" class-toggle toggled-class="show-address">
      <div class="cui-users__field">
        <span class="cui-field-val__field">{{'basic-info' | translate}}</span>
        <span class="cui-link" href="" ng-if="!toggled" ng-click="userDetailsProfile.toggleAllOff();toggleOn()">{{'cui-edit' | translate}}</span>
        <div ng-if="toggled" ng-click="toggleOff()">
            <cui-icon cui-svg-icon="cui:close-no-fill" svg-class="cui-action__icon" use-class="cui-card__icon" viewbox="0 0 48 53" preserveAspectRatio="xMidYMid meet" aria-label="{{'cui-close' | translate}}"></cui-icon>
        </div>
        <!--svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" ng-if="toggled" ng-click="toggleOff()" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 53" aria-label="{{'cui-close' | translate}}">
          <use class="cui-icon__ref" xlink:href="node_modules/@covisint/cui-icons/dist/icons/icons-out.svg#close-no-fill"></use>
        </svg-->
      </div>

      <!-- Basic Info Block -->
      <div ng-if="!toggled">
        <div class="cui-field-val">
          <span class="cui-field-val__field">{{'cui-org' | translate}}:</span>
          <span class="cui-field-val__val">{{userDetailsProfile.organization.name}}</span>
        </div>
        <!-- Name -->
        <div class="cui-field-val">
          <span class="cui-field-val__field">{{'cui-name' | translate}}:</span>
          <span class="cui-field-val__val">{{userDetailsProfile.user.name.given}} {{userDetailsProfile.user.name.surname}}</span>
        </div>
        <!-- Email -->
        <div class="cui-field-val">
          <span class="cui-field-val__field">{{'cui-email' | translate}}:</span>
          <span class="cui-field-val__val">{{userDetailsProfile.user.email}} </span>
        </div>
      </div>

      <!-- Basic Info Edit -->
      <div ng-if="toggled" ng-init="userDetailsProfile.pushToggleOff({'name':'basicInfo','function':toggleOff})">
        <!-- First Name -->
        <label for="firstName">{{'cui-first-name' | translate}}</label>
        <div class="cui-error" ng-messages="basicInfo.firstName.$error">
          <div ng-messages-include="app/common-templates/messages.html"></div>
        </div>
        <input type="text" name="firstName" class="cui-input" ng-model="userDetailsProfile.tempUser.name.given" ng-required="true" focus-if="toggled">
        <!-- Last Name -->
        <label for="lastName">{{'cui-last-name' | translate}}</label>
        <div class="cui-error" ng-messages="basicInfo.lastName.$error">
          <div ng-messages-include="app/common-templates/messages.html"></div>
        </div>
        <input type="text" name="lastName" class="cui-input" ng-model="userDetailsProfile.tempUser.name.surname" ng-required="true">
        <!-- Email -->
        <label for="email">{{'cui-email' | translate}}</label>
        <div class="cui-error" ng-messages="basicInfo.email.$error">
          <div ng-messages-include="app/common-templates/messages.html"></div>
        </div>
        <input type="email" name="email" class="cui-input" ng-model="userDetailsProfile.tempUser.email" ng-required="true">
        <!-- Address Edit Controls -->
        <div class="cui-users__address-submit">
          <a class="cui-link cui-form__cancel" href="" ng-click="toggleOff()">{{'cui-cancel' | translate}}</a>
          <button class="cui-button" ng-click="basicInfo.$valid && userDetailsProfile.updatePerson('basicInfo',toggleOff);"
            ng-class="{'cui-button--error':!basicInfo.$valid}">
            <span ng-if="!userDetailsProfile.basicInfo || !userDetailsProfile.basicInfo.submitting">{{'cui-update' | translate}}</span>
            <div class="cui-loading--medium-ctr" ng-if="userDetailsProfile.basicInfo.submitting"></div>
            <span ng-if="userDetailsProfile.basicInfo.error">{{'cui-error-try-again'| translate}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-form>
