<div class="class-toggle cui-modal" ng-if="newGrantClaims.success" toggled-class="cui-modal--hide" ng-click="toggleClass()">
    <div class="cui-modal__pane">
        <div class="cui-modal__icon">
            <cui-icon cui-svg-icon="cui:check-with-border" class="cui-modal__icon"></cui-icon>
        </div>
        <span class="cui-modal__primary-message">{{'cui-success' | translate}}</span>
        <span class="cui-modal__secondary-message">{{'grants-assigned' | translate}}</span>
    </div>
</div>
<ng-form name="grantApp" novalidate>
<div class="cui-org-claims">
<div class="cui-applications">
  <div class="cui-action">
    <div class="cui-action__title"
      ng-hide="base.loader.for['newGrantClaims.user']"
      ng-click="base.goBack('organization.directory.userDetails',newGrantClaims.prevState.params)">
      &#60; {{newGrantClaims.user.name.given}} {{newGrantClaims.user.name.surname}} - {{'new-grant' | translate}}
    </div>
    <div class="cui-action__actions">
      <ng-include onload="prevState=newGrantClaims.prevState" src="'app/modules/organization/partials/close-with-shadow.html'"></ng-include>
    </div>
  </div>
  <section class="cui-action cui-action--alt">
    <h2 class="cui-action__title"
      ng-click="base.goBack('organization.requests.newGrantSearch',newGrantClaims.prevState.params)">
      &#60; {{'select-claims'|translate}}
    </h2>
    <div class="cui-action__actions">
      <div class="flex_row" id="cui-applications__requested-apps" ng-click="newGrantClaims.requestPopover=!newGrantClaims.requestPopover" off-click="newGrantClaims.requestPopover=false">
        <cui-icon  cui-svg-icon="cui:folder" id="cui-applications__requested-apps" svg-class="cui-icon cui-icon--folder" use-class="cui-icon__ref" viewbox="0 0 40 33" preserveAspectRatio="xMidYMid meet" ></cui-icon>
        <sup class="cui-action__icon-counter" ng-class="{'cui-action__icon-counter--active': newGrantClaims.numberOfRequests != 0}">{{newGrantClaims.numberOfRequests}}</sup>
      </div>
        <!-- popover -->
        <div tether class="cui-action__popover" target="#cui-applications__requested-apps" attachment="top middle" targetAttachment="bottom left"
        offset="-20px 50px" ng-if="newGrantClaims.requestPopover" constraints="[{to:'scrollParent',attachment:'together',pin:['right']}]">
          <span class="cui-action__popover-title">{{'collected-items-for-request' | translate}}</span>
          <div class="cui-action__popover-section">
            <span ng-if="newGrantClaims.numberOfRequests === 0">{{'no-selected-apps' | translate}}<br/></span>
            <ul ng-if="newGrantClaims.numberOfRequests > 0">
                <li ng-repeat="application in newGrantClaims.appsBeingRequestedforPopup">{{application.name | cuiI18n}}</li>
                <li ng-repeat="package in newGrantClaims.packagesBeingRequested">{{packages.name | cuiI18n}}</li>
            </ul>
          </div>
        </div>
    </div>
  </section>
  <div class="cui-organization__main-container">
  <div>
    <div class="cui-org-claims__claim" ng-repeat="(applicationId, application) in newGrantClaims.appsBeingRequested" ng-init="index=$index">

      <div class="cui-media">
        <!-- Avatar -->
        <div class="cui-media__image-container">
          <div class="cui-media__image"
            cui-avatar-color-class-prefix="cui-avatar__color"
            cui-avatar-color-count="5"
            cui-avatar-names="application.name"
            cui-avatar-cuii18n-filter cui-avatar="application.iconUrl">
          </div>
        </div>

        <div class="cui-media__body">

          <!-- Name -->
          <h3 class="cui-media__title">{{application.name | cuiI18n}}</h3>
          <h3 ng-if="application.bundledApps" class="cui-media__title cui-media__title-margin__top">{{'bundled-applications' | translate}}</h3>
          <div ng-if="application.bundledApps" ng-repeat="bundledApp in application.bundledApps">
              <span>{{bundledApp.name|cuiI18n}}</span>
          </div> 
          <div class="cui-applications__review-text-input" >
            <h3 class="cui-media__title cui-media__title-margin__top">{{'grant-reason' | translate}}</h3>
            <div class="cui-error" ng-messages="grantApp['text_area'+application.id].$error" ng-if="grantApp['text_area'+application.id].$dirty">
              <div ng-messages-include="app/common-templates/messages.html"></div>
            </div>
            <div class="cui-wizard__field-row">
              <div class="cui-wizard__field-container cui-wizard__field-container--half">
                <textarea name="{{'text_area'+application.id}}" class="cui-text-area" ng-model="newGrantClaims.packageRequests[application.servicePackage.id].reason" ng-required="true"></textarea>
              </div>
            </div>
          </div>
          
  <!-- not needed now 03/12/17 -->
  <!--           <fieldset class="cui-radio__fieldset">
            <div class="cui-radio cui-radio--basic-ltr"> -->

            <!-- Administrator radio -->
  <!--               <div class="cui-media__content">{{'administrator-?' | translate}}
                <input class="cui-radio__input" type="radio" ng-model="newGrantClaims.packageRequests[application.servicePackage.id].administratorRights" ng-value="false" id="false" />
                <label class="cui-radio__label" for="false"><span></span>No</label>
                <input class="cui-radio__input" type="radio" ng-model="newGrantClaims.packageRequests[application.servicePackage.id].administratorRights" ng-value="true" id="true" />
                <label class="cui-radio__label" for="true"><span></span>Yes</label>
              </div>
            </div>
          </fieldset> -->
        </div>
      </div>

      
      <div class="cui-org-claims__row">
        
        <!-- Claims -->
        <div ng-if="base.loader.for['newGrantClaims.claims' + index]">
          <!-- Loader for claims here -->
        </div>
        <div class="cui-org-claims__col" ng-if="!base.loader.for['newGrantClaims.claims' + index]"
          ng-repeat="claim in newGrantClaims['claims' + index]">
          <h3 class="bold">{{claim.name | cuiI18n}}</h3>
          <ul class="cui-checkbox__group">
            <div class="cui-checkbox__group" ng-repeat="claimValue in claim.claimValues">
              <li class="cui-checkbox__container">
                <input class="cui-checkbox" type="checkbox" ng-model="newGrantClaims.packageRequests[
                application.servicePackage.id].claims[claim.claimId][claimValue.claimValueId]" id="{{claimValue.name | cuiI18n}}"/>
                <label class="cui-checkbox__label" for="{{claimValue.name | cuiI18n}}">{{claimValue.name | cuiI18n}}</label>
              </li>
            </div>
          </ul>
        </div>

      </div>
    </div>

    <!--
      base.loader.for['newGrantClaims.submit'] is true when the request has been sent out and we're waiting for a response
      and then
      newGrantClaims.success if successful or
      newGrantClaims.error if there was an error
    -->
    <button disable-animate class="cui-button" ng-class="{'cui-button--error':!grantApp.$valid}"ng-if="!base.loader.for['newGrantClaims.submit'] && !newGrantClaims.error" ng-click="grantApp.$valid&&newGrantClaims.submit()">{{'submit-grant-update' | translate}}</button>
    <button disable-animate class="cui-button" ng-if="base.loader.for['newGrantClaims.submit']">
      <div ng-include="'app/common-templates/partials/loader-updating.html'" ></div>
    </button>
    <button disable-animate class="cui-button" ng-class="{'cui-button--error':!grantApp.$valid}" ng-if="!base.loader.for['newGrantClaims.submit'] && newGrantClaims.error" ng-click="grantApp.$valid&&newGrantClaims.submit()">{{'cui-error-try-again' | translate}}</button>

  </div> 
  </div>
</div>
</div>
<ng-form>

