<div class="cui-org-claims">
  <div class="cui-applications">
  <div class="cui-action">
    <div class="cui-action__title"
      ng-hide="base.loader.for['newGrantClaims.user']"
      ng-click="base.goBack('organization.directory.userList')">
      &#60; {{newGrantClaims.user.name.given}} {{newGrantClaims.user.name.surname}} - {{'new-grant' | translate}}
    </div>
    <div class="cui-action__actions">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="cui-action__icon cui-action__icon--close"
        ui-sref="organization.directory.userDetails({userID: newGrantClaims.user.id})"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 48 53">
        <use class="cui-icon__ref" xlink:href="node_modules/@covisint/cui-icons/dist/icons/icons-out.svg#close"></use>
      </svg>
    </div>
  </div>
  <div class="cui-organization__main-container">
  <div>
    <div class="cui-org-claims__claim" ng-repeat="(applicationId, application) in newGrantClaims.appsBeingRequested.applications" ng-init="index=$index">

      <div class="cui-media">
        <!-- Avatar -->
        <div class="cui-media__image-container">
          <div class="cui-media__image"
            cui-avatar-color-class-prefix="cui-avatar__color"
            cui-avatar-color-count="5"
            cui-avatar-names="application.name"
            cui-avatar-cuii18n-filter cui-avatar="application.iconUrl">
          </div>
        </div>

        <div class="cui-media__body">

          <!-- Name -->
          <h3 class="cui-media__title">{{application.name | cuiI18n}}</h3>

          <fieldset class="cui-radio__fieldset">
            <div class="cui-radio cui-radio--basic-ltr">

          <!-- Administrator radio -->
              <div class="cui-media__content">{{'administrator-?' | translate}}
                <input class="cui-radio__input" type="radio" ng-model="newGrantClaims.packageRequests[application.servicePackage.id].administratorRights" ng-value="false" />
                <label class="cui-radio__label" for="false"><span></span>No</label>
                <input class="cui-radio__input" type="radio" ng-model="newGrantClaims.packageRequests[application.servicePackage.id].administratorRights" ng-value="true" />
                <label class="cui-radio__label" for="true"><span></span>Yes</label>
              </div>
            </div>
          </fieldset>

        </div>
      </div>

      
      <div class="cui-org-claims__row">
        
        <!-- Claims -->
        <div ng-if="base.loader.for['newGrantClaims.claims' + index]">
          <!-- Loader for claims here -->
        </div>
        <div class="cui-org-claims__col" ng-if="!base.loader.for['newGrantClaims.claims' + index]"
          ng-repeat="claim in newGrantClaims['claims' + index]">
          <h3 class="bold">{{claim.name | cuiI18n}}</h3>
          <ul class="cui-checkbox__group" ng-repeat="claimValue in claim.claimValues">
            <li class="cui-checkbox__container">
              <input class="cui-checkbox" type="checkbox" ng-model="newGrantClaims.packageRequests[
              application.servicePackage.id].claims[claim.id][claimValue.claimValueId]" />
              <label class="cui-checkbox__label" for="option-4">{{claimValue.name | cuiI18n}}</label>
            </li>
          </div>
        </div>

      </div>


    </div>

    <!--
      base.loader.for['newGrantClaims.submit'] is true when the request has been sent out and we're waiting for a response
      and then
      newGrantClaims.success if successful or
      newGrantClaims.error if there was an error
    -->
    <button class="cui-button" ng-click="newGrantClaims.submit()">{{'submit-grant-update' | translate}}</button>

      </div> 
  </div>
</div>

