<main class="cui-organization cui-organization-req-org">
  <!-- <h2 class="cui-sr-only">{{'org-req-apps-requests' | translate}}</h2> -->
  <h2 class="cui-sr-only">{{'org-req-apps-requests'}}</h2>

  <!-- DISABLED routehistory POC -->
  <!-- <cui-route-history></cui-route-history> -->

    <!-- Tabs -->
    <div class="cui-tabs__main-container ">
      <ul class="cui-tabs__nav">
        <li class="cui-tabs__tab-container" 
        ui-sref="organization.requests.orgRegistrationRequests">
          <a class="cui-tabs__tab cui-tabs__tab">{{'pending' | translate}} {{'cui-org'|translate}} {{'requests'| translate}}</a>
        </li>
        <li class="cui-tabs__tab-container" 
        ui-sref="organization.requests.orgAppRequests">
          <a class="cui-tabs__tab cui-tabs__tab--active">{{'pending' | translate}} {{'application'|translate}} {{'requests'| translate}}</a>
        </li>
      </ul>
    </div>

  <!-- Content -->
  <section class="cui-organization__main-container">
    <h3 class="cui-sr-only">{{'new-organization' | translate}}</h3>

    <!-- Loading -->
    <div class="cui-loading__container" ng-if="base.loader.for['orgAppRequests.data']">
      <div class="cui-loader cui-loader--content" ng-include="'app/common-templates/partials/loader-content.html'"></div>
    </div>
    <!-- No Requests -->
    <p class="cui-users__password-success" style=" margin:20px; text-align:center" ng-if="orgAppRequests.data.length===0&&!base.apiError.for['orgAppRequests.data']">{{'cui-no-details' | translate}}</p>
    <p class="cui-users__password-success" style=" color:red; margin:20px; text-align:center" ng-if="base.apiError.for['orgAppRequests.data']">{{'error-generic' | translate}}</p>
    <div ng-if="orgAppRequests.data.length!==0">
      <cui-table-header 
      headers="['cui-org', 'submitted', 'request', 'administrator']"
      sorting="orgAppRequests.sortBy"
      sorting-callbacks="orgAppRequests.sortingCallbacks">
      </cui-table-header>
      <cui-table-row ng-repeat="orgAppRequestsCtrl in orgAppRequests.data track by $index"
      ng-click="orgAppRequests.goToDetails(orgAppRequestsCtrl)">
        <li class="cui-flex-table__tr cui-flex-table__tr--c">
          <div class="cui-flex-table__avatar-col">
            <div class="cui-profile__user-avatar" aria-hidden="true" 
              cui-avatar cui-avatar-names="[orgAppRequestsCtrl.personData.name.given, orgAppRequestsCtrl.personData.name.surname]" 
              cui-avatar-color-class-prefix="cui-avatar__color" 
              cui-avatar-color-count="5"></div>
          </div>
          <div class="cui-flex-table__mobile-stack">
             <div class="cui-flex-table__left">
              <span class="cui-flex-table__title">{{orgAppRequestsCtrl.personData.organization.name}}</span>
            </div>

            <div class="cui-flex-table__middle">
              <span class="">{{orgAppRequestsCtrl.personData.creation|date}}</span>
            </div>

            <div class="cui-flex-table__middle">
              <span class="">
              <!-- {{orgAppRequestsCtrl.packageData.name|cuiI18n}} -->
              {{orgAppRequestsCtrl.packageData.name}}
              </span>
            </div>

            <div class="cui-flex-table__right">{{orgAppRequestsCtrl.personData.name.prefix}} {{orgAppRequestsCtrl.personData.name.given}} {{orgAppRequestsCtrl.personData.name.middle}} {{orgAppRequestsCtrl.personData.name.surname}} {{orgAppRequestsCtrl.personData.name.suffix}}
              <span class=""></span>
            </div>
          </div>
        </li>
      </cui-table-row>
    </div>

    <!-- Pagination -->
    <div class="cui-paginate__container">
      <span class="cui-paginate__results-label">{{'cui-num-results-page' | translate}}</span>
      <results-per-page class="cui-paginate__select" 
      ng-model="orgAppRequests.search.pageSize"></results-per-page>
      <paginate class="cui-paginate" 
      results-per-page="orgAppRequests.search.pageSize" 
      count="orgAppRequests.userCount" 
      on-page-change="orgAppRequests.updateSearchParams" 
      ng-model="orgAppRequests.search.page" 
      attach-rerender-to="orgAppRequests.reRenderPagination"></paginate>
    </div>
  </section>

</main>
