<div disable-animate>  
  <div class="cui-action cui-action__no-padding">
    <span class="cui-action__title"  ng-click="editPackage.step=1">&#60; {{'manage-package-claims' | translate}}</span>
  </div>

  <div class="cui-action cui-action__no-padding">
    <button type="button" class="cui-wizard__next"ng-click="editPackage.updateAddClaimForm()">{{'cui-add' | translate}} {{'cui-new' | translate}} {{'cui-claim' | translate}}</button>
  </div>
  <!-- List Claims -->
  <div class="cui-flex-table__th cui-flex-table__th--c" ng-if="editPackage.claims&&editPackage.claims.length!==0">
    <div class="cui-flex-table__avatar-col" style="font-weight:bold">{{'cui-edit'|translate}}/{{'cui-view'|translate}}</div>
    <div class="cui-flex-table__mobile-stack" style="font-weight:bold">
      <div class="cui-flex-table__left" >{{'id'|translate}}</div>
      <div class="cui-flex-table__middle">{{'cui-name'|translate}}</div>
      <div class="cui-flex-table__middle">{{'description'|translate}}</div>
      <div  class="cui-flex-table__middle">{{'cardinality-indicator'|translate}}</div>
      <div  class="cui-flex-table__right">{{'action'|translate}}</div>
    </div>
  </div>
  <cui-table-row ng-repeat="claim in editPackage.claims">
    <li class="cui-flex-table__tr cui-flex-table__tr--c">
      <div class="cui-flex-table__avatar-col">
        <svg cui-icon xmlns="http://www.w3.org/2000/svg" class="cui-action__icon cui-action__icons__space" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146" ng-click="editPackage.toggleEditClaimForm(claim)">
          <use class="cui-icon__ref" xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#edit" ></use>
        </svg>
      </div>
      <div class="cui-flex-table__mobile-stack">
         <div class="cui-flex-table__left">{{claim.claimId}}</div>
        <div class="cui-flex-table__middle">{{claim.name|cuiI18n}}</div>

        <div class="cui-flex-table__middle">{{claim.description|cuiI18n}}</div>
        <!-- Idicator field name need to be changed according to API as of now no support -->
        <div class="cui-flex-table__middle">{{claim.indicator}}</div>
        <div class="cui-flex-table__right" ng-click="editPackage.deleteClaim($index)">
          <cui-icon cui-svg-icon="fa:trash29" svg-class="cui-action__icon" use-class="cui-icon__ref" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet" ></cui-icon>
        </div>
      </div>
    </li>
    <!-- Edit Claims -->
    <div ng-if="claim.edit" class="cui-form__body" style="margin: 1em 0 1em 0; border:1px solid #e8f0f3" disable-animate>
      <div class="cui-action cui-action__no-padding">
        <span class="cui-action__title"> {{'cui-edit' | translate}} {{'cui-claim' | translate}}</span>
      </div>
      <ng-include src="'app/modules/administration/applications/partials/claim-form.html'"  onload="scope=editPackage"></ng-include>
    </div>

  </cui-table-row>



  <!-- Add Claims -->
    <div ng-if="editPackage.addClaimsForm" class="cui-form__body" style="margin: 1em 0 1em 0; border:1px solid #e8f0f3" disable-animate>
      <div class="cui-action cui-action__no-padding">
        <span class="cui-action__title"> {{'cui-add' | translate}} {{'cui-claim' | translate}}</span>
      </div>
      <ng-include src="'app/modules/administration/applications/partials/claim-form.html'"  onload="scope=editPackage"></ng-include>
    </div> 

 <!--  <div class="cui-wizard__controls cui-wizard__controls--clear cui-error" ng-if="editPackage.claimViewData.duplicateLanguage && editPackage.addClaimsForm">
    <label class="cui-error__message">{{'duplicate-language-error' | translate }}</label>
  </div> -->

  <div class="cui-wizard__controls cui-wizard__controls--clear">
    <button type="button" class="cui-wizard__previous"  ng-click="editPackage.step=1">&#60;&#60; {{'cui-back' | translate|uppercase}}</button>
    <!-- <button type="button" class="cui-wizard__next" ng-class="(claims.$invalid||editPackage.indicatorError||editPackage.indicatorAddValue)? 'cui-wizard__next--error' : ''" ng-if="editPackage.addClaimsForm" ng-click="claims.$valid&& !editPackage.indicatorError && !editPackage.indicatorAddValue&&editPackage.saveClaim()">{{'cui-save' | translate}}</button> -->
  </div>
</div>