<ng-form name="nPhase" novalidate>
  
  <div class="cui-wizard__field-row">
    <div class="cui-wizard__field-container cui-wizard__field-container--half switch__form">
      <label>{{'require' | translate}} {{'company-admin' | translate}} {{'approval' | translate}}</label>
      <div class="cui-switch">
            <input class="cui-switch__input" ng-model="userWalkup.applications.acceptedTos" name="application2" id="application2" type="checkbox" />
            <label class="cui-switch__label" for="application2">
              <div class="cui-switch__container">
                <span class="cui-switch__checked-message">{{'yes' | translate}}</span>
                <span class="cui-switch__unchecked-message">{{'cui-no' | translate}}</span>
              </div>
            </label>
          </div>
          <label class="switch__info">{{'company-admin-desc' | translate}}</label>
    </div>

  </div>
  <div class="cui-wizard__field-row">
    <div class="cui-wizard__field-container cui-wizard__field-container--half switch__form">
      <label>{{'require' | translate}} {{'application-admin' | translate}} {{'approval' | translate}}</label>
      <div class="cui-switch">
            <input class="cui-switch__input" ng-model="userWalkup.applications.acceptedTos" name="application1" id="application1" type="checkbox" />
            <label class="cui-switch__label" for="application1">
              <div class="cui-switch__container">
                <span class="cui-switch__checked-message">{{'yes' | translate}}</span>
                <span class="cui-switch__unchecked-message">{{'cui-no' | translate}}</span>
              </div>
            </label>
          </div>
          <label class="switch__info">{{'application-admin-desc' | translate}}</label>
          <button class="cui-button cui-button--inverted cui-button--small-rounded">{{'add-admins' |translate}}</button>
    </div>

  </div>
  <div class="cui-wizard__controls cui-wizard__controls--clear">
    <button type="button" class="cui-wizard__previous" ng-if="!wizardFinished" ng-click="previous()">&#60;&#60; {{'cui-previous' | translate}}</button>
    <button type="button" class="cui-wizard__next" ng-if="!wizardFinished" ng-click="nextWithErrorChecking(nPhase)" ng-class="(nPhase.$invalid)? 'cui-wizard__next--error' : ''">{{'cui-next' | translate}}</button>
  </div>
</ng-form>