<div class="cui-organization__requests-person-header">
  <!-- Organization Name Header and Invitation -->
  <div class="cui-action" ng-if="orgRequest.loading===false">
    <!-- Organization Name -->
    <span class="cui-action__title cui-action__title--dark" ui-sref="requests.organizationRequestList({orgID: orgRequest.organization.id})">&#60; {{orgRequest.organization.name}} - {{'pending-request' | translate}}</span>

    <!-- Invitation Button -->
    <div class="cui-action__actions" ng-include="'app/modules/organization/partials/invite-actions.html'"></div>

  <!-- Navigation -->
  <div class="cui-action">
    <div class="cui-action">
      <nav class="cui-breadcrumb" ng-include="'app/modules/organization/partials/breadcrumbs.html'"></nav>
    </div>
  </div>

  <!-- Organization Info Block -->
  <div class="cui-media--centered" ng-if="!personRequest.loading">
    <!-- Avatar -->
    <div class="cui-media__image-container">
      <div class="cui-profile__user-avatar cui-media__image" cui-avatar cui-avatar-names="[personRequest.user.name.given, personRequest.user.name.surname]" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5"></div>
    </div>

    <!-- User Information -->
    <div class="cui-media__body">
      <!-- Name -->
      <h3 class="cui-media__title">{{personRequest.user.name.given}} {{personRequest.user.name.surname}}</h3>
      <!-- userID -->
      <span class="cui-media__content cui-media__content--dark">{{'userID' | translate}}: {{personRequest.user.id}}</span>
      <!-- Email -->
      <div class="cui-media__content"><span class="cui-media__content--dark">{{'cui-email' | translate}}:</span> <a href="mailto:{{personRequest.user.email}}" class="cui-media__link"> {{personRequest.user.email}}</a></div>
      <!-- Registered Date -->
      <div class="cui-media__content"><span class="cui-media__content--dark">{{'request-date' | translate}}:</span> {{personRequest.user.creation | date:base.appConfig.dateFormat}}</div>
      <!-- Organization -->
      <div class="cui-media__content"><span class="cui-media__content--dark">{{'cui-org' | translate}}:</span>  <a href="" class="cui-media__link">{{personRequest.organization.name}}</a></div>
    </div>
  </div>

  <!-- Details & Status -->
  <cui-expandable class="cui-expandable" transition-speed="150" ng-if="!personRequest.loading">
    <cui-expandable-title class="cui-expandable__title" ng-click="toggleExpand()">
      <div class="cui-expandable__details-status">
        <span class="cui-link cui-expandable__details">{{'view-details' | translate}}</span>
        <span class="cui-expandable__status" ng-class=" 'cui-status--'+personRequest.user.status">{{personRequest.user.status}}</span>
      </div>
    </cui-expandable-title>
    <cui-expandable-body class="cui-expandable__body cui-expandable__body--alt-bg">
      <div class="cui-expandable__body-row">
          <!-- Address -->
        <div class="cui-expandable__body-col cui-expandable__body-col--small">
          <div class="cui-field-val__field">{{'cui-address' | translate}}:</div>
          <span class="cui-field-val__val">{{personRequest.organization.addresses[0].streets[0]}}</span>
          <span class="cui-field-val__val">{{personRequest.organization.addresses[0].city}}</span>
          <span class="cui-field-val__val">{{personRequest.organization.addresses[0].state}}, {{personRequest.organization.addresses[0].postal}}</span>
          <span class="cui-field-val__val">{{personRequest.organization.phones[0].number}}</span>
        </div>
        <!-- Time zone and Language -->
        <div class="cui-expandable__body-col cui-expandable__body-col--small">
          <div class="cui-field-val__field">{{'timezone-and-language' | translate}}:</div>
          <span class="cui-field-val__val">{{personRequest.user.timezone}}</span>
          <span class="cui-field-val__val">{{personRequest.user.language}}</span>
        </div>
        <!-- Request -->
        <div class="cui-expandable__body-col cui-expandable__body-col--small">
          <div class="cui-field-val__field">{{'request' | translate}}:</div>
          <span class="cui-field-val__val">{{personRequest.userPersonRequest.justification}}</span>
        </div>
      </div>
    </cui-expandable-body>
  </cui-expandable>

</div>
