<ng-form name="pendingRequestsApproval" ng-if="!orgRequest.loading">
  <div class="cui-organization__main-container">

    <!-- Organization Request -->
    <div>
      <h3>Registration Decision</h3><br/>
      <fieldset class="cui-flex-table__fieldset">
        <div class="cui-flex-table__right cui-flex-table__multi">
          <div class="cui-radio cui-radio--deny">
            <input class="cui-radio__input cui-radio--deny" type="radio" id="radio-choice-registration-deny" value="denied" ng-model="orgRequest.organizationRequest.approval" required />
            <label class="cui-radio__label" for="radio-choice-registration-deny">
              <span>{{'deny' | translate}}</span>
              <div class="cui-radio__outer-button"><div class="cui-radio__inner-button"></div></div>
            </label>
          </div>
          <div class="cui-radio cui-radio--approve">
            <input class="cui-radio__input" type="radio" id="radio-choice-registration-approve" value="approved" ng-model="orgRequest.organizationRequest.approval" required />
            <label class="cui-radio__label" for="radio-choice-registration-approve">
              <span>{{'approve' | translate}}</span>
              <div class="cui-radio__outer-button"><div class="cui-radio__inner-button"></div></div>
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- Requested Service Packages -->
    <p ng-if="orgRequest.packages.length===0&&orgRequest.organizationRequest.approval==='approved'">No Packages Requested!</p>
    <div ng-if="orgRequest.packages.length>0&&orgRequest.organizationRequest.approval==='approved'">
      <div class="cui-expandable__container">
        <div class="cui-expandable__tr">
          <span class="cui-expandable__td">{{'requested-items' | translate}}</span>
          <span class="cui-expandable__td"></span>
          <span class="cui-expandable__td">{{'deny' | translate}}</span>
          <span class="cui-expandable__td">{{'approve' | translate}}</span>
        </div>
      </div> 
      <!-- List: Content -->
      <div ng-repeat="package in orgRequest.organizationRequest.packages" >
        <cui-expandable class="cui-expandable" transition-speed="100">
          <cui-expandable-title class="cui-expandable__title">
            <div class="cui-flex-table__tr">
              <p class="cui-flex-table__text">{{package.servicePackage.packageDetails.name | cuiI18n}}</p>
              <p class="cui-flex-table__text"></p>
              <p class="cui-flex-table__text">
                <fieldset class="cui-radio__fieldset" ng-click="collapse()">
                  <div class="cui-radio cui-radio--deny">
                    <input class="cui-radio__input cui-radio--deny" type="radio" id="radio-choice-{{$index+'a'}}" value="denied" ng-model="package.approval" required />
                    <label class="cui-radio__label" for="radio-choice-{{$index+'a'}}">
                      <div class="cui-radio__outer-button"><div class="cui-radio__inner-button"></div></div>
                    </label>
                  </div>
                </fieldset>
              </p>
              <p class="cui-flex-table__text">
                <fieldset class="cui-radio__fieldset" ng-click="expand()">
                  <div class="cui-radio cui-radio--approve">
                    <input class="cui-radio__input" type="radio" id="radio-choice-{{$index}}" value="approved" ng-model="package.approval" required />
                    <label class="cui-radio__label" for="radio-choice-{{$index}}">
                      <div class="cui-radio__outer-button"><div class="cui-radio__inner-button"></div></div>
                    </label>
                  </div>
                </fieldset>
              </p>
            </div>
          </cui-expandable-title>
          <cui-expandable-body class="cui-expandable__body">
            <!-- Close Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" class="cui-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 51" ng-click="collapse()">
              <use class="cui-icon__ref" xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#close-no-fill"></use>
            </svg>
            <!-- Package Claims -->
            <p>{{'claims' | translate}}:</p>
            <p ng-if="package.servicePackage.claims.length===0">{{'cui-package-no-claims' | translate}}.</p>
            <div ng-if="package.servicePackage.claims.length>0" ng-repeat="claim in package.servicePackage.claims">
              <li class="cui-checkbox__container"><input class="cui-checkbox" type="checkbox" id="option-1" ng-model="claim.accepted"/><label class="cui-checkbox__label" for="option-1">{{claim.description | cuiI18n}}</label></li>
            </div>
            <!-- Related Apps -->
            <p ng-if="package.servicePackage.services.length>0">{{'bundled-applications' | translate}}:</p>
            <p ng-if="package.servicePackage.services.length===0">{{'no-bundled-or-related' | translate}}.</p>
            <div ng-if="package.servicePackage.services.length>0" ng-repeat="service in package.servicePackage.services">
              <span>{{service.name | cuiI18n}}</span><br/>
            </div>
          </cui-expandable-body>
        </cui-expandable>
      </div>
    </div>
  </div>
  
  <!-- Form Controls -->
  <div>
    <button class="cui-button" ng-disabled="pendingRequestsApproval.$invalid" ng-class="{'cui-button--error':pendingRequestsApproval.$invalid}" ng-click="orgRequest.reviewApprovals()" style="margin:10px">{{'review-approvals' | translate}}</button>
  </div>

</ng-form>
