<ng-form name="password">
  <div class="cui-users__field">
    <div class="cui-users__address-container" class-toggle toggled-class="show-address">
      <div class="cui-users__field">
        <span class="cui-field-val__field">{{'password-reset' | translate}}</span>
        <span class="cui-link" href="" ng-if="!toggled" ng-click="userDetailsProfile.toggleAllOff();toggleOn()">{{'cui-edit' | translate}}</span>
        <div ng-if="toggled" ng-click="userDetailsProfile.resetPasswordFields();toggleOff()">
            <cui-icon cui-svg-icon="cui:close-no-fill" svg-class="cui-action__icon" use-class="cui-card__icon" viewbox="0 0 48 53" preserveAspectRatio="xMidYMid meet" ></cui-icon>
        </div>
        <!--svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" ng-if="toggled" ng-click="userDetailsProfile.resetPasswordFields();toggleOff()" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 53" aria-label="{{'cui-close' | translate}}">
          <use class="cui-icon__ref" xlink:href="node_modules/@covisint/cui-icons/dist/icons/icons-out.svg#close-no-fill"></use>
        </svg-->
      </div>

      <!-- Password Edit -->
      <div ng-if="toggled" ng-init="userDetailsProfile.pushToggleOff({'name':'password','function':toggleOff})">

        <!-- Current Password -->
        <label for="currentPassword">{{'current-password' | translate}}</label>
        <div class="cui-error" ng-messages="password.currentPassword.$error" ng-if="password.currentPassword.$touched">
          <div ng-messages-include="app/common-templates/messages.html"></div>
        </div>
        <input type="password" name="currentPassword" class="cui-input" ng-model="userDetailsProfile.userPasswordAccount.currentPassword" ng-required="true" focus-if="toggled"/>

        <!-- New password -->
        <div class="cui-input__password-holder">
          <label for="newPassword">{{'cui-enter-new-password' | translate}}: </label>
          <input class="cui-input" name="newPassword" type="password" ng-model="userDetailsProfile.userPasswordAccount.password" ng-required="true" ng-class="{'cui-input--error': password.newPassword.$touched && password.newPassword.$invalid}" password-validation="userDetailsProfile.passwordRules"/>
          <!-- Password Rules Popover -->
          <div password-popover ng-messages="password.newPassword.$error" ng-messages-multiple ng-if="password.newPassword.$invalid" class="cui-error__password">
            <div ng-messages-include="app/common-templates/password-validation.html"></div>
          </div>
        </div>

        <!-- Re-enter new password -->
        <label for="newPasswordRe">{{'cui-re-enter-new-password' | translate}}: </label>
        <div class="cui-error" ng-if="password.newPasswordRe.$touched && password.newPasswordRe.$error.match">
          <div class="cui-error__message">{{'password-mismatch' | translate}}</div>
        </div>
        <input class="cui-input cui-field-val__val" type="password" ng-model="userDetailsProfile.passwordRe" name="newPasswordRe" match="userDetailsProfile.userPasswordAccount.password" />

        <!-- Password Edit Controls -->
        <div class="cui-users__address-submit">
          <a class="cui-link cui-form__cancel" href="" ng-click="userDetailsProfile.resetPasswordFields();toggleOff()">{{'cui-cancel' | translate}}</a>
          <button class="cui-button" ng-click="password.$valid && userDetailsProfile.updatePassword('password',toggleOff);"
            ng-class="{'cui-button--error':!password.$valid}">
            <span ng-if="(!userDetailsProfile.password || !userDetailsProfile.password.submitting) && !userDetailsProfile.password.error">{{'cui-update' | translate}}</span>
            <div class="cui-loading--medium-ctr" ng-if="userDetailsProfile.password.submitting"></div>
            <span ng-if="userDetailsProfile.password.error">{{'cui-error-try-again'| translate}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-form>
