<p>{{'passwords-must' | translate}}</p>

<div class="cui-error__message" ng-message="lowercaseNotAllowed">
    <div class="cui-error__status" ng-class="{'cui-error__status--pass': !errors.lowercaseNotAllowed}"></div>
    {{'lowercase-not-allowed' | translate}}
</div>
<div class="cui-error__message" ng-message="uppercaseNotAllowed">
    <div class="cui-error__status" ng-class="{'cui-error__status--pass': !errors.uppercaseNotAllowed}"></div>
    {{'uppercase-not-allowed' | translate}}
</div>
<div class="cui-error__message" ng-message="numberNotAllowed">
    <div class="cui-error__status" ng-class="{'cui-error__status--pass': !errors.numberNotAllowed}"></div>
    {{'numbers-not-allowed' | translate}}
</div>
<div class="cui-error__message" ng-message="specialNotAllowed">
    <div class="cui-error__status" ng-class="{'cui-error__status--pass':!errors.specialNotAllowed}"></div>
    {{'special-not-allowed' | translate}}
</div>
<div class="cui-error__message" ng-message="disallowedWords">
    <div class="cui-error__status"></div> <!-- Doesn't need ng-class because this error only shows up if the condition isn't met -->
    {{'words-not-allowed' | translate:errors}}
</div>
<div class="cui-error__message" ng-message="disallowedChars">
    <div class="cui-error__status"></div>
    {{'chars-not-allowed' | translate:policies}}
</div>

<div class="cui-error__message">
    <div class="cui-error__status" ng-class="{'cui-error__status--pass': !errors.length}"></div>
        {{'password-length' | translate:policies}}<br/><br/>
</div>

<div class="cui-error__message" ng-if="policies.requiredNumberOfCharClasses">{{'password-rules' | translate:policies}}<br/></div>

<div class="cui-error__message" ng-if="policies.allowLowerChars">
    <div class="cui-error__status" ng-class="{'cui-error__status--pass': !errors.lowercase}"></div>
    {{'password-lowercase' | translate}}
</div>
<div class="cui-error__message" ng-if="policies.allowUpperChars">
    <div class="cui-error__status" ng-class="{'cui-error__status--pass': !errors.uppercase}"></div>
    {{'password-uppercase' | translate}}
</div>
<div class="cui-error__message" ng-if="policies.allowNumChars">
    <div class="cui-error__status" ng-class="{'cui-error__status--pass': !errors.number}"></div>
    {{'password-number' | translate}}
</div>
<div class="cui-error__message" ng-if="policies.allowSpecialChars">
    <div class="cui-error__status" ng-class="{'cui-error__status--pass': !errors.special}"></div>
    {{'password-special' | translate}}
</div>
