.cui-organization__new-request,
.cui-organization__new-request-search {
  .cui-action__actions {
    margin-left: auto;
  }

  .cui-organization__radio-container {
    padding: 0;
    margin: 0 0 em(30);

    @media screen and (max-width: 700px) {
      display: flex;
      flex-direction: column;
    }
  }

  .cui-radio {
    font-size: em(14);
  }

  .cui-radio:nth-of-type(2) {
    @media screen and (min-width: 700px) {
      margin-left: em(34);
    }
  }

  .cui-organization__browse-apps {
    color: rgb(52, 53, 52);
    display: block;
    flex: 0.45;
    font-weight: bold;
    letter-spacing: 0.8px;
    width: 100%;

    @media screen and (max-width: 700px) {
      align-items: center;
      background-color: $button-color;
      border-radius: $button-border-radius;
      border: 0;
      color: #fff;
      display: flex;
      font-size: $button-font-size;
      height: $button-height;
      justify-content: center;
      margin: em(33) auto 0;
      position: relative;
      width: 60%;
    }
  }

  .cui-organization__search-button {
    display: flex;
    justify-content: flex-end;
    margin-top: em(62);
  }

  .cui-action--alt {
    .cui-action__title {
      @media screen and (min-width: 701px) {
        flex: 0.25;
      }
    }

    .cui-input-button {
      @media screen and (min-width: 701px) {
        flex: 0.5;
      }
    }
  }
}
