.cui-organization {
  position: relative;
}

.cui-tabs__main-container{
      padding: 0.9375em 3.4375em 0 4.0625em;  
}
.cui-organization__main-container {
  min-height: 400px;
  padding: em(15) em(13);
  position: relative;

  @media screen and (min-width: 701px) {
    padding: em(15) em(55) 0 em(65);
  }
}
@media screen and (max-width: 700px) {
  .cui-organization__info-block {
    -ms-flex-direction: column;
        flex-direction: column; } }

.cui-organization__info-block {
  margin-bottom: em(21);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;

  .cui-organization__admin-block-wrapper {
    display: flex;
    flex:0.5;
    flex-flow: column wrap;

    .cui-organization__admin-block {
      margin-bottom: em(21);
      border-bottom:$base-font-color solid 1px;
      .cui-field-val{
        line-height:normal;
        margin-bottom: 0;
      }
    }
    @media screen and (min-width:700px){
      .cui-organization__admin-block {
      margin-right: em(51);
    }
    }
    .cui-organization__admin-block__right{
      margin-right: inherit;
    }
  }
}

.cui-organization__page-title {
  @extend %h5;
  @extend %bold;
  margin-bottom: em(21);
}
