.cui-applications__related-app,
.cui-applications__bundled-app {
  @extend %flex-row;
  align-items: center;
  border-bottom: 1px solid #dee9ee;
  padding: em(15) em(10);
}

.cui-applications__related-app {
  &:last-of-type {
    border-bottom: 0;
  }
}

.cui-applications__related-apps-title,
.cui-applications__bundled-apps-title {
  @extend %bold;
  align-items: center;
  border-bottom: 1px solid #dee9ee;
  display: flex;
  font-size: em(18);
  height: 73px;
  padding: em(15) em(10);
}

.cui-applications__related-app-col,
.cui-applications__bundled-app-col {
  @extend %flex-row-vert;
}

.cui-applications__app-details {
  .cui-tile__title,
  .cui-tile__body {
    border: 1px solid #dee9ee;
  }

  .cui-tile__title {
    @extend %bold;
  }

  .cui-tile__body {
    border-top: 0;
    padding: 0;
  }
}

.cui-applications__claims {
  align-items: center;
}

.cui-applications__no-claims,
.cui-applications__no-details,
.cui-applications__claim {
  padding: em(15) em(10);
}

.cui-applications__claim {
  border-bottom: 1px solid #dee9ee;

  &:last-of-type {
    border-bottom: 0;
  }
}

.cui-applications__claim-name {
  @extend %bold;
  margin-bottom:1em;
}
.cui-applications__claim-val{
  margin:0;
}
