.cui-applications__main-container {
  padding: em(15) em(13);
  position: relative;
  min-height: 400px;

  @media screen and (min-width: 701px) {
    padding: em(15) em(55) em(15) em(65);
  }

  &--full {
    @media screen and (max-width: 700px) {
      padding: em(15) 0;
    }
  }
}

.cui-tabs {
  @media screen and (min-width: 701px) {
    display: none;
  }
}

.cui-applications__left,
.cui-applications__right {
  flex: 0.5;
}

.cui-applications__right {
  margin-left: em(50);
}

.cui-applications__desktop-tabs {
  display: none;

  @media screen and (min-width: 701px) {
    display: flex;
  }
}

.cui-applications {
  .cui-media__image {
    position: relative;
  }

  .cui-media__title {
    cursor: pointer;
  }

  &__center-text {
    &::before,
    &::after {
      content: "\2014";
      display: inline-block;
      height: 100%;
      margin: 0 5px;
      width: 10px;
    }
  }
}

%flex-row {
  display: flex;
  justify-content: space-between;
}

.cui-applications__row {
  @extend %flex-row;
}

.cui-loading--circle {
  animation: spin 1s infinite linear;
  background-color: #fff;
  border: 0.625em solid #85a6ad;
  border-radius: 2.5em;
  border-top-color: #cde6f0;
  height: 0;
  width: 0;
}
.cui-popover--row__flex{
    display: flex;
    flex:0.5;
}


