.cui-applications__review {
  .cui-action--alt {
    @media screen and (max-width: 700px) {
      flex-wrap: wrap;
    }

    .cui-input-button {
      @media screen and (max-width: 700px) {
        flex: 0 100%;
        margin-top: em(25);
        order: 3;
      }
    }

    .cui-action__title {
      @media screen and (min-width: 701px) {
        flex: 0.25;
      }
    }

    .cui-input-button {
      @media screen and (min-width: 701px) {
        flex: 0.5;
      }
    }
  }

  .cui-applications__review-apps {
    @extend .cui-applications__row;
    flex-wrap: wrap;
    margin-top: em(24);

    & div:nth-child(odd) {
      margin-right: 3.6%;
    }
  }

  .cui-applications__review-text-input {
    display: flex;
    flex-direction: column;
  }

  .cui-applications__review-checkbox__wrapper{
    margin-top:1em;
  }

  .cui-applications__review-checkbox__flex{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cui-applications__submit-options {
    display: flex;
    justify-content: flex-end;
  }

  .cui-applications__submit-options {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: em(40) 0;

    .cui-link {
      margin-right: em(43);
    }
  }
  .chevron-left {
      position: absolute;
      left: -5px;
      top:inherit;
    }
  @media screen and (min-width: 701px){
    .chevron-left {
      position: absolute;
      left: 2.5em;
      top:inherit;
    }
  }
}

.cui-media__title-margin__top{
  margin-top:1.5em;
}

.cui-media__image-container__flex-start{
  align-self:flex-start;
}
.cui-checkbox_label__flex{
  padding-right: 2em;
  padding-top: .6em;
  word-break: break-word;
  color:black;
}

.cui-popover__sort-popover {
  transform: translate(-8.5em);
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  .cui-popover__sort-popover {
    width: 275px;
    transform: translate(-8.5em);
  }
}

.cui-popover__categories-popover {
  transform: translate(-8em);
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  .cui-popover__categories-popover {
    width: 275px;
    transform: translate(-8em);
  }
}
