.cui-applications__search {
  &.cui-applications__search-results {
    .cui-action--alt {
      @media screen and (max-width: 700px) {
        flex-wrap: wrap;
      }
    }

    .cui-input-button {
      @media screen and (max-width: 700px) {
        flex: 0 100%;
        margin-top: em(25);
        order: 3;
      }
    }
  }

  .cui-action--alt {
    .cui-action__title {
      @media screen and (min-width: 701px) {
        flex: 0.25;
      }
    }

    .cui-input-button {
      @media screen and (min-width: 701px) {
        flex: 0.3;
      }
    }
  }

  .cui-applications__expandable-info {
    align-items: center;
    display: flex;
    flex: 0.9;

    .cui-expandable__title-left {
      flex: 0.35;
    }

    .cui-expandable__title-middle {
      flex: 0.35;
    }
  }

  .cui-expandable__title-end {
    flex: 0.1;
  }
}


.cui-action__title-link{
  color:$cui-primary-colors--dark !important;
}

.cui-applications__search-button {
  display: flex;
  justify-content: flex-end;
  margin-top: em(40);
}

.cui-hide__opacity{
  opacity:0;
}