<main class="cui-organization cui-organization-req-uers">
  <!-- <h2 class="cui-sr-only">{{'org-req-apps-requests' | translate}}</h2> -->
  <h2 class="cui-sr-only">{{'org-req-apps-requests'}}</h2>

  <!-- DISABLED routehistory POC -->
  <!-- <cui-route-history></cui-route-history> -->

    <!-- Tabs -->
    <div class="cui-tabs__main-container">
      <ul class="cui-tabs__nav">
        <li class="cui-tabs__tab-container" 
        ui-sref="organization.requests.usersRegistrationRequests">
          <a class="cui-tabs__tab cui-tabs__tab">{{'pending' | translate}} {{'user' | translate}} {{'requests' | translate}}</a>
        </li>
        <li class="cui-tabs__tab-container" 
        ui-sref="organization.requests.usersAppRequests">
          <a class="cui-tabs__tab cui-tabs__tab--active">{{'pending' | translate}} {{'application' | translate}} {{'requests' | translate}}</a>
        </li>
      </ul>
    </div>

  <!-- Content -->
  <section class="cui-organization__main-container">
    <h3 class="cui-sr-only">{{'users-requests' | translate}}</h3>

    <!-- Loading -->
    <div class="cui-loading__container" ng-if="base.loader.for['usersAppRequests.data']">
      <div class="cui-loader cui-loader--content" ng-include="'app/common-templates/partials/loader-content.html'"></div>
    </div>

    <cui-table-header 
      headers="['cui-name', 'submitted', 'application', 'division']"
      sorting="usersAppRequests.sortBy"
      sorting-callbacks="usersAppRequests.sortingCallbacks">
      </cui-table-header>
    <cui-table-row ng-repeat="userRequest in usersAppRequests.data track by $index"
    ng-click="usersAppRequests.goToDetails(userRequest)">
      <li class="cui-flex-table__tr cui-flex-table__tr--c">
        <div class="cui-flex-table__avatar-col">
          <div class="cui-profile__user-avatar" aria-hidden="true" 
            cui-avatar cui-avatar-names="[userRequest.personData.name.given, userRequest.personData.name.surname]" 
            cui-avatar-color-class-prefix="cui-avatar__color" 
            cui-avatar-color-count="5"></div>
        </div>
        <div class="cui-flex-table__mobile-stack">
           <div class="cui-flex-table__left">
            <span class="cui-flex-table__title">{{userRequest.personData.name.prefix}} {{userRequest.personData.name.given}} {{userRequest.personData.name.middle}} {{userRequest.personData.name.surname}} {{userRequest.personData.name.suffix}}</span>
          </div>

         <!--  <div class="cui-flex-table__middle">
            <span class="">{{userRequest.personData.title}}</span>
          </div> -->

          <div class="cui-flex-table__middle">
            <span class="">{{userRequest.personData.creation|date}}</span>
          </div>

          <div class="cui-flex-table__middle">
            <span class="">
            <!-- {{userRequest.packageData.name|cuiI18n}} -->
            {{userRequest.packageData.name}}
            </span>
          </div>

          <div class="cui-flex-table__right">
            <span class="">{{userRequest.personData.organization.name}}</span>
          </div>
        </div>
      </li>
    </cui-table-row>

    <!-- Pagination -->
    <div class="cui-paginate__container">
      <span class="cui-paginate__results-label">{{'cui-num-results-page' | translate}}</span>
      <results-per-page class="cui-paginate__select" 
      ng-model="usersAppRequests.search.pageSize"></results-per-page>
      <paginate class="cui-paginate" 
      results-per-page="usersAppRequests.search.pageSize" 
      count="usersAppRequests.userCount" 
      on-page-change="usersAppRequests.updateSearchParams" 
      ng-model="usersAppRequests.search.page" 
      attach-rerender-to="usersAppRequests.reRenderPagination"></paginate>
    </div>
  </section>

</main>
