<!-- processHTML:remove -->
<div class="code-info">The markup and javascript used to build this page can be found <a class="cui-link" href="https://github.com/thirdwavellc/cui-idm-b2x/tree/master/app/modules/organization/hierarchy" target="blank">here</a>.</div>
<!-- /processHTML -->

<div class="cui-organization cui-organization-dir">

  <!-- Navigation -->
  <section class="cui-action">
    <nav ng-include="'app/modules/organization/partials/breadcrumbs.html'" onload="orgId=orgHierarchy.stateParamsOrgId"></nav>
    <nav ng-if="!base.loader.for['orgHierarchy.loading']" ng-include="'app/modules/organization/partials/mobileNav.html'" ng-init="orgName=orgHierarchy.organizationHierarchy[0].name[0].text"></nav>
    <!-- <div class="cui-action__actions" ng-include="'app/modules/organization/partials/invite-actions.html'"></div> -->
  </section>

  <!-- Page Content -->
  <div class="cui-organization__main-container">

    <!-- Page Loading -->
    <div class="cui-loading__container" ng-if="base.loader.for['orgHierarchy.loading']">
      <div class="cui-loading--center"><div class="cui-loading"></div></div>
    </div>

    <!-- Title -->
    <h3 class="cui-organization__page-title" ng-if="base.user.organization.id!=orgHierarchy.organizationHierarchy[0].id" ui-sref="organization.profile({orgId:base.user.organization.id})">&lt; {{base.user.organization.name}}</h3>

    <!-- <h3 class="cui-organization__page-title" style="color:#006c77;">{{orgHierarchy.organizationHierarchy[0].name|cuiI18n}}</h3> -->
    <!-- Hierarchy Tree -->
    <div disable-animate class="cui-link" ng-if="!orgHierarchy.expanded" ng-click="orgHierarchy.toggleAll(orgHierarchy.expanded)">{{'expand-all'|translate}}</div>
    <div disable-animate class="cui-link" ng-if="orgHierarchy.expanded" ng-click="orgHierarchy.toggleAll(orgHierarchy.expanded)">{{'collapse-all'|translate}}</div>
    <div class="cui-tree" ng-if="orgHierarchy.organizationHierarchy" cui-tree-alt="orgHierarchy.organizationHierarchy" cui-tree-alt-leaf-display="(object.name | cuiI18n)" cui-tree-alt-leaf-click-callback="orgHierarchy.goToOrgPrfile" cui-tree-alt-toggle-expand-callback="orgHierarchy.toggleExpand"></div>
    
  </div>
</div>
