<!-- processHTML:remove -->
<div class="code-info">The markup and javascript used to build this page can be found <a class="cui-link" href="https://github.com/thirdwavellc/cui-idm-b2x/tree/master/app/modules/organization/hierarchy" target="blank">here</a>.</div>
<!-- /processHTML -->

<div class="cui-organization">
  <!-- Navigation -->
  <div class="cui-action">
    <nav class="cui-breadcrumb">
      <ul class="cui-breadcrumb__links">
        <li class="cui-breadcrumb__link">
          <a ui-sref="organization.profile">{{'cui-org-profile' | translate}}</a> 
          </li>
        <li class="cui-breadcrumb__link">
          <a ui-sref="organization.hierarchy({orgID:orgProfile.organization.id})" ui-sref-active="active">{{'cui-org-hierarchy' | translate}}</a> 
          </li>
        <li class="cui-breadcrumb__link">
          <a ui-sref="organization.directory({orgID:orgProfile.organization.id})">{{'directory' | translate}}</a>
          </li> 
        <li class="cui-breadcrumb__link">
          <a ui-sref="organization.roles({orgID:orgProfile.organization.id})">{{'roles' | translate}}</a>
        </li>
      </ul>
    </nav>
    <div class="cui-action__actions">
      <div class="cui-action__action-container" id="invitation-button" ng-click="orgHierarchy.invitationClicked=!orgHierarchy.invitationClicked" off-click="orgHierarchy.invitationClicked=false">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon cui-action__icon--invite" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
          <defs>
            <ellipse id="path-1" cx="20" cy="19.672" rx="20" ry="19.672"/>
            <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
              <feOffset dy="3" in="SourceAlpha" result="shadowOffsetOuter1"/>
              <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
              <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.27 0" in="shadowBlurOuter1"/>
            </filter>
          </defs>
          <use xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#invite"></use>
        </svg>
        <!-- Invitation Popover -->
        <div class="cui-popover cui-popover--top cui-popover__sort-popover" tether target="#invitation-button" attachment="top middle" target-attachment="bottom middle" offset="-10px 0" ng-if="orgHierarchy.invitationClicked">
          <p ui-sref="invitation.user({orgID:orgHierarchy.organizationId})">{{'invite-user' | translate}}</p>
          <p ui-sref="invitation.division({orgID:orgHierarchy.organizationId})">{{'invite-division' | translate}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Profile Content -->
  <div class="cui-organization__main-container">
    <!-- Page Loading -->
    <div class="cui-loading__container" ng-if="orgHierarchy.loading">
      <div class="cui-loading--center"><div class="cui-loading"></div></div>
    </div>

    <!-- Title -->
    <h3 class="cui-organization__page-title">{{orgHierarchy.organizationHierarchy[0].name | cuiI18n}}</h3>

    <!-- Hierarchy Tree -->
    <div class="cui-tree" cui-tree="orgHierarchy.organizationHierarchy" cui-tree-leaf-display="(object.name | cuiI18n)" cui-tree-leaf-click-callback="orgHierarchy.goToOrgProfile"></div>
  </div>
</div>
