<!-- Action Header -->
<div class="cui-organization__request-review-header">
  <!-- Action Header 1 -->
  <div class="cui-action">
    <!-- Name -->
    <span class="cui-action__title cui-action__title--dark" ng-click="base.goBack('organization.directory.userList')"> &#60; {{pendingRequestsReview.user.name.given}} {{pendingRequestsReview.user.name.surname}} - {{'pending-request' | translate}}</span>

    <!-- Invitation -->
    <div class="cui-action__actions" ng-include="'app/modules/organization/partials/invite-actions.html'" ng-if="false"></div>
  </div>

  <!-- Action Header 2 -->
  <div class="cui-action cui-action--min">
    <!-- Navigation -->
    <nav ng-include="'app/modules/organization/partials/breadcrumbs.html'"></nav>
    <nav ng-include="'app/modules/organization/partials/mobileNav.html'"></nav>
  </div>
</div>

<!-- Page Loading -->
<div class="cui-loading__container--user-details" ng-if="pendingRequestsReview.loading">
  <div class="cui-loading--center"><div class="cui-loading"></div></div>
</div>

<!-- Name Header -->
<div class="cui-media--centered" ng-if="!pendingRequestsReview.loading">
  <!-- Avatar -->
  <div class="cui-media__image-container">
    <div class="cui-profile__user-avatar" cui-avatar cui-avatar-names="[pendingRequestsReview.user.name.given, pendingRequestsReview.user.name.given]" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5"></div>
  </div>
  
  <!-- User Information -->
  <div class="cui-media__body">
    <!-- Name -->
    <h3 class="cui-media__title">{{pendingRequestsReview.user.name.given}} {{pendingRequestsReview.user.name.surname}}</h3>
    <!-- userID -->
    <p class="cui-media__content cui-media__content--dark">{{'userID' | translate}}: {{pendingRequestsReview.user.id}}</p>
    <!-- Registered Date -->
    <p class="cui-media__content">{{'cui-registered' | translate}}: {{pendingRequestsReview.user.creation | date:base.appConfig.dateFormat}}</p>
    <!-- Status: Active -->
    <p class="cui-media__content cui-status" ng-class="{'cui-status--active' : pendingRequestsReview.user.status==='active'}">{{pendingRequestsReview.user.status}}
      <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
        <use xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#unlock3"></use>
      </svg>
    </p>
    <!-- Status: Locked -->
    <p class="cui-media__content" ng-if="pendingRequestsReview.user.status==='locked'">{{pendingRequestsReview.user.status}}
      <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
        <use xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#lock24"></use>
      </svg>
    </p>
  </div>
</div>
