<!-- Action Header -->
<div class="cui-organization__request-review-header">
  <!-- <div class="cui-action">
    <span class="cui-action__title cui-action__title--dark" ui-sref="organization.requests.pendingRequests({userId:pendingRequestsReview.user.id, orgId:pendingRequestsReview.user.organization.id})">&#60; {{pendingRequestsReview.user.name.given}} {{pendingRequestsReview.user.name.surname}} - {{'pending-request' | translate}}</span>
  </div> -->

  <!-- DISABLED routehistory POC -->
  <!-- <cui-route-history></cui-route-history> -->

  <!-- Navigation -->
  <!-- <div class="cui-action cui-action--min">
    <nav ng-include="'app/modules/organization/partials/breadcrumbs.html'"></nav>
    <nav ng-include="'app/modules/organization/partials/mobileNav.html'"></nav>
  </div> -->
</div>

<!-- User Information -->
<div class="cui-media--centered" ng-if="!pendingRequestsReview.loading">
  <!-- Avatar -->
  <div class="cui-media__image-container">
    <div class="cui-profile__user-avatar" cui-avatar cui-avatar-names="[pendingRequestsReview.user.name.given, pendingRequestsReview.user.name.given]" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5"></div>
  </div>
  
  <!-- User Information -->
  <div class="cui-media__body">
    <!-- Name -->
    <h3 class="cui-media__title">{{pendingRequestsReview.user.name.given}} {{pendingRequestsReview.user.name.surname}}</h3>
    <!-- userID -->
    <p class="cui-media__content cui-media__content--dark">{{'userID' | translate}}: {{pendingRequestsReview.user.username}}</p>
    <!-- Registered Date -->
    <p class="cui-media__content">{{'cui-registered' | translate}}: {{pendingRequestsReview.user.creation | date:base.appConfig.dateFormat}}</p>
    <!-- status -->
    <div class="cui-media__content">
      <span class="cui-media__content--dark">{{'status' | translate}}:</span><a href="" class="cui-media__link">{{pendingRequestsReview.user.status}}</a>
      <cui-icon cui-svg-icon="fa:unlock3" svg-class="cui-action__icon" use-class="" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet" ng-if="pendingRequestsReview.user.status==='active'"></cui-icon>
      <cui-icon cui-svg-icon="fa:lock24" svg-class="cui-action__icon" use-class="" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet" ng-if="pendingRequestsReview.user.status==='locked'"></cui-icon>
    </div>
    <!-- Status: Active -->
    <!-- <p class="cui-media__content cui-status" ng-class="{'cui-status--active' : pendingRequestsReview.user.status==='active'}">
      {{'status'|translate}}: {{pendingRequestsReview.user.status}}
      <cui-icon cui-svg-icon="fa:unlock3" svg-class="cui-action__icon" use-class="" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet"></cui-icon>
    </p> -->
    <!-- Status: Locked -->
    <!-- <p class="cui-media__content" ng-if="pendingRequestsReview.user.status==='locked'">{{'status'|translate}}: {{pendingRequestsReview.user.status}}
      <cui-icon cui-svg-icon="fa:lock24" svg-class="cui-action__icon" use-class="" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet"></cui-icon>
    </p> -->
  </div>
</div>
