<!-- processHTML:remove -->
<div class="code-info">Code for this page can be found <a class="cui-link" href="https://github.com/thirdwavellc/cui-idm-b2x/tree/master/assets/app/organization/profile" target="blank">here</a> and the layout styles <a href="https://github.com/thirdwavellc/cui-idm-b2x/tree/master/assets/scss/3-views/organization.scss" class="cui-link" target="blank">here</a></div>
<!-- /processHTML -->

<div class="cui-organization">
  <!-- Action Header -->
  <div class="cui-action">
    <span class="cui-action__title">
      <a ui-sref="organization.profile({id:orgProfile.organization.id})" class="cui-link--medium-light cui-link--no-decoration">{{'cui-org-profile' | translate}}</a> | 
      <a ui-sref="organization.hierarchy({id:orgProfile.organization.id})" class="cui-link--medium-light cui-link--no-decoration">{{'cui-org-hierarchy' | translate}}</a> | 
      <a ui-sref="organization.directory({id:orgProfile.organization.id})" class="cui-link--medium-light cui-link--no-decoration">{{'directory' | translate}}</a> | 
      <a ui-sref="organization.roles" class="cui-link--medium-light cui-link--no-decoration">{{'roles' | translate}}</a>
    </span>
    <div class="cui-action__actions">
      <div class="cui-action__action-container" id="invitation-button" ng-click="orgProfile.invitationClicked =! orgProfile.invitationClicked" off-click="orgProfile.invitationClicked=false">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
          <use xlink:href="bower_components/cui-icons/dist/font-awesome/font-awesome-out.svg#envelope4"></use>
        </svg>
        <!-- Invitation Popover -->
        <div class="cui-popover cui-popover--top cui-popover__sort-popover" tether target="#invitation-button" attachment="top middle" target-attachment="bottom middle" offset="-10px 0" ng-if="orgProfile.invitationClicked">
          <p>{{'user' | translate}}</p>
          <p>{{'cui-org' | translate}}</p>
          <p>{{'top-level-orgs' | translate}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Profile Content -->
  <div class="cui-organization__main-container">
    <!-- Page Loading -->
    <div class="cui-loading__container" ng-if="orgProfile.loading">
        <div class="cui-loading--center"><div class="cui-loading"></div></div>
    </div>

    <!-- Organization Information -->
    <div ng-if="!orgProfile.loading">
      <h3 class="cui-organization__page-title">{{orgProfile.organization.name}}</h3>

    <!-- Admins -->
    <div class="cui-field-val cui-field-val--stack cui-organization__info-block">
      <h4 class="cui-field-val__field" ng-if="orgProfile.securityAdmins">{{'cui-admins' | translate}}</h4>
      <div class="cui-organization__admin-block-wrapper" ng-if="orgProfile.securityAdmins">
        <div class="cui-organization__admin-block" ng-repeat="admin in orgProfile.securityAdmins">
          <!-- Name -->
          <span class="cui-field-val__field">{{'cui-name' | translate}}: </span>
          <span class="cui-field-val__val">{{admin.name.given}} {{admin.name.surname}}</span><br/>
          <!-- ID -->
          <span class="cui-field-val__field">{{'id' | translate}}: </span>
          <span class="cui-field-val__val">{{admin.username}}</span><br/>
          <!-- Title -->
          <span class="cui-field-val__field">{{'title' | translate}}: </span>
          <span class="cui-field-val__val">{{admin.title}}</span><br/>
          <!-- Phone -->
          <span class="cui-field-val__field" ng-if="admin.phones">{{'cui-phone' | translate}}: </span>
          <span class="cui-field-val__val" ng-if="admin.phones">{{admin.phones[0].number}}</span><br/>
          <!-- Email -->
          <span class="cui-field-val__field">{{'cui-email' | translate}}: </span>
          <span class="cui-field-val__val">{{admin.email}}</span>
        </div>
      </div>

      <!-- Address -->
      <div class="cui-field-val cui-field-val--stack cui-organization__info-block">
      <h4 class="cui-field-val__field">{{'cui-address' | translate}}: </h4>
        <span class="cui-field-val__val">{{orgProfile.organization.addresses[0].streets[0]}}</span>
        <span class="cui-field-val__val">{{orgProfile.organization.addresses[0].city}}</span>
        <span class="cui-field-val__val">{{orgProfile.organization.addresses[0].state}}, {{orgProfile.organization.addresses[0].postal}}</span>
        <span class="cui-field-val__val">{{orgProfile.organization.phones[0].number}}</span>
      </div>

      <!-- Info -->
      <div class="cui-organization__info-block">
        <h4 class="cui-field-val__field">{{'cui-info' | translate}}: </h4>
        <div>
          <span>{{'url' | translate}}: </span>
          <span class="cui-field-val__val"><a ng-href="{{orgProfile.organization.url}}">{{orgProfile.organization.url}}</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
