<!-- processHTML:remove -->
<div class="code-info">The markup and javascript used to build this page can be found <a class="cui-link" href="https://github.com/thirdwavellc/cui-idm-b2x/tree/master/app/modules/organization/profile" target="blank">here</a>.</div>
<!-- /processHTML -->

<div class="cui-organization cui-organization-dir">
  <!-- Action Header -->
  <div class="cui-action">
    <nav ng-include="'app/modules/organization/partials/breadcrumbs.html'"></nav>
    <nav ng-include="'app/modules/organization/partials/mobileNav.html'"></nav>
    <!-- <div class="cui-action__actions" ng-include="'app/modules/organization/partials/invite-actions.html'"></div> -->
  </div>

  <!-- Profile Content -->
  <div class="cui-organization__main-container">
    <!-- Page Loading -->
    <div class="cui-loading__container" ng-if="base.loader.for['orgProfile.init']">
        <div class="cui-loading--center"><div class="cui-loading"></div></div>
    </div>

    <!-- Page Errors -->
    <p class="cui-users__password-success" style="color:red" ng-if="base.apiError.for['orgProfile.init']">{{'error-generic' | translate}}</p>

    <!-- Organization Information -->
    <div ng-if="!base.loader.for['orgProfile.init'] && orgProfile.organization">
      <h3 class="cui-organization__page-title">{{orgProfile.organization.name}}</h3>
      <h4 class="cui-field-val__field" ng-if="orgProfile.securityAdmins">{{'cui-security-admin' | translate}}</h4>

      <div class="cui-organization__row">
        <!-- Admins -->
        <div class="cui-organization__info-block">
          <div class="cui-organization__admin-block-wrapper" ng-if="orgProfile.securityAdmins">
            <div class="cui-organization__admin-block" ng-repeat="admin in orgProfile.securityAdmins track by admin.id">
              <!-- Name -->
              <div class="cui-field-val">
                <span class="cui-field-val__field">{{'cui-name' | translate}}: </span>
                <span class="cui-field-val__val">{{admin.name.given}} {{admin.name.surname}}</span>
              </div>
              <!-- ID -->
              <div class="cui-field-val">
                <span class="cui-field-val__field">{{'username' | translate}}: </span>
                <span class="cui-field-val__val">{{admin.username}}</span>
              </div>
              <!-- Title -->
              <div class="cui-field-val">
                <span class="cui-field-val__field">{{'title' | translate}}: </span>
                <span class="cui-field-val__val">{{admin.title}}</span>
              </div>
              <!-- Phone -->
              <div class="cui-field-val">
                <span class="cui-field-val__field">{{'cui-phone' | translate}}: </span>
                <span class="cui-field-val__val">{{admin.phones[0].number}}</span>
              </div>
              <!-- Email -->
              <div class="cui-field-val">
                <span class="cui-field-val__field">{{'cui-email' | translate}}: </span>
                <span class="cui-field-val__val"><a class="cui-link" href="mailto:{{admin.email}}">{{admin.email}}</a></span>
              </div>
            </div>
          </div>

          <!-- Address -->
          <div class="cui-organization__admin-block-wrapper">
            <div class="cui-field-val cui-field-val--stack cui-organization__admin-block cui-organization__admin-block__right">
              <h4 class="cui-field-val__field">{{'cui-address' | translate}}: </h4>
              <span class="cui-field-val__val">{{orgProfile.organization.addresses[0].streets[0]}}</span>
              <span class="cui-field-val__val">{{orgProfile.organization.addresses[0].city}}</span>
              <span class="cui-field-val__val">{{orgProfile.organization.addresses[0].state}}, {{orgProfile.organization.addresses[0].postal}}</span>
              <span class="cui-field-val__val">{{orgProfile.organization.phones[0].number}}</span>
            </div>

            <!-- Info -->
            <div class="cui-organization__admin-block cui-organization__admin-block__right">
              <h4 class="cui-field-val__field">{{'cui-info' | translate}}:</h4>
              <div class="cui-field-val">
                <span class="cui-field-val__field">{{'url' | translate}}: </span>
                <span class="cui-field-val__val"><a class="cui-link" ng-href="{{orgProfile.organization.url}}">{{orgProfile.organization.url}}</a></span>
              </div>
              <div class="cui-field-val" ng-if="orgProfile.passwordPolicy">
                <span class="cui-field-val__field">{{'cui-password-policy' | translate}}: </span>
                <span class="cui-field-val__val">{{orgProfile.passwordPolicy.name}}</span>
              </div>
              <div class="cui-field-val" ng-if="orgProfile.authenticationPolicy">
                <span class="cui-field-val__field">{{'cui-authentication-policy' | translate}}: </span>
                <span class="cui-field-val__val">{{orgProfile.authenticationPolicy.name}}</span>
              </div>
            </div>
            <!-- Additional Info -->
            <div class="cui-organization__admin-block cui-organization__admin-block__right" ng-if="orgProfile.organization.attributes" >
              <h4 class="cui-field-val__field">{{'cui-additional-info' | translate}}:</h4>
              <div class="cui-field-val" ng-repeat=" attribute in orgProfile.organization.attributes">
                <span class="cui-field-val__field">{{attribute.name}}: </span>
                <span class="cui-field-val__val">{{attribute.value}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
