<div class="cui-error__message" ng-if="policies.requiredNumberOfCharClasses>1">{{'password-rules' | translate:policies}}<br/></div>

<div class="cui-error__message" ng-if="policies.allowLowerChars">
    <div class="cui-error__status" ng-class="{'cui-error__status--pass': !errors.lowercase}"></div>
    {{'password-lowercase' | translate}}
</div>
<div class="cui-error__message" ng-if="policies.allowUpperChars">
    <div class="cui-error__status" ng-class="{'cui-error__status--pass': !errors.uppercase}"></div>
    {{'password-uppercase' | translate}}
</div>
<div class="cui-error__message" ng-if="policies.allowNumChars">
    <div class="cui-error__status" ng-class="{'cui-error__status--pass': !errors.number}"></div>
    {{'password-number' | translate}}
</div>
<div class="cui-error__message" ng-if="policies.allowSpecialChars">
    <div class="cui-error__status" ng-class="{'cui-error__status--pass': !errors.special}"></div>
    {{'password-special' | translate}}
</div>
