<form name="sysAdminAccountForm" novalidate>

    <div class="cui-wizard__field-row">
        <!-- First Name -->    
        <div class="cui-wizard__field-container cui-wizard__field-container--half">
            <label for="user-name-given">{{'cui-first-name' | translate}}</label> 
            <div class="cui-error" ng-messages="sysAdminAccountForm.firstName.$error" ng-if="sysAdminAccountForm.firstName.$touched">
                <div ng-messages-include="assets/angular-templates/messages.html"></div>
            </div>
            <input type="text" name="firstName" class="cui-input" ng-model="sysAdminAccount.user.name.given" ng-required="true"></input>
        </div>

        <!-- Last Name -->
        <div class="cui-wizard__field-container cui-wizard__field-container--half">
            <label for="user-name-surname">{{'cui-last-name' | translate}}</label>
            <div class="cui-error" ng-messages="sysAdminAccountForm.lastName.$error" ng-if="user.lastName.$touched">
                <div ng-messages-include="assets/angular-templates/messages.html"></div>
            </div>
            <input type="text" name="lastName" class="cui-input" ng-model="sysAdminAccount.user.name.surname" ng-required="true"></input>
        </div>
	</div>

	<div class="cui-wizard__field-row">
        <!-- Email -->
        <div class="cui-wizard__field-container cui-wizard__field-container--half">
            <div class="cui-error" ng-messages="sysAdminAccountForm.lastName.$error" ng-if="user.lastName.$touched">
                <div ng-messages-include="assets/angular-templates/messages.html"></div>
            </div>
            <label for="user-email">{{'cui-email' | translate}}</label>
            <input type="text" name="email" class="cui-input" ng-model="sysAdminAccount.user.email" ng-required="true"></input>
        </div>

        <!-- Country -->
        <div class="cui-wizard__field-container cui-wizard__field-container--half">
            <label for="country">{{'cui-country' | translate}}</label>
            <input type="text" name="country" class="cui-input" ng-model="sysAdminAccount.user.addresses[0].country"></input>
        </div>
    </div>

    <div class="cui-wizard__field-row">
        <!-- Address 1 -->
        <div class="cui-wizard__field-container cui-wizard__field-container--half">
            <label for="address1">{{'cui-user-address' | translate}} 1</label>
            <input type="text" name="address1" class="cui-input" ng-model="sysAdminAccount.user.addresses[0].streets[0]"></input>
        </div>

        <!-- Address 2 -->
        <div class="cui-wizard__field-container cui-wizard__field-container--half">
            <label for="address2">{{'cui-user-address' | translate}} 2</label>
            <input type="text" name="address2" class="cui-input" ng-model="sysAdminAccount.user.addresses[1].streets[0]"></input>
        </div>
    </div>

    <div class="cui-wizard__field-row">
        <!-- City/Region -->
        <div class="cui-wizard__field-container cui-wizard__field-container--half">
            <label for="city-region">{{'cui-city' | translate}}</label>
            <input type="text" name="city" class="cui-input" ng-model="sysAdminAccount.user.addresses[0].city"></input>
        </div>

        <!-- State/Province -->
        <div class="cui-wizard__field-container cui-wizard__field-container--half">
            <label for="state-province">{{'cui-state' | translate}}</label>
            <input type="text" name="state" class="cui-input" ng-model="sysAdminAccount.user.addresses[0].state"></input>
        </div>
    </div>

    <div class="cui-wizard__field-row">
        <!-- Postal Code -->
        <div class="cui-wizard__field-container cui-wizard__field-container--half">
            <label for="postal-code">{{'cui-postal' | translate}}</label>
            <input type="text" name="postal" class="cui-input" ng-model="sysAdminAccount.user.addresses[0].postal"></input>
        </div>

        <!-- Telephone Number -->
        <div class="cui-wizard__field-container cui-wizard__field-container--half">
            <label for="phone">{{'cui-telephone' | translate}}</label>
            <input type="text" name="phone" class="cui-input" ng-model="sysAdminAccount.user.phones[0].number"></input>
        </div> 
    </div>

    <!-- TOS -->
    <input type="checkbox" name="TOS"  ng-model="sysAdminAccount.tos" custom-error="sysAdmintAccount.tosError" />
    {{sysAdminAccount.tosError}}

    <label for="TOS"> I agree to the Covisint <a href="">Terms of Service</a> and <a href="">Privacy Policy</a></label>

    <span ng-if="TOS.$error.tosRequired && TOS.$touched">Please agree to the Terms of Service</span>
    {{sysAdminAccount.tos}} Error - {{sysAdminAccountForm.TOS.$error}} 
    
</form>

<div class="cui-wizard__controls">
    <button class="cui-wizard__next" ng-click="nextWithErrorChecking(sysAdminAccountForm)" ng-class="(sysAdminAccountForm.$invalid)? 'cui-wizard__next--error' : ''" style="position:relative"> 
        <div class="cui-loading--medium__center" ng-show=""></div>
        <span>{{'cui-next' | translate}}</span>
    </button>
</div>
