<!-- processHTML:remove -->
<div class="code-info">The markup and javascript used to build this page can be found <a class="cui-link" href="https://github.com/thirdwavellc/cui-idm-b2x/tree/master/app/modules/organization/requests/organizationRequest" target="blank">here</a>.</div>
<!-- /processHTML -->

<!-- Header -->
<div ng-include="'app/modules/organization/requests/organizationRequest/sections-review/request-header.html'"></div>

<!-- Page Loading -->
<div class="cui-loading__container--user-details" ng-if="orgRequestReview.loading">
  <div class="cui-loading--center"><div class="cui-loading"></div></div>
</div>

<!-- Items for approval -->
<div ng-include="'app/modules/organization/requests/organizationRequest/sections-review/request-body.html'" ng-if="!orgRequestReview.loading"></div>
