<form name="signOn" novalidate>

  <!-- First Row -->
  <!-- User ID -->
  <label for="userID">{{'cui-user-id' | translate}}</label>
  <div class="cui-error" ng-messages="signOn.userID.$error" ng-if="signOn.name.$touched">
    <div ng-messages-include="assets/angular-templates/messages.html"></div>
  </div>
  <input type="text" name="userID" class="cui-input" ng-required="true" ng-model="usersRegister.signOn.username">

  <!-- Second row -->
  <div class="cui-wizard__field-row">
    <!-- Password -->
    <div class="cui-wizard__field-container cui-wizard__field-container--half">
      <div class="cui-input__password-holder">
        <label>{{'cui-password' | translate}}</label>
        <div class="cui-error" ng-messages="signOn.password.$error" ng-if="signOn.password.$touched">
          <div ng-messages-include="assets/angular-templates/messages.html"></div>
        </div>
        <input type="password" name="password" class="cui-input" ng-required="true" ng-model="usersRegister.signOn.password" ng-class="{'cui-input--error': usersRegister.password.$touched && usersRegister.password.$invalid}" password-validation="usersRegister.passwordPolicies">
        <div ng-messages="signOn.password.$error" ng-messages-multiple ng-if="signOn.password.$invalid" class="cui-error__password">
          <div ng-messages-include="assets/angular-templates/registration/password-validation.html"></div>
        </div>
      </div>
    </div>

    <!-- Re-enter Password -->
    <div class="cui-wizard__field-container cui-wizard__field-container--half">
      <label>{{'cui-password-re' | translate}}</label>
      <div class="cui-error" ng-if="signOn.passwordRe.$touched && signOn.passwordRe.$error.match">
        <div class="cui-error__message">{{'password-mismatch' | translate}}</div>
      </div>
      <input type="password" name="passwordRe" class="cui-input" ng-required="true" ng-model="usersRegister.signOn.passwordRe" match="usersRegister.signOn.password">
    </div>
  </div>

  <!-- Third row -->
  <div class="cui-wizard__field-row">
    <!-- Challenge Question 1 -->
    <div class="cui-wizard__field-container cui-wizard__field-container--half">
      <label>{{'cui-challenge-question' | translate}} 1</label>
      <div class="cui-error" ng-messages="signOn.challenge1.$error" ng-if="signOn.challenge1.$touched">
        <div ng-messages-include="assets/angular-templates/messages.html"></div>
      </div>
      <select ng-model="usersRegister.signOn.question1" name="challenge1" ng-required="true" class="cui-select" ng-class="{'cui-input---error' : signOn.challenge1.$touched && signOn.challenge1.$invalid }" ng-options="question as question.question[0].text for question in usersRegister.signOn.challengeQuestions1">
      </select>
    </div>

    <!-- Challenge Answer 1 -->
    <div class="cui-wizard__field-container cui-wizard__field-container--half">
      <label>{{'cui-challenge-answer' | translate}} 1</label>
      <div class="cui-error" ng-messages="signOn.answer1.$error" ng-if="signOn.answer1.$touched">
        <div ng-messages-include="assets/angular-templates/messages.html"></div>
      </div>
      <input type="text" name="answer1" class="cui-input" ng-required="true" ng-model="usersRegister.signOn.challengeAnswer1">
    </div>
  </div>

  <!-- Fourth row -->
  <div class="cui-wizard__field-row">
    <!-- Challenge Question 2 -->
    <div class="cui-wizard__field-container cui-wizard__field-container--half">
      <label>{{'cui-challenge-question' | translate}} 2</label>
      <div class="cui-error" ng-messages="signOn.challenge2.$error" ng-if="signOn.challenge2.$touched">
        <div ng-messages-include="assets/angular-templates/messages.html"></div>
      </div>
      <select ng-model="usersRegister.signOn.question2" name="challenge2" ng-required="true" class="cui-select" ng-class="{'cui-input---error' : signOn.challenge2.$touched && signOn.challenge2.$invalid}" ng-options="question as question.question[0].text for question in usersRegister.signOn.challengeQuestions2">
      </select>
    </div>

    <!-- Challenge Answer 2 -->
    <div class="cui-wizard__field-container cui-wizard__field-container--half">
      <label>{{'cui-challenge-answer' | translate}} 2</label>
      <div class="cui-error" ng-messages="signOn.answer2.$error" ng-if="signOn.answer2.$touched">
        <div ng-messages-include="assets/angular-templates/messages.html"></div>
      </div>
      <input type="text" name="answer2" class="cui-input" ng-required="true" ng-model="usersRegister.signOn.challengeAnswer2">
    </div>
  </div>

</form>

<div class="cui-wizard__controls">
  <button class="cui-wizard__previous" ng-click="previous()"><< {{'cui-previous' | translate}}</button>
  <button class="cui-wizard__next" ng-click="nextWithErrorChecking(signOn)" ng-class="(signOn.$invalid)? 'cui-wizard__next--error' : ''">{{'cui-next' | translate}}</button>
</div>
