<!-- User Information -->
<cui-expandable class="cui-expandable expanded">
  <div class="edit-button" ng-click="goToStep(1)">
    <cui-icon cui-svg-icon="fa:edit" class="edit-icon"></cui-icon>
  </div>
  <cui-expandable-title class="cui-expandable__title" ng-click="toggleExpand()">
    {{'cui-user-information' | translate}}
    <span class="chevron">></span>
  </cui-expandable-title>

  <cui-expandable-body class="cui-expandable__body">
    <!-- First Name -->
    <div class="cui-expandable__review-item">{{'cui-first-name' | translate}}:<span class="review-item__value">{{usersWalkup.user.name.given}}</span></div>
    <!-- Last Name -->
    <div class="cui-expandable__review-item">{{'cui-last-name' | translate}}:<span class="review-item__value">{{usersWalkup.user.name.surname}}</span></div>
    <!-- Email -->
    <div class="cui-expandable__review-item">{{'cui-email' | translate}}:<span class="review-item__value">{{usersWalkup.user.email}}</span></div>
    <!-- Country -->
    <div class="cui-expandable__review-item">{{'cui-country' | translate}}:<span class="review-item__value">{{usersWalkup.userCountry.title || usersWalkup.userCountry}}</span></div>
    <!-- Address 1 -->
    <div class="cui-expandable__review-item" ng-if="usersWalkup.user.addresses[0].streets[0] && usersWalkup.user.addresses[0].streets[0]!==''">{{'cui-address-1' | translate}}:<span class="review-item__value">{{usersWalkup.user.addresses[0].streets[0]}}</span></div>
    <!-- Address 2 -->
    <div class="cui-expandable__review-item" ng-if="usersWalkup.user.addresses[0].streets[1] && usersWalkup.user.addresses[0].streets[1]!==''">{{'cui-address-2' | translate}}:<span class="review-item__value">{{usersWalkup.user.addresses[0].streets[1]}}</span></div>
    <!-- City -->
    <div class="cui-expandable__review-item" ng-if="usersWalkup.user.addresses[0].city && usersWalkup.user.addresses[0].city!==''">{{'cui-city' | translate}}:<span class="review-item__value">{{usersWalkup.user.addresses[0].city}}</span></div>
    <!-- State -->
    <div class="cui-expandable__review-item" ng-if="usersWalkup.user.addresses[0].state && usersWalkup.user.addresses[0].state!==''">{{'cui-state' | translate}}:<span class="review-item__value">{{usersWalkup.user.addresses[0].state}}</span></div>
    <!-- Postal -->
    <div class="cui-expandable__review-item" ng-if="usersWalkup.user.addresses[0].postal && usersWalkup.user.addresses[0].postal!==''">{{'cui-postal' | translate}}:<span class="review-item__value">{{usersWalkup.user.addresses[0].postal}}</span></div>
    <!-- Phone Number -->
    <div class="cui-expandable__review-item" ng-if="usersWalkup.user.phones[0].number && usersWalkup.user.phones[0].number!==''">{{'cui-telephone' | translate}}:<span class="review-item__value">{{usersWalkup.user.phones[0].number}}</span></div>
  </cui-expandable-body>
</cui-expandable>

<!-- Organization Information -->
<cui-expandable class="cui-expandable expanded">
  <cui-expandable-title class="cui-expandable__title" ng-click="toggleExpand()">
      {{'cui-organization-information' | translate}}
      <span class="chevron">></span>
    </cui-expandable-title>

    <cui-expandable-body class="cui-expandable__body">
      <!-- Company/Division -->
      <div class="cui-expandable__review-item">{{'cui-org' | translate}}:<span class="review-item__value">{{usersWalkup.organization.name}}</span></div>
  </cui-expandable-body>
</cui-expandable>

<!-- Sign In Information -->
<cui-expandable class="cui-expandable expanded">
  <div class="edit-button" ng-click="goToStep(3)">
    <cui-icon cui-svg-icon="fa:edit" class="edit-icon"></cui-icon>
  </div>
  <cui-expandable-title class="cui-expandable__title" ng-click="toggleExpand()">
    {{'cui-sign-in-information' | translate}}
    <span class="chevron">></span>
  </cui-expandable-title>

  <cui-expandable-body class="cui-expandable__body">
    <!-- User ID -->
     <div class="cui-expandable__review-item">{{'cui-user-id' | translate}}:<span class="review-item__value">{{usersWalkup.userLogin.username}}</span></div>
    <!-- Password -->
    <div class="cui-expandable__review-item">{{'cui-password' | translate}}:<span class="review-item__value">{{usersWalkup.userLogin.hiddenPassword}}</span></div>
    <!-- Challenge Question 1 -->
    <div class="cui-expandable__review-item">{{'cui-challenge-question' | translate}}:<span class="review-item__value">{{usersWalkup.userLogin.question1.question[0].text}}</span></div>
    <!-- Challenge Answer 1 -->
    <div class="cui-expandable__review-item">{{'cui-challenge-answer' | translate}}:<span class="review-item__value">{{usersWalkup.userLogin.challengeAnswer1}}</span></div>
    <!-- Challenge Question 2 -->
    <div class="cui-expandable__review-item">{{'cui-challenge-question' | translate}}:<span class="review-item__value">{{usersWalkup.userLogin.question2.question[0].text}}</span></div>
    <!-- Challenge Answer 2 -->
    <div class="cui-expandable__review-item">{{'cui-challenge-answer' | translate}}:<span class="review-item__value">{{usersWalkup.userLogin.challengeAnswer2}}</span></div>
  </cui-expandable-body>
</cui-expandable>

<!-- Application Selection -->
<cui-expandable class="cui-expandable expanded">
  <div class="edit-button" ng-click="goToStep(4)">
    <cui-icon cui-svg-icon="fa:edit" class="edit-icon"></cui-icon>
  </div>
  <cui-expandable-title class="cui-expandable__title" ng-click="toggleExpand()">
    {{'cui-application-selection' | translate}}
    <span class="chevron">></span>
  </cui-expandable-title>

  <cui-expandable-body class="cui-expandable__body">

    <div class="cui-expandable__review-item" ng-if="usersWalkup.applications.processedSelected.length===0 || !usersWalkup.applications.processedSelected.length">
      <span class="cui-link" ng-click="goToStep(4)">{{'no-applications-selected' | translate}}</span>
    </div>

    <div class="cui-expandable__review-item" ng-repeat="application in usersWalkup.applications.processedSelected">{{application.name}}</div>

  </cui-expandable-body>
</cui-expandable>

<div class="cui-wizard__controls">
  <button class="cui-wizard__next" ng-click="usersWalkup.submit()" ng-class="{'cui-wizard__next--error' : !userWalkupRegForm.$valid }">{{'cui-submit' | translate}}</button>
</div>
