<div class="cui-organization cui-organization__user-details">
  <!-- Page Header -->
  <ng-include src="'app/modules/organization/directory/user-details/sections/headers/userDetails-header.html'"></ng-include>

  <div class="cui-organization__details-container">
    <!-- Left Content -->
    <div class="cui-organization__details-col">
      <!-- Header -->
      <div ng-include="'app/modules/organization/directory/user-details/sections/headers/userDetails-header-left.html'"></div>
      <!-- Profile -->
      <div class="cui-desktop-only" ui-view="profile" ng-if="userDetails.profileRolesSwitch==true"></div>
      <!-- Roles -->
      <div class="cui-desktop-only" ui-view="roles" ng-if="userDetails.profileRolesSwitch==false"></div>
      <!-- Profile mobile -->
      <div class="cui-mobile-only" ui-view="profile" ng-if="userDetails.profileSwitch=='profile'"></div>
      <!-- Roles mobile -->
      <div class="cui-mobile-only" ui-view="roles" ng-if="userDetails.profileSwitch=='roles'"></div>
      <!-- Applications -->
      <div class="cui-mobile-only" ui-view="applications" ng-if="userDetails.profileSwitch=='apps'"></div>
      <!-- History -->
      <div class="cui-mobile-only" ui-view="history" ng-if="userDetails.profileSwitch=='history'"></div>
    </div>

    <!-- Right Content -->
    <div class="cui-organization__details-col">
      <!-- Header -->
      <div ng-include="'app/modules/organization/directory/user-details/sections/headers/userDetails-header-right.html'"></div>
      <!-- Applications -->
      <div class="cui-desktop-only" ui-view="applications" ng-if="userDetails.appsHistorySwitch"></div>
      <!-- History -->
      <div class="cui-desktop-only" ui-view="history" ng-if="!userDetails.appsHistorySwitch"></div>
    </div>

  </div>
</div>
