<!-- processHTML:remove -->
<div class="code-info">The markup for this page can be found <a class="cui-link" href="https://github.com/covisint/cui-idm-b2x/blob/master/app/modules/applications/myApplications/manageApplications.html" target="blank">here</a> and the javascript <a class="cui-link" href="https://github.com/covisint/cui-idm-b2x/blob/master/app/modules/applications/myApplications/manageApplications.ctrl.js" target="blank">here</a>.</div>
<!-- /processHTML -->

<!--
info scope vars

base.loader.for['manageApplications.apps'] true on first load, while apps are loading, undefined otherwise
base.loader.for['manageApplications.reloadingApps'] true while reloading apps, after a sorting or refinement is passed, undefined otherwise
base.loader.for['manageApplications.categories'] true on first load, while categories are loading, undefined otherwise

base.apiError.for['manageApplications.apps'] true only if there was an error getting apps
base.apiError.for['manageApplications.categories'] true only if there was an error getting categories

-->

<div class="cui-action">
  <nav class="cui-breadcrumb">
    <ul class="cui-breadcrumb__links">
      <!--       <li class="cui-breadcrumb__link" >
        <a ui-sref="applications.orgApplications.applicationList">{{'organization-applications' | translate}}</a>
      </li> -->
      <li class="cui-breadcrumb__link" >
        <a ui-sref="applications.myApplications">{{'my-applications' | translate}}</a>
      </li>
      <li class="cui-breadcrumb__link  cui-breadcrumb__link--current" >
        <a ui-sref="applications.manageApplications">{{'manage-applications' | translate}}</a>
      </li>
    </ul>
  </nav>
  <cui-mobile-nav show-if="base.appMobileNav" links="{
    'applications.myApplications':{stateParams:{},label:('my-applications' | translate)},
    'applications.manageApplications':{stateParams:{},label:('manage-applications' | translate)}
  }">
</cui-mobile-nav>
  <div class="cui-action__actions">
    <!-- Sort -->
    <div class="cui-action__action-container" ng-click="manageApplications.sortClicked =! manageApplications.sortClicked" id="sort-button" off-click="manageApplications.sortClicked=false">
      <cui-icon cui-svg-icon="fa:sort14" svg-class="cui-action__icon" use-class="cui-icon__ref" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet" ></cui-icon>
      <span class="cui-action__action-label">{{'sort' | translate}}</span>
      <!-- Sort Popover -->
      <div cui-popover class="cui-popover cui-popover--menu cui-popover--positionless" target="#sort-button" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom',contentOffset:'-40px'}, 'any']" attachment="top middle" target-attachment="bottom middle" ng-if="manageApplications.sortClicked" style="width:171px">
        <div class="cui-popover__row">
          <span ng-click="manageApplications.updateSearch('alphabetic')">{{'cui-alphabetically' | translate}}</span>
        </div>
        <div class="cui-popover__row">
          <span ng-click="manageApplications.updateSearch('date')">{{'cui-by-date-added' | translate}}</span>
        </div>
      </div>
    </div>

    <!-- Refine -->
    <div class="cui-action__action-container" ng-click="manageApplications.refineClicked =! manageApplications.refineClicked" id="refine-button" off-click="manageApplications.refineClicked=false">
      <cui-icon cui-svg-icon="fa:filter10" svg-class="cui-action__icon" use-class="cui-icon__ref" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet"></cui-icon>
      <span class="cui-action__action-label">{{'refine' | translate}}</span>
      <!-- Refine Popover -->
      <div cui-popover class="cui-popover cui-popover--menu cui-popover--positionless" target="#refine-button" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom',contentOffset:'-70px'}, 'any']" ng-if="manageApplications.refineClicked" style="width:214px">
        <div class="cui-popover__row cui-popover--row__flex">
          <span ng-click="manageApplications.updateSearch('status')">{{'all' | translate}}</span>
          <span>({{manageApplications.popupCount}})</span>
        </div>
        <div class="cui-popover__row cui-popover--row__flex">
          <span ng-click="manageApplications.updateSearch('status','active')">{{'active' | translate}}</span>
          <span>({{manageApplications.activeCount}})</span>
        </div>
        <div class="cui-popover__row cui-popover--row__flex">
          <span ng-click="manageApplications.updateSearch('status','suspended')">{{'suspended' | translate}}</span>
          <span>({{manageApplications.suspendedCount}})</span>
        </div>
      </div>
    </div>

    <!-- Categories -->
    <div class="cui-action__action-container" ng-click="manageApplications.categoriesClicked =! manageApplications.categoriesClicked" id="categories-button" off-click="manageApplications.categoriesClicked=false">
      <cui-icon cui-svg-icon="cui:categories" svg-class="cui-action__icon" use-class="cui-icon__ref" viewbox="0 0 48 48" preserveAspectRatio="xMidYMid meet"></cui-icon>
      <span class="cui-action__action-label">{{'categories' | translate}}</span>
      <!-- Categories Popover -->
      <div cui-popover class="cui-popover cui-popover--menu cui-popover--positionless" target="#categories-button" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom',contentOffset:'-70px'}, 'any']" ng-if="manageApplications.categoriesClicked" ng-click="manageApplications.categoriesClicked=false" style="width:214px">
        <div class="cui-popover__row cui-popover--row__flex">
          <span ng-click="manageApplications.updateSearch('category')">{{'all' | translate}}</span>
          <span>({{manageApplications.popupCount}})</span>
        </div>
        <div class="cui-popover__row cui-popover--row__flex" ng-repeat="category in manageApplications.categories">
          <span ng-click="manageApplications.updateSearch('category', category.name)">{{category.name | cuiI18n}}</span>
          <span>({{category.count}})</span>
        </div>
      </div>
    </div>

    <!-- new icon -->
    <svg ui-sref="applications.newRequest" xmlns="http://www.w3.org/2000/svg" class="cui-action__icon cui-action__icon--new" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
      <defs>
        <ellipse id="path-1" cx="20" cy="19.672" rx="20" ry="19.672"/>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
          <feOffset dy="3" in="SourceAlpha" result="shadowOffsetOuter1"/>
          <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
          <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.27 0" in="shadowBlurOuter1"/>
        </filter>
      </defs>
      <g id="new-with-shadow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="New-2" transform="translate(3.000000, 1.000000)">
            <g id="Oval-73">
              <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
              <use fill="currentColor" fill-rule="evenodd" xlink:href="#path-1"></use>
            </g>
            <path d="M22.1371429,17.5349883 L22.1371429,11.8697421 C22.1371429,10.7562937 21.2419442,9.86229506 20.1376608,9.86229506 L19.8623392,9.86229506 C18.7484919,9.86229506 17.8628571,10.7610597 17.8628571,11.8697421 L17.8628571,17.5349883 L12.197611,17.5349883 C11.0841625,17.5349883 10.1901639,18.4301869 10.1901639,19.5344704 L10.1901639,19.8097919 C10.1901639,20.9236392 11.0889286,21.809274 12.197611,21.809274 L17.8628571,21.809274 L17.8628571,27.4745202 C17.8628571,28.5879686 18.7580558,29.4819672 19.8623392,29.4819672 L20.1376608,29.4819672 C21.2515081,29.4819672 22.1371429,28.5832026 22.1371429,27.4745202 L22.1371429,21.809274 L27.802389,21.809274 C28.9158375,21.809274 29.8098361,20.9140754 29.8098361,19.8097919 L29.8098361,19.5344704 C29.8098361,18.4206231 28.9110714,17.5349883 27.802389,17.5349883 L22.1371429,17.5349883 Z" id="Rectangle-352" fill="#FFFFFF" fill-rule="evenodd"></path>
        </g>
      </g>
    </svg>
  </div>
</div>

<div class="cui-action cui-action--alt">
  <div class="cui-input-button cui-input-button--alt-bg" style="width:350px">
      <input class="cui-input-button__input" ng-model="manageApplications.search['service.name']" focus-if placeholder="{{'search-by-app-name' | translate}}" on-enter="manageApplications.updateSearchByName"/>
      <button class="cui-input-button__button" ng-click="manageApplications.updateSearchByName()">{{'search' | translate}}</button>
  </div>
</div>
<div class="cui-applications__main-container">
  <div ng-include="'app/common-templates/partials/loader-updating.html'" ng-if="base.loader.for['manageApplications.apps']"></div>
  <div class="cui-loading__container" ng-if="base.loader.for['manageApplications.apps']">
    <div class="cui-loading--center"><div class="cui-loading"></div></div>
  </div>
  <!-- TODO styling for no results -->
  <!-- TODO @SHANE I had to add position relative to this div so that the loading container doesn't overflow onto the pagination -->
  <!-- also, when there's only 1 result at the last page, for example, the pagination will jump up. Can we maybe force it to be at the bottom of the page? -->
  <div ng-if="!base.loader.for['manageApplications.apps']" style="position:relative">

    <!-- Loader -->
    <div class="cui-loading__container" ng-if="base.loader.for['manageApplications.reloadingApps']">
      <div class="cui-loading--center"><div class="cui-loading"></div></div>
    </div>

    <!-- No applications message -->
    <p ng-if="manageApplications.list.length===0">{{'cui-no-applications' | translate}}</p>
    <p class="cui-users__password-success" style="color:red; margin:20px; text-align:center" ng-if="base.apiError.for['manageApplications.apps']">{{'error-generic'|translate}}</p>

    <div class="cui-media cui-media--border cui-media--tr" ng-repeat="application in manageApplications.list track by application.id">
      <div class="cui-media__image-container">
        <a ng-href="{{application.mangledUrl}}" target="_blank"><div class="cui-media__image" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5" cui-avatar-names="application.name" cui-avatar-cuii18n-filter cui-avatar="application.iconUrl"></div></a>
      </div>
      <div class="cui-media__body cui-media__body--full">
        <div class="cui-media__title-container">
          <!-- Launch Application Icon -->
          <!-- <a class="cui-media__app-launch" ng-class="{'hide--opacity': application.grant.status!=='active' || !application.urls[0].value}"  ng-href="{{application.urls[0].value}}" title="launch application" aria-labelledby="launch application" target="_blank"><cui-icon cui-svg-icon="cui:launch" svg-class="cui-media__app-launch-icon" viewBox="0 0 35 48" preserveAspectRatio="xMidYMid meet"></cui-icon></a> -->
          <h3 class="cui-media__title" ng-click="manageApplications.goToDetails(application)">{{ application.name | cuiI18n }}</h3>
        </div>
        <span class="cui-media__content" > {{application.category | cuiI18n}}</span>
        <span class="cui-status" ng-class=" 'cui-status--'+application.grant.status ">{{ application.grant.status | lowercase }}</span>
      </div>
    </div>
  </div>

  <div class="cui-paginate__container" ng-if="!base.loader.for['manageApplications.apps']">
    <span class="cui-paginate__results-label">{{'cui-num-results-page' | translate}}</span>
    <results-per-page class="cui-paginate__select" ng-model="manageApplications.search.pageSize"></results-per-page>
    <paginate class="cui-paginate" results-per-page="manageApplications.search.pageSize" count="manageApplications.count" on-page-change="manageApplications.pageChange" ng-model="manageApplications.search.page" attach-rerender-to=" manageApplications.reRenderPaginate"></paginate>
  </div>
</div>
