<div class="cui-applications__app-details">
  <!-- processHTML:remove -->
  <div class="code-info">Code for this page can be found <a class="cui-link" href="https://github.com/covisint/cui-idm-b2x/tree/master/app/modules/applications/myApplications" target="blank">here</a></div>
  <!-- /processHTML -->

  <!--
  info scope vars

  base.loader.for['myApplicationDetails.app'] true while app is loading, undefined otherwise
  base.loader.for['myApplicationDetails.claims'] true while loading claims, undefined otherwise

  base.apiError.for['myApplicationDetails.app'] true only if there was an error getting the app
  base.apiError.for['myApplicationDetails.claims'] true only if there was an error getting the claims

  -->

  <!-- Action Buttons -->
  <div class="cui-action">
    <span class="cui-action__title" ng-click="base.goBack('applications.manageApplications')">{{'manage-applications' | translate}}</span>
    <!-- New Request -->
    <div class="cui-action__actions">
      <!-- new icon -->
      <svg ui-sref="applications.newRequest" xmlns="http://www.w3.org/2000/svg" class="cui-action__icon cui-action__icon--new" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
        <defs>
          <ellipse id="path-1" cx="20" cy="19.672" rx="20" ry="19.672"/>
          <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
            <feOffset dy="3" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
            <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.27 0" in="shadowBlurOuter1"/>
          </filter>
        </defs>
        <g id="new-with-shadow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="New-2" transform="translate(3.000000, 1.000000)">
              <g id="Oval-73">
                <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                <use fill="currentColor" fill-rule="evenodd" xlink:href="#path-1"></use>
              </g>
              <path d="M22.1371429,17.5349883 L22.1371429,11.8697421 C22.1371429,10.7562937 21.2419442,9.86229506 20.1376608,9.86229506 L19.8623392,9.86229506 C18.7484919,9.86229506 17.8628571,10.7610597 17.8628571,11.8697421 L17.8628571,17.5349883 L12.197611,17.5349883 C11.0841625,17.5349883 10.1901639,18.4301869 10.1901639,19.5344704 L10.1901639,19.8097919 C10.1901639,20.9236392 11.0889286,21.809274 12.197611,21.809274 L17.8628571,21.809274 L17.8628571,27.4745202 C17.8628571,28.5879686 18.7580558,29.4819672 19.8623392,29.4819672 L20.1376608,29.4819672 C21.2515081,29.4819672 22.1371429,28.5832026 22.1371429,27.4745202 L22.1371429,21.809274 L27.802389,21.809274 C28.9158375,21.809274 29.8098361,20.9140754 29.8098361,19.8097919 L29.8098361,19.5344704 C29.8098361,18.4206231 28.9110714,17.5349883 27.802389,17.5349883 L22.1371429,17.5349883 Z" id="Rectangle-352" fill="#FFFFFF" fill-rule="evenodd"></path>
          </g>
        </g>
      </svg>
    </div>
  </div>

  <!-- Main Container -->
  <div class="cui-applications__main-container cui-applications__main-container--full">
    <!-- Loading -->
    <div class="cui-loading__container" ng-if="base.loader.for['myApplicationDetails.app']||base.loader.for['myApplicationDetails.claims']||base.loader.for['myApplicationDetails.relatedApps']">
      <div class="cui-loading--center"><div class="cui-loading"></div></div>
    </div>

    <div ng-if="!base.loader.for['myApplicationDetails.app']">
      <!-- Application Summary -->
      <div class="cui-media cui-media--centered">
        <!-- Application Image -->
        <div class="cui-media__image-container">
          <a ng-href="{{myApplicationDetails.app.mangledUrl}}" target="_blank">
            <div class="cui-media__image" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5" cui-avatar-names="myApplicationDetails.app.name"
            cui-avatar-cuii18n-filter cui-avatar="myApplicationDetails.app.iconUrl"></div>
          </a>
        </div>
        <!-- Summary Information -->
        <div class="cui-media__body">
          <h3 class="cui-media__title">{{myApplicationDetails.app.name | cuiI18n|capitalize}}</h3>
          <span class="cui-media__content" >{{ 'granted' | translate }}: {{myApplicationDetails.app.grant.instant | date:base.appConfig.dateFormat}}</span>
          <span ng-class="'cui-status--'+myApplicationDetails.app.grant.status">{{myApplicationDetails.app.grant.status | lowercase}}</span>
        </div>
      </div>

      <!-- Mobile -->
      <div class="cui-tabs class-toggle">
        <ul class="cui-tabs__nav" ng-if="myApplicationDetails.claims.length>0">
          <li class="cui-tabs__tab-container"><a class="cui-tabs__tab" data-pane="tab1"  ng-class="{'cui-tabs__tab--active':!myApplicationDetails.inClaims}" ng-click="myApplicationDetails.inClaims=false">{{'application-details' | translate}}</a></li>
          <li class="cui-tabs__tab-container"><a class="cui-tabs__tab" data-pane="tab2" ng-class="{'cui-tabs__tab--active':myApplicationDetails.inClaims}"  ng-click="myApplicationDetails.inClaims=true">{{'my-claims' | translate}}</a></li>
        </ul>
        <div class="cui-tabs__content">
          <!-- Application Details -->
          <div id="tab1" class="cui-tabs__tab-pane" ng-class="{'cui-tabs__tab-pane--active':!myApplicationDetails.inClaims}">
            <div class="cui-applications__details">
              <!-- No Details -->
              <div ng-if="(!myApplicationDetails.app.bundledApps || myApplicationDetails.app.bundledApps.length===0) && (myApplicationDetails.relatedApps.length===0)">
                <p>{{'no-bundled-or-related' | translate}}</p>
              </div>
              <!-- Bundled Application Details -->
              <div ng-if="myApplicationDetails.app.bundledApps && myApplicationDetails.app.bundledApps.length!==0">
                <h4 class="h6 bold">{{'bundled-applications' | translate}}</h4>
                <div class="cui-media" ng-repeat="application in myApplicationDetails.app.bundledApps">
                  <div class="cui-media__body">
                    <a class="cui-media__link" ng-click="myApplicationDetails.goToDetails(application)">{{application.name | cuiI18n}}</a>
                    <span class="cui-media__content">{{ 'granted' | translate }}: {{myApplicationDetails.app.grant.instant | date:base.appConfig.dateFormat}}</span>
                  </div>
                  <span class="cui-media__status" ng-class="'cui-status--'+myApplicationDetails.app.grant.status">{{application.status | lowercase}}</span>  <!-- If the user has a grant on that service -->
                </div>
              </div>
              <!-- Related Application Details -->
              <div ng-if="myApplicationDetails.relatedApps.length!==0">
                <h4 class="h6 bold">{{'related-applications' | translate}}</h4>
                <div class="cui-applications__related-apps" ng-repeat="application in myApplicationDetails.relatedApps">
                  <div class="cui-applications__related-app-col">
                    <a class="cui-media__link" ng-click="myApplicationDetails.goToDetails(application)" ng-if="application.grant">{{application.name | cuiI18n}}</a> <!-- If the user has a grant on that service -->
                    <span class="cui-media__content" ng-if="!application.grant">{{application.name | cuiI18n}}</span>
                    <span class="cui-media__content" ng-if="application.grant">{{ 'granted' | translate }}: {{application.grant.instant| date:base.appConfig.dateFormat}}</span> <!-- If the user has a grant on that service -->
                    <span class="cui-button" ng-if="!application.grant">{{'request' | translate}}</span>
                  </div>
                  <span class="cui-media__status" ng-class="'cui-status--'+application.status" ng-if="application.status">{{application.grant.status | lowercase}}</span>  <!-- If the user has a grant on that service -->
                </div>
              </div>
            </div>
          </div>

          <!-- My Claims -->
          <div id="tab2" class="cui-tabs__tab-pane" ng-class="{'cui-tabs__tab-pane--active':myApplicationDetails.inClaims}" ng-if="myApplicationDetails.claims.length>0">
            <p ng-if="!base.apiError.for['myApplicationDetails.claims'] && !myApplicationDetails.claims || myApplicationDetails.claims.length===0">{{'cui-no-claims' | translate}}</p>
            <!-- Error Message -->
            <p style="color:red" ng-if="base.apiError.for['myApplicationDetails.claims']">{{'cui-claims-error' | translate}} {{'cui-try-again'|translate}}</p>
            <span ng-repeat="claim in myApplicationDetails.claims.packageClaims">
              <h5 class="h6">{{claim.name | cuiI18n|capitalize}}</h5>
              <p ng-repeat="claimValue in claim.claimValues">{{claimValue.name | cuiI18n |capitalize}}</p>
            </span>
          </div>
        </div>
      </div>

      <!-- Desktop -->
      <div class="cui-applications__desktop-tabs">

        <!-- Application Details -->
        <div class="cui-tile cui-applications__left">
          <h4 class="cui-tile__title cui-applications__title">{{'bundled-applications' | translate}}<!-- {{'application-details' | translate}} --></h4>
          <div class="cui-tile__body cui-applications__details">
            <!-- No Details -->
            <div class="cui-applications__no-details" ng-if="(!myApplicationDetails.app.bundledApps || myApplicationDetails.app.bundledApps.length===0)">
              <p>{{'no-bundled' | translate}}</p>
            </div>
            <!-- Bundled Application Details -->
            <div class="cui-applications__bundled-apps" ng-if="myApplicationDetails.app.bundledApps && myApplicationDetails.app.bundledApps.length!==0">
              <!-- <h4 class="cui-applications__related-apps-title">{{'bundled-applications' | translate}}</h4> -->
              <div class="cui-applications__bundled-app" ng-repeat="application in myApplicationDetails.app.bundledApps">
                <div class="cui-applications__related-app-col">
                  <a class="cui-link bold" ng-click="myApplicationDetails.goToDetails(application)">{{application.name | cuiI18n}}</a>
                  <span class="cui-media__content">{{ 'granted' | translate | lowercase}}: {{myApplicationDetails.app.grant.instant | date:base.appConfig.dateFormat}}</span>
                </div>
                <div class="cui-media__status" ng-class="'cui-status--'+myApplicationDetails.app.grant.status">{{myApplicationDetails.app.grant.status |lowercase}}</div>  <!-- If the user has a grant on that service -->
              </div>
            </div>
          </div>
          <br>
          <h4 class="cui-tile__title cui-applications__title" ng-if="myApplicationDetails.relatedApps.length!==0">{{'related-applications' | translate}}</h4>
            <div class="cui-tile__body cui-applications__details" ng-if="myApplicationDetails.relatedApps.length!==0">
            <!-- Related Application Details -->
            <div class="cui-applications__related-apps">
              <!-- <h4 class="cui-applications__related-apps-title">{{'related-applications' | translate}}</h4> -->
                <div class="cui-applications__related-app" ng-repeat="application in myApplicationDetails.relatedApps">
                  <div class="cui-applications__related-app-col">
                    <a class="cui-link bold" ng-click="myApplicationDetails.goToDetails(application)" ng-if="application.grant">{{application.name | cuiI18n}}</a> <!-- If the user has a grant on that service -->
                    <h5 class="bold" ng-if="!application.grant">{{application.name | cuiI18n}}</h5>
                    <span class="cui-media__content" ng-if="application.grant">{{ 'granted' | translate }}: {{application.grant.instant | date:base.appConfig.dateFormat}}</span> <!-- If the user has a grant on that service -->
                  </div>
                  <div class="cui-button cui-button--small-rounded" ng-if="!application.grant">{{'request' | translate}}</div>
                  <div class="cui-media__status" ng-class="'cui-status--'+application.status" ng-if="application.grant">{{application.grant.status | lowercase}}</div>  <!-- If the user has a grant on that service -->
                </div>
              </div>
            </div>
          </div>

          <!-- My Claims TODO @SHANE style this and the mobile one above-->
          <div class="cui-tile cui-applications__right" ng-if="myApplicationDetails.claims.length>0">
            <h4 class="cui-tile__title cui-tile__title--bg-light cui-applications__title">{{'my-claims' | translate}}</h4>
            <div class="cui-tile__body cui-applications__claims">
              <p class="cui-applications__no-claims" ng-if="!base.apiError.for['myApplicationDetails.claims'] && !myApplicationDetails.claims || myApplicationDetails.claims.length===0">{{'cui-no-claims' | translate}}</p>
              <!-- Error Message -->
              <p class="cui-applications__no-claims" style="color:red" ng-if="base.apiError.for['myApplicationDetails.claims']">{{'cui-claims-error' | translate}} {{'cui-try-again'|translate}}</p>
              <div class="cui-applications__claim" ng-repeat="claim in myApplicationDetails.claims.packageClaims">
                <h5 class="cui-applications__claim-name h5">{{claim.name | cuiI18n|capitalize}}</h5>
                <p class="cui-applications__claim-val" ng-repeat="claimValue in claim.claimValues">{{claimValue.name | cuiI18n|capitalize}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
