<!-- processHTML:remove -->
<div class="code-info">The markup for this page can be found <a class="cui-link" href="https://github.com/thirdwavellc/cui-idm-b2x/blob/master/app/modules/applications/myApplications/myApplications.html" target="blank">here</a> and the javascript <a class="cui-link" href="https://github.com/thirdwavellc/cui-idm-b2x/blob/master/app/modules/applications/myApplications/myApplications.ctrl.js" target="blank">here</a>.</div>
<!-- /processHTML -->

<div class="cui-action">
  <span class="cui-action__title">
    <a ui-sref="applications.orgApplications" class="cui-link--medium-light cui-link--no-decoration">{{'organization-applications' | translate}}</a> |
    <a ui-sref="applications.myApplications" class="cui-link--medium-light cui-link--no-decoration">{{'my-applications' | translate}}</a>
  </span>
  <div class="cui-action__actions">
    <!-- Sort -->
    <div class="cui-action__action-container" ng-click="myApplications.sortClicked =! myApplications.sortClicked" id="sort-button" off-click="myApplications.sortClicked=false">
      <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
        <use xlink:href="bower_components/cui-icons/dist/font-awesome/font-awesome-out.svg#sort14"></use>
      </svg>
      <span class="cui-action__action-label">{{'sort' | translate}}</span>
      <!-- Sort Popover -->
      <div class="cui-popover cui-popover--top cui-popover__sort-popover" tether target="#sort-button" attachment="top middle"
        target-attachment="bottom middle" offset="-10px 0" ng-if="myApplications.sortClicked">
        <p ng-click="myApplications.sort('alphabetically')">{{'cui-alphabetically' | translate}}</p>
        <p ng-click="myApplications.sort('date'); ">{{'cui-by-date-added' | translate}}</p>
      </div>
    </div>
    <!-- Refine -->
    <div class="cui-action__action-container" ng-click="myApplications.refineClicked =! myApplications.refineClicked" id="refine-button" off-click="myApplications.refineClicked=false">
      <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
        <use xlink:href="bower_components/cui-icons/dist/font-awesome/font-awesome-out.svg#filter10"></use>
      </svg>
      <span class="cui-action__action-label">{{'refine' | translate}}</span>
      <!-- Refine Popover -->
      <div class="cui-popover cui-popover--top cui-popover__refine-popover" tether target="#refine-button" attachment="top middle" target-attachment="bottom middle" offset="-10px 0" ng-if="myApplications.refineClicked">
        <p ng-click="myApplications.parseAppsByStatus('all')">{{'all' | translate}} ({{myApplications.statusCount[0]}})</p>
        <div ng-repeat="status in myApplications.statusList" ng-if="myApplications.statusCount[$index+1]!==0">
          <p ng-click="myApplications.parseAppsByStatus(status)">{{status | translate}} ({{myApplications.statusCount[$index+1]}})</p>
        </div>
      </div>
    </div>
    <!-- Categories -->
    <div class="cui-action__action-container" ng-click="myApplications.categoriesClicked =! myApplications.categoriesClicked" id="categories-button" off-click="myApplications.categoriesClicked=false">
      <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
        <use xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#categories"></use>
      </svg>
      <span class="cui-action__action-label">{{'categories' | translate}}</span>
      <!-- Categories Popover -->
      <div class="cui-popover" target="#categories-button" cui-popover popover-positions="[{position:'bottom',contentOffset:'40%'}]" ng-if="myApplications.categoriesClicked">
        <p ng-click="myApplications.parseAppsByCategory('all')">{{'all' | translate}} ({{myApplications.categoryCount[0]}})</p>
        <div ng-repeat="category in myApplications.categoryList">
          <p ng-click="myApplications.parseAppsByCategory(category)">{{category| cuiI18n}} ({{myApplications.categoryCount[$index+1]}})</p>
        </div>
      </div>
    </div>
    <svg ui-sref="applications.newRequest" xmlns="http://www.w3.org/2000/svg" class="cui-action__icon cui-action__icon--new" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 53">
      <use xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#new"></use>
    </svg>
  </div>
</div>

<div class="cui-applications__main-container">
  <div class="cui-loading__container" ng-if="!myApplications.doneLoading">
    <div class="cui-loading--center"><div class="cui-loading"></div></div>
  </div>
  <div class="sorting">
    <!-- API GAP None of the sorting mechanisms are available from the Person Package Grant API -->
  </div>
  <div ng-if="myApplications.doneLoading">
    <div class="cui-media cui-media--border cui-media--tr" ng-repeat="application in myApplications.list track by application.id">
      <div class="cui-media__image-container">
        <a ng-href="{{application.mangledUrl}}" target="_blank"><div class="cui-media__image" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5" cui-avatar-names="application.name" cui-avatar-cuii18n-filter cui-avatar></div></a>
      </div>
      <div class="cui-media__body cui-media__body--full">
        <div class="cui-media__title-container">
          <a class="cui-media__app-launch" class="cui-media__app-launch" ng-class="{'hide--opacity': application.status!=='active' && application.urls[0].value}"  ng-href="{{application.urls[0].value}}" title="launch application" aria-labelledby="launch application" target="_blank"><cui-icon cui-svg-icon="cui:launch" svg-class="cui-media__app-launch-icon" viewBox="0 0 35 48" preserveAspectRatio="xMidYMid meet"></cui-icon></a>
          <h3 class="cui-media__title" ng-click="myApplications.goToDetails(application)">{{ application.name | cuiI18n }}</h3>
        </div>
        <span class="cui-media__content" > {{application.category | cuiI18n}}</span>
        <span class="cui-status" ng-class=" 'cui-status--'+application.status ">{{ application.status | lowercase }}</span>
      </div>
    </div>
  </div>
</div>
