<!-- processHTML:remove -->
<div class="code-info">The markup and javascript used to build this page can be found <a class="cui-link" href="https://github.com/thirdwavellc/cui-idm-b2x/tree/master/app/modules/organization/directory" target="blank">here</a>.</div>
<!-- /processHTML -->

<main class="cui-organization cui-organization-dir">
  <h2 class="cui-sr-only">{{'organization-directory' | translate}}</h2>

  <!-- Page Header -->
  <section class="cui-action">
    <h3 class="cui-sr-only">{{'org-nav-invite-links' | translate}}</h3>
    <nav ng-include="'app/modules/organization/partials/breadcrumbs.html'" onload="orgId=orgDirectory.stateParamsOrgId"></nav>
    <nav ng-if="!base.loader.for['orgDirectory.userList']" ng-include="'app/modules/organization/partials/mobileNav.html'" ng-init="orgName=orgDirectory.organization.name"></nav>
  </section>

  <!-- Action Sub-header -->
  <section class="cui-action" ng-if="!orgDirectory.loading">
    <h3 class="cui-sr-only">{{'org-dir-filters' | translate}}</h3>
    <div class="cui-loading__container" ng-if="orgDirectory.loading">
      <div class="cui-loader cui-loader--content" ng-include="'app/common-templates/partials/loader-content-header.html'"></div>
    </div>
    <span class="cui-action__title cui-desktop-only">{{orgDirectory.organization.name}}</span>
    <span class="cui-action__title cui-mobile-only">{{orgDirectory.orgPersonCount}} People</span>
    <div class="cui-input-button cui-input-button--alt-bg">
      <input class="cui-input-button__input" ng-model="orgDirectory.search.fullName" focus-if placeholder="{{'cui-search-user-name' | translate}}" on-enter="orgDirectory.updateSearchByName"/>
      <button class="cui-input-button__button" ng-click="orgDirectory.updateSearchByName('name')">{{'search' | translate}}</button>
    </div>
    <div class="cui-action__actions">
      <!-- Refine -->
      <div class="cui-action__action-container" ng-click="orgDirectory.refineClicked=!orgDirectory.refineClicked" id="refine-button" off-click="orgDirectory.refineClicked=false">
        <cui-icon cui-svg-icon="fa:filter10" svg-class="cui-action__icon" use-class="cui-icon__ref" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet"></cui-icon>
        <span class="cui-action__action-label">{{'refine' | translate}}</span>
        <!-- Refine Popover -->
        <div cui-popover class="cui-popover cui-popover--menu cui-popover--positionless" target="#refine-button" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom',contentOffset:'-70px'}, 'any']" ng-if="orgDirectory.refineClicked" style="width:214px">
          <div class="cui-popover__row cui-popover--row__flex">
            <span ng-click="orgDirectory.actionCallbacks.refine('all')">{{'all' | translate}}</span>
          </div>
          <div class="cui-popover__row cui-popover--row__flex">
            <span ng-click="orgDirectory.actionCallbacks.refine('active')">{{'active' | translate}}</span>
          </div>
          <div class="cui-popover__row cui-popover--row__flex">
            <span ng-click="orgDirectory.actionCallbacks.refine('pending')">{{'pending' | translate}}</span>
          </div>
          <div class="cui-popover__row cui-popover--row__flex">
            <span ng-click="orgDirectory.actionCallbacks.refine('locked')">{{'locked' | translate}}</span>
          </div>
          <div class="cui-popover__row cui-popover--row__flex">
            <span ng-click="orgDirectory.actionCallbacks.refine('suspended')">{{'suspended' | translate}}</span>
            <!-- <span>({{manageApplications.suspendedCount}})</span> -->
          </div>
        </div>
      </div>

      <!-- Sort -->
      <div ng-show="1==1" class="cui-action__action-container" ng-click="orgDirectory.sortClicked=!orgDirectory.sortClicked" id="sort-button" off-click="orgDirectory.sortClicked=false">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
          <use xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#sort14"></use>
        </svg>
        <span class="cui-action__action-label">{{'sort' | translate}}</span>
        <!-- Sort Popover -->
        <div cui-popover class="cui-popover cui-popover--menu cui-popover--positionless" target="#sort-button" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom',contentOffset:'-40px'}, 'any']" ng-if="orgDirectory.sortClicked" style="width:171px">
          <div class="cui-popover__row">
            <span ng-click="orgDirectory.actionCallbacks.sort('name')">{{'cui-alphabetically' | translate}}</span>
          </div>
          <!-- <div class="cui-popover__row">
            <span ng-click="orgDirectory.actionCallbacks.sort('username')">{{'username' | translate}}</span>  
          </div> -->
          <!-- <div class="cui-popover__row">
            <span ng-click="orgDirectory.actionCallbacks.sort('status')">{{'status' | translate}}</span>
          </div> -->
        </div>
      </div>

      <!-- Refine -->
      <!-- <div ng-show="1==2" class="cui-action__action-container" ng-click="orgDirectory.refineClicked=!orgDirectory.refineClicked" id="refine-button" off-click="orgDirectory.refineClicked=false">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
          <use xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#filter10"></use>
        </svg>
        <span class="cui-action__action-label">{{'refine' | translate}}</span> -->
        <!-- Refine Popover -->
        <!-- <div cui-popover class="cui-popover cui-popover--menu cui-popover--positionless" target="#refine-button" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom',contentOffset:'-70px'}, 'any']" ng-if="orgDirectory.refineClicked" style="width:214px">
          <div class="cui-popover__row" ng-repeat="status in orgDirectory.statusData" ng-click="orgDirectory.actionCallbacks.refine(status.value)">
            <span>{{status.value | translate}} ({{status.count}})</span>
          </div>
        </div>
      </div> -->

      <!-- Organizations -->

      <!--       <div class="cui-action__action-container" ng-click="orgDirectory.organizationsClicked=!orgDirectory.organizationsClicked" id="organizations-button" off-click="orgDirectory.organizationsClicked=false">

        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
          <use xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#nine10"></use>
        </svg>
        <span class="cui-action__action-label">{{'organizations' | translate}}</span> -->
        <!-- Organizations Popover -->
        <!--         <div cui-popover class="cui-popover cui-popover--menu cui-popover--positionless" target="#organizations-button" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom',contentOffset:'-70px'}, 'any']" ng-if="orgDirectory.organizationsClicked" style="width:214px">
          <div class="cui-popover__row" ng-if="!orgDirectory.organizationList">
            <span>{{'cui-no-org-divisions' | translate}}!</span>
          </div>
          <div class="cui-popover__row" ng-if="orgDirectory.organizationList" ng-repeat="organization in orgDirectory.organizationList | orderBy:'name' track by organization.id">
            <span ng-click="orgDirectory.getOrgMembers(organization);orgDirectory.organizationsClicked=false">{{organization.name | cuiI18n}}</span>
          </div>
        </div>
      </div> -->
    </div>
  </section>

  <!-- Profile Content -->
  <section class="cui-organization__main-container">
    <h3 class="cui-sr-only">{{'org-dir-list'}}</h3>

    <!-- User List Loading -->
    <div class="cui-loading__container" ng-if="base.loader.for['orgDirectory.userList']">
      <div class="cui-loader cui-loader--content" ng-include="'app/common-templates/partials/loader-content.html'"></div>
    </div>

    <cui-table-header 
          headers="['cui-name', 'username', 'status']" 
          sorting="orgDirectory.sortBy"
          sorting-callbacks="orgDirectory.sortingCallbacks">
      </cui-table-header>

    <cui-table-row ng-repeat="user in orgDirectory.userList track by user.id" ng-click="orgDirectory.userClick(user)">
      <li class="cui-flex-table__tr cui-flex-table__tr--c">
        <!-- Avatar -->
        <div class="cui-flex-table__avatar-col">
          <div class="cui-profile__user-avatar" aria-hidden="true" 
            cui-avatar cui-avatar-names="[user.name.given, user.name.surname]" 
            cui-avatar-color-class-prefix="cui-avatar__color" 
            cui-avatar-color-count="5"
          ></div>
        </div>
        <div class="cui-flex-table__mobile-stack">
          <!-- Name -->
          <div class="cui-flex-table__left"><span class="cui-flex-table__title">{{user.name.given}} {{user.name.surname}}</span></div>
          <!-- Username -->
          <div class="cui-flex-table__middle"><span class="cui-mobile-only">{{'username' | translate | lowercase}}: &nbsp;</span>{{user.username}}</div>
          <!-- Status -->
          <div class="cui-flex-table__right">
            <span class="cui-mobile-only">{{'apps' | translate}} ({{user.appCount}}) &nbsp;</span>
            <span ng-class="'cui-status--'+user.status">{{user.status}}</span>
          </div>
        </div>
      </li>
    </cui-table-row>

    <!-- Pagination Controls -->
    <div class="cui-paginate__container">
      <span class="cui-paginate__results-label">{{'cui-num-results-page' | translate}}</span>
      <results-per-page class="cui-paginate__select" ng-model="orgDirectory.search.pageSize"></results-per-page>
      <paginate class="cui-paginate" results-per-page="orgDirectory.search.pageSize" count="orgDirectory.userCount" on-page-change="orgDirectory.updateSearchParams" ng-model="orgDirectory.search.page" attach-rerender-to="orgDirectory.reRenderPagination"></paginate>
    </div>

  </section>
</main>
