<!-- processHTML:remove -->
<div class="code-info">The markup and javascript used to build this page can be found <a class="cui-link" href="https://github.com/thirdwavellc/cui-idm-b2x/tree/master/app/modules/organization/directory" target="blank">here</a>.</div>
<!-- /processHTML -->

<main class="cui-organization cui-organization-dir">
  <h2 class="cui-sr-only">{{'organization-directory' | translate}}</h2>

  <!-- Page Header -->
  <section class="cui-action">
    <h3 class="cui-sr-only">{{'org-nav-invite-links' | translate}}</h3>
    <nav ng-include="'app/modules/organization/partials/breadcrumbs.html'"></nav>
    <nav ng-include="'app/modules/organization/partials/mobileNav.html'"></nav>

    <!-- Invitation Button/Popover is disabled with ng-if="false" until feature is ready -->
    <div class="cui-action__actions" ng-if="false">
      <div class="cui-action__action-container" id="invitation-button" ng-click="orgDirectory.invitationClicked=!orgDirectory.invitationClicked" off-click="orgDirectory.invitationClicked=false">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon cui-action__icon--invite" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
          <defs>
            <ellipse id="path-1" cx="20" cy="19.672" rx="20" ry="19.672"/>
            <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
              <feOffset dy="3" in="SourceAlpha" result="shadowOffsetOuter1"/>
              <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
              <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.27 0" in="shadowBlurOuter1"/>
            </filter>
          </defs>
          <use xlink:href="node_modules/@covisint/cui-icons/dist/icons/icons-out.svg#invite"></use>
        </svg>
        <!-- Invitation Popover -->
        <div class="cui-popover cui-popover--top cui-popover__sort-popover" tether target="#invitation-button" attachment="top middle" target-attachment="bottom middle" offset="-10px 0" ng-if="orgDirectory.invitationClicked">
          <p>{{'invite-user' | translate}}</p>
          <p>{{'invite-division' | translate}}</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Action Sub-header -->
  <section class="cui-action" ng-if="!orgDirectory.loading">
    <h3 class="cui-sr-only">{{'org-dir-filters' | translate}}</h3>
    <div class="cui-loading__container" ng-if="orgDirectory.loading">
      <div class="cui-loader cui-loader--content" ng-include="'app/common-templates/partials/loader-content-header.html'"></div>
    </div>
    <span class="cui-action__title cui-desktop-only">{{orgDirectory.organization.name | cuiI18n}}</span>
    <span class="cui-action__title cui-mobile-only">{{orgDirectory.orgPersonCount}} People</span>
    <div class="cui-action__actions">

      <!-- Sort -->
      <div class="cui-action__action-container" ng-click="orgDirectory.sortClicked=!orgDirectory.sortClicked" id="sort-button" off-click="orgDirectory.sortClicked=false">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
          <use xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#sort14"></use>
        </svg>
        <span class="cui-action__action-label">{{'sort' | translate}}</span>
        <!-- Sort Popover -->
        <div cui-popover class="cui-popover cui-popover--menu cui-popover--positionless" target="#sort-button" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom',contentOffset:'-40px'}, 'any']" ng-if="orgDirectory.sortClicked" style="width:171px">
          <div class="cui-popover__row">
            <span ng-click="orgDirectory.actionCallbacks.sort('name')">{{'cui-alphabetically' | translate}}</span>
          </div>
          <div class="cui-popover__row">
            <span ng-click="orgDirectory.actionCallbacks.sort('username')">{{'username' | translate}}</span>  
          </div>
          <div class="cui-popover__row">
            <span ng-click="orgDirectory.actionCallbacks.sort('status')">{{'status' | translate}}</span>
          </div>
        </div>
      </div>

      <!-- Refine -->
      <div class="cui-action__action-container" ng-click="orgDirectory.refineClicked=!orgDirectory.refineClicked" id="refine-button" off-click="orgDirectory.refineClicked=false">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
          <use xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#filter10"></use>
        </svg>
        <span class="cui-action__action-label">{{'refine' | translate}}</span>
        <!-- Refine Popover -->
        <div cui-popover class="cui-popover cui-popover--menu cui-popover--positionless" target="#refine-button" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom',contentOffset:'-70px'}, 'any']" ng-if="orgDirectory.refineClicked" style="width:214px">
          <div class="cui-popover__row" ng-click="orgDirectory.parse('all')">
            <span>{{'all' | translate}}</span>
          </div>
          <div class="cui-popover__row" ng-repeat="status in orgDirectory.statusList" ng-click="orgDirectory.parse(status)">
            <span>{{status | translate}}</span>
          </div>
        </div>
      </div>

      <!-- Organizations -->
      <div class="cui-action__action-container" ng-click="orgDirectory.organizationsClicked=!orgDirectory.organizationsClicked" id="organizations-button" off-click="orgDirectory.organizationsClicked=false">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
          <use xlink:href="node_modules/@covisint/cui-icons/dist/font-awesome/font-awesome-out.svg#nine10"></use>
        </svg>
        <span class="cui-action__action-label">{{'organizations' | translate}}</span>
        <!-- Organizations Popover -->
        <div cui-popover class="cui-popover cui-popover--menu cui-popover--positionless" target="#organizations-button" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom',contentOffset:'-70px'}, 'any']" ng-if="orgDirectory.organizationsClicked" style="width:214px">
          <div class="cui-popover__row" ng-if="!orgDirectory.organizationList">
            <span>{{'cui-no-org-divisions' | translate}}!</span>
          </div>
          <div class="cui-popover__row" ng-if="orgDirectory.organizationList" ng-repeat="organization in orgDirectory.organizationList | orderBy:'name' track by organization.id">
            <span ng-click="orgDirectory.getOrgMembers(organization);orgDirectory.organizationsClicked=false">{{organization.name | cuiI18n}}</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Profile Content -->
  <section class="cui-organization__main-container">
    <h3 class="cui-sr-only">{{'org-dir-list'}}</h3>

    <!-- User List Loading -->
    <div class="cui-loading__container" ng-if="orgDirectory.loading">
      <div class="cui-loader cui-loader--content" ng-include="'app/common-templates/partials/loader-content.html'"></div>
    </div>

    <cui-table cui-table-config="orgDirectory.cuiTableOptions">
      <cui-table-header headers="['cui-name', 'username', 'status']"></cui-table-header>
      <cui-table-row ng-repeat="user in orgDirectory.userList track by user.id" ng-click="orgDirectory.userClick(user)">
        <li class="cui-flex-table__tr cui-flex-table__tr--c">
          <!-- Avatar -->
          <div class="cui-flex-table__avatar-col">
            <div class="cui-profile__user-avatar" aria-hidden="true" 
              cui-avatar cui-avatar-names="[user.name.given, user.name.surname]" 
              cui-avatar-color-class-prefix="cui-avatar__color" 
              cui-avatar-color-count="5"
            ></div>
          </div>
          <div class="cui-flex-table__mobile-stack">
            <!-- Name -->
            <div class="cui-flex-table__left"><span class="cui-flex-table__title">{{user.name.given}} {{user.name.surname}}</span></div>
            <!-- Username -->
            <div class="cui-flex-table__middle"><span class="cui-mobile-only">{{'username' | translate | lowercase}}: &nbsp;</span>{{user.username}}</div>
            <!-- Status -->
            <div class="cui-flex-table__right">
              <span class="cui-mobile-only">{{'apps' | translate}} ({{user.appCount}}) &nbsp;</span>
              <span ng-class="'cui-status--'+user.status">{{user.status}}</span>
            </div>
          </div>
        </li>
      </cui-table-row>
    </cui-table>

  </section>
</main>
