<ng-form name="challengeQuestions">
  <div class="cui-users__field">
    <div class="cui-users__address-container" class-toggle toggled-class="show-address">
      <div class="cui-checkbox__container">
          <input type="checkbox" name="option-1" id="option-1" class="cui-checkbox" ng-model="userProfile.maskAnswers" ng-click="userProfile.updateUIMasking();"/>
          <label for="option-1" class="cui-checkbox__label">{{'cui-mask-answers'|translate}}</label>
      </div>
      <div class="cui-users__field">
        <span class="cui-field-val__field">{{'challenge-questions' | translate}}</span>
        <span disable-animate class="cui-link" href="" ng-if="!toggled" ng-click="userProfile.toggleAllOff();toggleOn()">{{'cui-edit' | translate}}</span>
        <!-- Close Icon -->
        <div disable-animate ng-if="toggled" ng-click="toggleOff()">
          <cui-icon cui-svg-icon="cui:close-no-fill" svg-class="cui-action__icon" viewbox="0 0 48 53" preserveAspectRatio="xMidYMid meet" ></cui-icon>
        </div>
      </div>

      <!-- Challenge Questions -->
      <div ng-if="!toggled">
        <div ng-repeat="question in userProfile.challengeQuestionsTexts">
          <span class="cui-field-val__field">{{$index+1}}:</span>
          <span class="cui-field-val__val">{{question}}</span>
          </br>
        </div>
      </div>

      <!-- Challenge Questions Edit -->
      <div ng-if="toggled" ng-init="userProfile.pushToggleOff({'name':'challengeQuestions','function':toggleOff})">
        <div ng-repeat="question in userProfile.tempUserSecurityQuestions.questions">
          <b>{{'cui-challenge-question' | translate}} {{$index+1}}</b>
          <cui-dropdown ng-model="question.question.id" class="cui-dropdown" return-value="object.id" display-value="(object.question | cuiI18n)" options="userProfile['allChallengeQuestions' + $index]"></cui-dropdown>
          {{'cui-answer' | translate}}
          <div class="cui-error" ng-messages="challengeQuestions['answer' + $index].$error">
            <div ng-messages-include="app/common-templates/messages.html"></div>
          </div>
          <input type="{{userProfile.inputType}}" ng-model="question.answer" class="cui-input" ng-class="{'cui-input--error':!challengeQuestions['answer'+$index].$valid}" name="answer{{$index}}" ng-change="userProfile.checkIfRepeatedSecurityAnswer(userProfile.tempUserSecurityQuestions.questions,challengeQuestions)" ng-required="true"/>
          <br/><br/>
        </div>

        <!-- Edit Controls -->
        <div class="cui-users__address-submit">
          <a class="cui-link cui-form__cancel" href="" ng-click="toggleOff()">{{'cui-cancel' | translate}}</a>
          <cui-button
            loading-if="userProfile.challengeQuestions.submitting"
            loading-message="{{'cui-button-loading-text' | translate}}"
            button-click="userProfile.saveChallengeQuestions('challengeQuestions', toggleOff)"
          >
            <button class="cui-button" ng-class="{'cui-button--error':!challengeQuestions.$valid}">
              <span ng-if="( !userProfile.challengeQuestions || !userProfile.challengeQuestions.submitting ) && !userProfile.challengeQuestions.error">{{'cui-update' | translate}}</span>
            </button>
          </cui-button>
        </div>

      </div>
    </div>
  </div>
</ng-form>
