<div class="cui-users__profile-media" ng-if="!userProfile.loading">
  <div class="cui-media">
    <div class="cui-media__image-container">
      <!-- Profile Image: Currently displays users initials only -->
      <div class="cui-media__image" cui-avatar cui-avatar-email="userProfile.user.email" cui-avatar-names="[userProfile.user.name.given, userProfile.user.name.surname]" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5"></div>
    </div>
    <div class="cui-media__body">
      <!-- User full name -->
      <h3 class="cui-media__title">{{userProfile.user.name.given}} {{userProfile.user.name.surname}}</h3>
      <!-- UserID -->
      <p class="cui-media__content--small" ng-if="userProfile.registeredDate">{{'cui-registered' | translate}}: {{userProfile.registeredDate | date:base.appConfig.dateFormat}}</p>
      <p class="cui-media__content--small">{{'cui-user-id' | translate}}: {{userProfile.user.username}}</p>
      <p class="cui-media__content--small" ng-if="userProfile.user.lastLoginDate">{{'cui-last-login' | translate}}: {{userProfile.user.lastLoginDate | date:base.appConfig.dateFormat}}</p>
    </div>
  </div>
</div>
