<ng-form name="password">
  <div class="cui-users__field">
    <div class="cui-users__address-container" class-toggle toggled-class="show-address">
      <div class="cui-users__field">
        <div>
        <span class="cui-field-val__field" ng-if="!toggled">{{'cui-password' | translate}}:</span>
        <span class="cui-field-val__field " ng-if="toggled">{{'cui-password' | translate}}</span>
        <span class="cui-field-val__val cui-star-password" ng-if="!toggled">**********</span><br/>
        </div>
        <span disable-animate class="cui-link" href="" ng-if="!toggled" ng-click="userProfile.toggleAllOff();toggleOn()">{{'cui-edit' | translate}}</span>
        <!-- Close Icon -->
        <div disable-animate ng-if="toggled" ng-click="toggleOff()">
          <cui-icon cui-svg-icon="cui:close-no-fill" svg-class="cui-action__icon" viewbox="0 0 48 53" preserveAspectRatio="xMidYMid meet" ></cui-icon>
        </div>
      </div>

      <!-- Password Edit -->
      <div ng-if="toggled" ng-init="userProfile.pushToggleOff({'name':'password','function':toggleOff})">

        <!-- Current Password -->
        <label for="currentPassword">{{'current-password' | translate}}</label>
        <div class="cui-error" ng-messages="password.currentPassword.$error" ng-if="password.currentPassword.$touched">
          <div ng-messages-include="app/common-templates/messages.html"></div>
        </div>
        <input type="password" name="currentPassword" class="cui-input" ng-model="userProfile.userPasswordAccount.currentPassword" ng-required="true" focus-if="toggled"/>

        <!-- New password -->
        <div class="cui-input__password-holder">
          <label for="newPassword">{{'cui-enter-new-password' | translate}} </label>
          <input class="cui-input" name="newPassword" type="password" 
            ng-model="userProfile.userPasswordAccount.password" 
            ng-required="true" 
            ng-class="{'cui-input--error': password.newPassword.$touched && password.newPassword.$invalid}" 
            password-validation="userProfile.passwordRules"
            ng-change="userProfile.validatePassword(userProfile.userPasswordAccount.password, password, 'newPassword')"
            ng-focus="userProfile.passwordPopover=true"
            ng-blur="userProfile.passwordPopover=false"
          />
          <!-- Password Rules Popover -->
          <div password-popover ng-messages="password.newPassword.$error" ng-messages-multiple ng-if="userProfile.passwordPopover && password.newPassword.$invalid" class="cui-error__password">
            <!-- Password-Validation-History-Top Template -->
            <div ng-messages-include="app/common-templates/password-validation-history/password-validation-top.html"></div>
            <!-- Password disallowed words Validation -->
            <div class="cui-error__message" ng-if="!userProfile.validNewPasswordDisallowed">
              <br/>
              <span translate="disallowed-password-rule" ></span>
            </div><br/>
            <!-- Password History Validation -->
            <div class="cui-error__message">
              <div class="cui-error__status"
                ng-class="{'cui-error__status--pass': userProfile.validNewPasswordHistory && userProfile.userPasswordAccount.length>0}"></div>
              <span translate="cui-password-history-rule" translate-value-number-of-passwords="{{userProfile.numberOfPasswords}}"></span>
            </div><br/>
            <!-- Password-Validation-History-Bottom Template -->
            <div ng-messages-include="app/common-templates/password-validation-history/password-validation-bottom.html"></div>
          </div>
        </div>

        <!-- Re-enter new password -->
        <label for="newPasswordRe">{{'cui-re-enter-new-password' | translate}} {{userProfile.userPasswordAccount.length}}{{userProfile.validNewPasswordHistory}}asd{{userProfile.validNewPasswordDisallowed}}</label>
        <div class="cui-error" ng-if="password.newPasswordRe.$touched && password.newPasswordRe.$error.match">
          <div class="cui-error__message">{{'password-mismatch' | translate}}</div>
        </div>
        <input class="cui-input" type="password" ng-model="userProfile.passwordRe" name="newPasswordRe" match="userProfile.userPasswordAccount.password" />
        <div class="cui-error" style="text-align: right;"ng-if="userProfile.lifetimeError">
          <div class="cui-error__message">{{'cannot-change-password'| translate}}</div>
        </div>
        <!-- Password Edit Controls -->
        <div class="cui-users__address-submit">
          <a class="cui-link cui-form__cancel" href="" ng-mousedown="userProfile.resetPasswordFields();toggleOff()">{{'cui-cancel' | translate}}</a>
          <!-- <cui-button 
            loading-if="userProfile.password.submitting"
            loading-message="{{'cui-button-loading-text' | translate}}"
            button-click="password.$valid && userProfile.updatePassword('password',toggleOff)"
          >
            <button class="cui-button" ng-class="{'cui-button--error':!password.$valid}">
              <span ng-if="(!userProfile.password || !userProfile.password.submitting) && !userProfile.password.error">{{'cui-update' | translate}}</span>
            </button>
          </cui-button> -->
          <button class="cui-button" ng-click="password.$valid && userProfile.updatePassword('password',toggleOff);"
            ng-class="{'cui-button--error':!password.$valid}">
            <span ng-if="(!userProfile.password || !userProfile.password.submitting) && !userProfile.password.error">{{'cui-update' | translate}}</span>
            <span ng-if="userProfile.password.submitting">{{'cui-button-loading-text'|translate}}</span>
            <span ng-if="userProfile.password.error">{{'cui-error-try-again'| translate}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-form>
