<ng-form name="timezoneLanguage">
  <div class="cui-users__field">
    <div class="cui-users__address-container" class-toggle toggled-class="show-address">
      <div class="cui-users__field">
        <span class="cui-field-val__field">{{'timezone-and-language' | translate}}</span>
        <span disable-animate class="cui-link" href="" ng-if="!toggled" ng-click="userProfile.toggleAllOff();toggleOn()">{{'cui-edit' | translate}}</span>
        <!-- Close Icon -->
        <div disable-animate ng-if="toggled" ng-click="toggleOff()">
          <cui-icon cui-svg-icon="cui:close-no-fill" svg-class="cui-action__icon" viewbox="0 0 48 53" preserveAspectRatio="xMidYMid meet" ></cui-icon>
        </div>
      </div>

      <!-- Timezone and Language -->
      <div ng-if="!toggled" disable-animate>
        <span class="cui-field-val__field">{{'cui-timezone' | translate}}:</span>
        <span class="cui-field-val__val">{{userProfile.timezoneById(userProfile.user.timezone)}}</span><br/>
        <span class="cui-field-val__field">{{'cui-language' | translate}}:</span>
        <span class="cui-field-val__val">{{base.languages[userProfile.user.language]}}</span>
      </div>

      <!-- Language/Timezone Edit -->
      <div ng-if="toggled" ng-init="userProfile.pushToggleOff({'name':'timezoneLangauge','function':toggleOff})" disable-animate>
        <!-- Timezone -->
        <label for="timezone">{{'cui-timezone' | translate}}</label>
        <cui-dropdown ng-model="userProfile.tempUser.timezone" class="cui-dropdown" return-value="object.id" display-value="object.name" options="base.timezones"></cui-dropdown>
        <!-- Language -->
        <label for="language">{{'cui-language' | translate}}</label>
        <cui-dropdown ng-model="userProfile.tempUser.language" class="cui-dropdown" return-value="key" display-value="value" options="base.languages"></cui-dropdown>

        <!-- Language/Timezone Edit Controls -->
        <div class="cui-users__address-submit">
          <a class="cui-link cui-form__cancel" href="" ng-click="toggleOff()">{{'cui-cancel' | translate}}</a>

          <cui-button
            loading-if="userProfile.timezoneLanguage.submitting"
            loading-message="{{'cui-button-loading-text' | translate}}"
            button-click="userProfile.updatePerson('timezoneLanguage', toggleOff)"
          >
            <button class="cui-button">
              <span ng-if="( !userProfile.challengeQuestions || !userProfile.challengeQuestions.submitting ) && !userProfile.challengeQuestions.error">{{'cui-update' | translate}}</span>
            </button>
          </cui-button>
        </div>

      </div>
    </div>
  </div>
</ng-form>
