<ng-form name="timezoneLanguage">
  <div class="cui-users__field">
    <div class="cui-users__address-container" class-toggle toggled-class="show-address">
      <div class="cui-users__field">
        <span class="cui-field-val__field">{{'timezone-and-language' | translate}}</span>
        <span class="cui-link" href="" ng-if="!toggled" ng-click="userProfile.toggleAllOff();toggleOn()">{{'cui-open' | translate}}</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" ng-if="toggled" ng-click="toggleOff()" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 53" aria-label="{{'cui-close' | translate}}">
          <use class="cui-icon__ref" xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#close-no-fill"></use>
        </svg>
      </div>
      <div ng-if="!toggled">
        <span class="cui-field-val__field">{{'cui-timezone' | translate}}:</span>
        <span class="cui-field-val__val">{{userProfile.timezoneById(userProfile.user.timezone)}}</span><br/>
        <span class="cui-field-val__field">{{'cui-language' | translate}}:</span>
        <span class="cui-field-val__val">{{base.languages[userProfile.user.language]}}</span>
      </div>

      <!-- Language/Timezone edit -->
      <div ng-if="toggled" ng-init="userProfile.pushToggleOff({'name':'timezoneLangauge','function':toggleOff})">
        <!-- Timezone -->
        <label for="timezone">{{'cui-timezone' | translate}}</label>
        <cui-dropdown ng-model="userProfile.tempUser.timezone" class="cui-dropdown" return-value="object.id" display-value="object.name" options="base.timezones"></cui-dropdown>
        <!-- Language -->
        <label for="language">{{'cui-language' | translate}}</label>
        <cui-dropdown ng-model="userProfile.tempUser.language" class="cui-dropdown" return-value="key" display-value="value" options="base.languages"></cui-dropdown>
        <!-- language/timezone edit Controls -->
        <div class="cui-users__address-submit">
          <a class="cui-link cui-form__cancel" href="" ng-click="toggleOff()">{{'cui-cancel' | translate}}</a>
          <button class="cui-button" ng-click="userProfile.updatePerson('timezoneLanguage',toggleOff);">
            <span ng-if="(!userProfile.timezoneLanguage || !userProfile.timezoneLanguage.submitting) && !userProfile.timezoneLanguage.error">{{'cui-update' | translate}}</span>
            <div class="cui-loading--medium-ctr" ng-if="userProfile.timezoneLanguage.submitting"></div>
            <span ng-if="userProfile.timezoneLanguage.error">{{'cui-error-try-again'| translate}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-form>
