<!-- Page Loading -->
<div class="cui-loading__container--user-details" ng-if="userDetailsApps.loading">
  <div class="cui-loader cui-loader--content-sm" ng-include="'app/common-templates/partials/loader-content-sm.html'"></div>
</div>

<div class="" ng-if="!userDetailsApps.loading">
  <div style="position:relative">

  	<!-- User has no applications -->
  	<div ng-if="userDetailsApps.appList.length===0">
			<p>{{'cui-user-no-apps'|translate}}!</p>
  	</div>

  	<!-- User has applications -->
  	<ul ng-if="userDetailsApps.appList.length!==0">
	    <li class="cui-flex-table__tr cui-flex-table__tr--b" ng-repeat="application in userDetailsApps.appList track by $index">
	    	<!-- Application Icon -->
	      <div class="cui-flex-table__avatar-col">
	        <a ng-href="{{application.mangledUrl}}" target="_blank"><div class="cui-media__image" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5" cui-avatar-names="application.name" cui-avatar-cuii18n-filter cui-avatar></div></a>
	      </div>

				<!-- Application Details -->
        <div class="cui-flex-table__left--stacked">
          <h3 class="cui-flex-table__title" ng-click="userDetailsApps.goToDetails(application)">{{application.name | cuiI18n}}</h3>
          <span ng-if="application.grant.status!=='pending'" class="cui-flex-table__subtitle-info">{{ 'granted' | translate }}: {{application.grant.instant | date:base.appConfig.dateFormat}}</span>
          <span class="cui-status cui-mobile-only" ng-class=" 'cui-status--'+application.grant.status ">{{application.grant.status | lowercase}}</span>
        </div>
        <div class="cui-flex-table__middle cui-desktop-only">
          <span class="cui-media__content"> {{application.category | cuiI18n}}</span>
        </div>
        <div class="cui-flex-table__right cui-flex-table__right--stacked">
          <span class="cui-status cui-desktop-only" ng-class=" 'cui-status--'+application.grant.status ">{{application.grant.status | lowercase}}</span>
          <span class="cui-flex-table__review" ng-if="application.grant.status==='pending'" ui-sref="organization.requests.pendingRequests({userId:userDetails.user.id,orgId:userDetails.user.organization.id})">{{'cui-review' | translate}}</span>
        </div>
	    </li>
	  </ul>
</div>
