<ul class="cui-tabs__nav">
  <li class="cui-tabs__tab-container">
    <a ng-class="(userDetailsApps.activeAppsTab)?'cui-tabs__tab cui-tabs__tab--active':'cui-tabs__tab cui-tabs__tab'" ng-click="(userDetailsApps.activeAppsTab)?'':userDetailsApps.activeGrantTab=false;userDetailsApps.activeRequestTab=false;userDetailsApps.activeAppsTab=true">{{'apps-upper'|translate}}</a>
  </li>
  <li class="cui-tabs__tab-container">
    <a ng-class="(userDetailsApps.activeRequestTab)?'cui-tabs__tab cui-tabs__tab--active':'cui-tabs__tab cui-tabs__tab'" ng-click="(userDetailsApps.activeRequestTab)?'':userDetailsApps.activeGrantTab=false;userDetailsApps.activeRequestTab=true;userDetailsApps.activeAppsTab=false">{{'request-history'|translate}}</a>
  </li>
  <li class="cui-tabs__tab-container">
    <a ng-class="(userDetailsApps.activeGrantTab)?'cui-tabs__tab cui-tabs__tab--active':'cui-tabs__tab cui-tabs__tab'" ng-click="(userDetailsApps.activeGrantTab)?'':userDetailsApps.activeRequestTab=false;userDetailsApps.activeGrantTab=true;userDetailsApps.activeAppsTab=false">{{'grant-history'|translate}}</a>
  </li>
</ul>

<!-- Page Loading -->
<div class="cui-loading__container--user-details" ng-if="userDetailsApps.loading">
  <div class="cui-loader cui-loader--content-sm" ng-include="'app/common-templates/partials/loader-content-sm.html'"></div>
</div>

<div class="" ng-if="!userDetailsApps.loading&&userDetailsApps.activeAppsTab">
  <div style="position:relative">

  	<!-- User has no applications -->
  	<div ng-if="userDetailsApps.appList.length===0">
			<p>{{'cui-user-no-apps'|translate}}!</p>
  	</div>

  	<!-- User has applications -->
  	<ul ng-if="userDetailsApps.appList.length!==0">
	    <li class="cui-flex-table__tr cui-flex-table__tr--b" ng-repeat="application in userDetailsApps.appList track by $index">
	    	<!-- Application Icon -->
	      <div class="cui-flex-table__avatar-col">
	        <a ng-href="{{application.mangledUrl}}" target="_blank"><div class="cui-media__image" cui-avatar-color-class-prefix="cui-avatar__color" cui-avatar-color-count="5" cui-avatar-names="application.name" cui-avatar-cuii18n-filter cui-avatar></div></a>
	      </div>

				<!-- Application Details -->
        <div class="cui-flex-table__left--stacked">
          <h3 class="cui-flex-table__title" ng-click="userDetailsApps.goToDetails(application)">{{application.name | cuiI18n}}</h3>
          <span ng-if="application.grant.status!=='pending'" class="cui-flex-table__subtitle-info">{{ 'granted' | translate }}: {{application.grant.instant | date:base.appConfig.dateFormat}}</span>
          <span class="cui-status cui-mobile-only" ng-class=" 'cui-status--'+application.grant.status ">{{application.grant.status | lowercase | translate}}</span>
        </div>
        <div class="cui-flex-table__middle cui-desktop-only">
          <span class="cui-media__content"> {{application.category | cuiI18n}}</span>
        </div>
        <div class="cui-flex-table__right cui-flex-table__right--stacked">
          <span class="cui-status cui-desktop-only" ng-class=" 'cui-status--'+application.grant.status ">{{application.grant.status | lowercase | translate}}</span>
          <span class="cui-flex-table__review" ng-if="application.grant.status==='pending'" ui-sref="organization.requests.pendingRequests({userId:userDetails.user.id,orgId:userDetails.user.organization.id})">{{'cui-review' | translate}}</span>
        </div>
	    </li>
	  </ul>
</div>
</div>
<main class="cui-organization cui-organization-req-uers" ng-if="!userDetailsApps.loading&&userDetailsApps.activeGrantTab">
                <div class="cui-action">
                        <div class="cui-action cui-action--alt">
                          <div class="cui-radio cui-radio--basic-ltr">
                              <input class="cui-radio__input" type="radio" name="radio-choice-basic-yes" id="radio-choice-basic-yes" ng-model="userDetailsApps.searchBy" value="name">
                              <label class="cui-radio__label" for="radio-choice-basic-yes"><span></span>{{'cui-name' | translate}}</label>
                              <input class="cui-radio__input" type="radio" name="radio-choice-basic-yes" id="radio-choice-basic-no" ng-model="userDetailsApps.searchBy" value="action">
                              <label class="cui-radio__label" for="radio-choice-basic-no"><span></span>{{'action' | translate}}</label>
                          </div>&nbsp;
                          <div class="cui-input-button cui-input-button--alt-bg">
                              <input class="cui-input-button__input" ng-model="userDetailsApps.searchValue" focus-if placeholder="{{'search' | translate}}" on-enter="userDetailsApps.updateSearch('search',userDetailsApps.searchValue,'grant')"/>
                              <button class="cui-input-button__button" ng-click="userDetailsApps.updateSearch('search',userDetailsApps.searchValue,'grant')">{{'search' | translate}}</button>
                          </div>
                    </div>
                    <div class="cui-action__actions">
                        <!-- Sort -->
                        <div class="cui-action__action-container" ng-click="userDetailsApps.granted.sortClicked =! userDetailsApps.granted.sortClicked" id="sort-buttons" off-click="userDetailsApps.granted.sortClicked=false">
                          <cui-icon cui-svg-icon="fa:sort14" svg-class="cui-action__icon" use-class="cui-icon__ref" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet" ></cui-icon>
                          <span class="cui-action__action-label">{{'sort' | translate}}</span>
                          <!-- Sort Popover -->
                          <div cui-popover class="cui-popover cui-popover--menu cui-popover--positionless" target="#sort-buttons" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom',contentOffset:'-40px'}, 'any']" attachment="top middle" target-attachment="bottom middle" ng-if="userDetailsApps.granted.sortClicked" style="width:171px">
                            <div class="cui-popover__row">
                              <span ng-click="userDetailsApps.updateSearch('eventdate','','grant')">{{'cui-by-decision-date' | translate}}</span>
                            </div>
                            <div class="cui-popover__row">
                               <span ng-click="userDetailsApps.updateSearch('eventType','','grant')">{{'action' | translate}}</span>
                            </div>
                            <div class="cui-popover__row">
                               <span ng-click="userDetailsApps.updateSearch('actorId','','grant')">{{'evaluator' | translate}}</span>
                            </div>
                          </div>
                        </div>

                        <!-- Refine -->
                        <div class="cui-action__action-container" ng-click="userDetailsApps.granted.refineClicked =! userDetailsApps.granted.refineClicked" id="refine-buttons" off-click="userDetailsApps.granted.refineClicked=false">
                          <cui-icon cui-svg-icon="fa:filter10" svg-class="cui-action__icon" use-class="cui-icon__ref" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet"></cui-icon>
                          <span class="cui-action__action-label">{{'refine' | translate}}</span>
                          <!-- Refine Popover -->
                          <div cui-popover class="cui-popover cui-popover--menu cui-popover--positionless" target="#refine-buttons" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom',contentOffset:'-70px'}, 'any']" ng-if="userDetailsApps.granted.refineClicked" style="width:214px">
                            <div class="cui-popover__row cui-popover--row__flex">
                              <span ng-click="userDetailsApps.updateSearch('status','','grant')">{{'all' | translate}}</span>
                              <span>({{userDetailsApps.popupCount}})</span>
                            </div>
                            <div class="cui-popover__row cui-popover--row__flex">
                              <span ng-click="userDetailsApps.updateSearch('status','active','grant')">{{'active' | translate}}</span>
                              <span>({{userDetailsApps.activeCount}})</span>
                            </div>
                            <div class="cui-popover__row cui-popover--row__flex">
                              <span ng-click="userDetailsApps.updateSearch('status','suspended','grant')">{{'suspended' | translate}}</span>
                              <span>({{userDetailsApps.suspendedCount}})</span>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
        <!-- Content -->
        <section class="cui-organization__main-container">
        <h3 class="cui-sr-only">{{'users-requests' | translate}}</h3>

        <!-- Loading -->
       <!--  <div class="cui-loading__container" ng-if="userDetailsApps.loading">
          <div class="cui-loader cui-loader--content" ng-include="'app/common-templates/partials/loader-content.html'"></div>
        </div> -->

        <cui-table-header 
          headers="['cui-name', 'status', 'action', 'cui-by-decision-date', 'evaluator']"
          sorting="userDetailsApps.sortBy"
          sorting-callbacks="userDetailsApps.sortingCallbacks">
          </cui-table-header>
          <!-- no history -->
          <div class="cui-media__content" ng-if="userDetailsApps.grantedHistory.length===0">{{'cui-no-details'|translate}}</div>
        <cui-table-row ng-repeat="application in userDetailsApps.grantedHistory track by $index">
          <li class="cui-flex-table__tr cui-flex-table__tr--c">
            <div class="cui-flex-table__avatar-col">
              <div class="cui-profile__user-avatar" aria-hidden="true" 
                cui-avatar cui-avatar-names="application.name" 
                cui-avatar-color-class-prefix="cui-avatar__color" 
                cui-avatar-color-count="5" cui-avatar-cuii18n-filter cui-avatar="application.iconUrl"></div>
            </div>
            <div class="cui-flex-table__mobile-stack">
               <div class="cui-flex-table__left">
                <span class="cui-flex-table__title">{{application.name | cuiI18n|capitalize}}</span>
              </div>

              <div class="cui-flex-table__middle">
                <span class="">{{application.status}}</span>
              </div>

              <div class="cui-flex-table__middle">
                <span class="cui-media__content">{{ application.eventType }}</span>
              </div>

              <div class="cui-flex-table__middle">
                <span class="">{{application.eventDate}}</span>
              </div>
              <div class="cui-flex-table__right">
                 <span class="cui-media__content" > {{application.actor.given}} {{application.actor.surname}}</span>
              </div>
            </div>
          </li>
        </cui-table-row>

        <!-- Pagination -->
        <div class="cui-paginate__container" ng-if="!userDetailsApps.loading">
          <span class="cui-paginate__results-label">{{'cui-num-results-page' | translate}}</span>
          <results-per-page class="cui-paginate__select" 
          ng-model="userDetailsApps.search.pageSize"></results-per-page>
          <paginate class="cui-paginate" 
          results-per-page="userDetailsApps.search.pageSize" 
          count="userDetailsApps.grantedHistoryCount" 
          on-page-change="userDetailsApps.pageGrantedChange" 
          ng-model="userDetailsApps.search.page" 
          attach-rerender-to="userDetailsApps.reRenderPaginate"></paginate>
        </div>
        </section>
</main>
<main class="cui-organization cui-organization-req-uers" ng-if="!userDetailsApps.loading&&userDetailsApps.activeRequestTab">
  <h2 class="cui-sr-only">{{'org-req-apps-requests'}}</h2>
      <div class="cui-action">
        <div class="cui-action__actions">
        <!-- Sort -->
        <div class="cui-action__action-container" ng-click="userDetailsApps.requestsortClicked =! userDetailsApps.requestsortClicked" id="sort-button" off-click="userDetailsApps.requestsortClicked=false">
          <cui-icon cui-svg-icon="fa:sort14" svg-class="cui-action__icon" use-class="cui-icon__ref" viewbox="0 0 216 146" preserveAspectRatio="xMidYMid meet" ></cui-icon>
          <span class="cui-action__action-label">{{'sort' | translate}}</span>
          <!-- Sort Popover -->
          <div cui-popover class="cui-popover cui-popover--menu cui-popover--positionless" target="#sort-button" pointer-height="13" pointer-width="10" popover-positions="[{position:'bottom',contentOffset:'-40px'}, 'any']" attachment="top middle" target-attachment="bottom middle" ng-if="userDetailsApps.requestsortClicked" style="width:171px">
            <div class="cui-popover__row">
              <span ng-click="userDetailsApps.updateSearch('requesteddate','','request')">{{'cui-by-request-date' | translate}}</span>
            </div>
             <div class="cui-popover__row">
              <span ng-click="userDetailsApps.updateSearch('decisiondate','','request')">{{'cui-by-decision-date' | translate}}</span>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- Content -->
  <section class="cui-organization__main-container">
    <h3 class="cui-sr-only">{{'users-requests' | translate}}</h3>

    <!-- Loading -->
   <!--  <div class="cui-loading__container" ng-if="userDetailsApps.loading">
      <div class="cui-loader cui-loader--content" ng-include="'app/common-templates/partials/loader-content.html'"></div>
    </div> -->

    <cui-table-header 
      headers="['cui-name', 'cui-by-request-date', 'approved', 'cui-by-decision-date', 'evaluator']"
      sorting="userDetailsApps.sortBy"
      sorting-callbacks="userDetailsApps.sortingCallbacks">
      </cui-table-header>
      <div class="cui-media__content" ng-if="userDetailsApps.requestedHistory.length===0">{{'cui-no-details'|translate}}</div>
    <cui-table-row ng-repeat="application in userDetailsApps.requestedHistory track by $index">
      <li class="cui-flex-table__tr cui-flex-table__tr--c">
        <div class="cui-flex-table__avatar-col">
          <div class="cui-profile__user-avatar" aria-hidden="true" 
            cui-avatar cui-avatar-names="application.name" 
            cui-avatar-color-class-prefix="cui-avatar__color" 
            cui-avatar-color-count="5" cui-avatar-cuii18n-filter cui-avatar="application.iconUrl"></div>
        </div>
        <div class="cui-flex-table__mobile-stack">
           <div class="cui-flex-table__left">
            <span class="cui-flex-table__title">{{application.name | cuiI18n|capitalize}}</span>
          </div>

          <div class="cui-flex-table__middle">
            <span class="">{{application.requestedDate}}</span>
          </div>

          <div class="cui-flex-table__middle">
            <span class="cui-media__content" ng-if="application.isApproved==true"> {{ 'yes'|translate }}</span>
      <span class="cui-media__content" ng-if="application.isApproved==false"> {{'cui-no'|translate  }}</span>
          </div>

          <div class="cui-flex-table__middle">
            <span class="">{{application.evaluationDate}}</span>
          </div>
          <div class="cui-flex-table__right">
             <span class="cui-media__content" > {{application.evaluator.given}} {{application.evaluator.surname}}</span>
          </div>
        </div>
      </li>
    </cui-table-row>

    <!-- Pagination -->
    <div class="cui-paginate__container" ng-if="!userDetailsApps.loading">
      <span class="cui-paginate__results-label">{{'cui-num-results-page' | translate}}</span>
      <results-per-page class="cui-paginate__select" 
      ng-model="userDetailsApps.search.pageSize"></results-per-page>
      <paginate class="cui-paginate" 
      results-per-page="userDetailsApps.search.pageSize" 
      count="userDetailsApps.requestedHistoryCount" 
      on-page-change="userDetailsApps.pageChange" 
      ng-model="userDetailsApps.search.page" 
      attach-rerender-to="userDetailsApps.reRenderPaginate"></paginate>
    </div>
  </section>
</main>
