<!-- processHTML:remove -->
<div class="code-info">The markup and javascript used to build this page can be found <a class="cui-link" href="https://github.com/thirdwavellc/cui-idm-b2x/tree/master/app/modules/organization/requests/pendingRequestsReview" target="blank">here</a>.</div>
<!-- /processHTML -->

<!-- Page Loading -->
<div class="cui-loading__container--user-details" ng-if="base.loader.for['pendingRequests.init']">
  <div class="cui-loading--center"><div class="cui-loading"></div></div>
</div>

<!-- Header -->
<div ng-include="'app/modules/organization/requests/pendingRequestsReview/sections-pendingRequests/pendingRequests-header.html'" ng-if="!base.loader.for['pendingRequests.init']"></div>

<!-- Requested Applications List -->
<div ng-include="'app/modules/organization/requests/pendingRequestsReview/sections-pendingRequests/pendingRequests-body.html'" ng-if="!base.loader.for['pendingRequests.init']"></div>
