<!-- processHTML:remove -->
<div class="code-info">The markup and javascript used to build this page can be found <a class="cui-link" href="https://github.com/thirdwavellc/cui-idm-b2x/tree/master/app/modules/organization/requests/pendingRequestsReview" target="blank">here</a>.</div>
<!-- /processHTML -->

<!-- Submit Sucessful Pane -->
<div class="class-toggle cui-modal" toggled-class="cui-modal--hide" ng-if="pendingRequests.success" ng-click="toggleClass()">
  <div class="cui-modal__pane">
    <div class="cui-modal__icon">
      <cui-icon cui-svg-icon="cui:check-with-border" class="cui-modal__icon"></cui-icon>
    </div>
    <span class="cui-modal__primary-message">{{'cui-success' | translate}}</span>
    <span class="cui-modal__secondary-message" ng-if="pendingRequests.approvedCount!==0">{{pendingRequests.approvedCount}} {{'approvals-submitted' | translate}}</span>
    <span class="cui-modal__secondary-message" ng-if="pendingRequests.deniedCount!==0">{{pendingRequests.deniedCount}} {{'rejection-submitted' | translate}}</span>
  </div>
</div>

<!-- Page Loading -->
<div class="cui-loading__container--user-details" ng-if="base.loader.for['pendingRequests.init']">
  <div class="cui-loading--center"><div class="cui-loading"></div></div>
</div>

<!-- Header -->
<div ng-include="'app/modules/organization/requests/pendingRequestsReview/sections-pendingRequests/pendingRequests-header.html'" ng-if="!base.loader.for['pendingRequests.init']"></div>

<!-- Requested Applications List -->
<div ng-include="'app/modules/organization/requests/pendingRequestsReview/sections-pendingRequests/pendingRequests-body.html'" ng-if="!base.loader.for['pendingRequests.init']"></div>
