<div class="cui-tile">
  <div class="cui-tile__title">{{'cui-my-profile' | translate}}</div>
  <div class="cui-tile__body">

    <!-- Title -->
    <cui-expandable class="cui-expandable">
      <cui-expandable-title class="cui-expandable__title">
        {{'cui-my-profile' | translate}}

      </cui-expandable-title>
    </cui-expandable>
    
    <!-- User full name -->
    <p>{{usersEdit.user.name.given}} {{usersEdit.user.name.surname}}</p>
    
    <!-- UserID -->
    <p>{{'cui-user-id' | translate}}: {{usersEdit.user.id}}</p>
    <p>{{'cui-registered' | translate}}:</p>

      <!-- Full Name -->
      <p ng-if="!usersEdit.editName">
        {{"cui-name"| translate}}:
        <span ng-if="!usersEdit.editName">
          {{usersEdit.user.name.given}} {{usersEdit.user.name.surname}}
        </span>
        <span ng-click="usersEdit.editName = !usersEdit.editName"> Edit</span>
      </p>

      <div ng-if="usersEdit.editName">
        <p>{{'cui-first-name' | translate}}
          <input type="text" ng-init="usersEdit.tempGiven = usersEdit.user.name.given" ng-model="usersEdit.tempGiven"></input>
        </p>
        
        <p>{{'cui-last-name' | translate}}
          <input type="text" ng-init="usersEdit.tempSurname = usersEdit.user.name.surname" ng-model="usersEdit.tempSurname"></input>
        </p>

        <div>
          <span ng-click="usersEdit.saveFullName()">Save</span>
          <span ng-click="usersEdit.editName=false">Cancel</span>
        </div>
      </div>

      <!-- User ID -->
      <inline-edit label="cui-user-id" model="usersEdit.userPassword.username"></inline-edit>
      <!-- Email -->
      <inline-edit label="cui-email" model="usersEdit.user.email"></inline-edit>
      <!-- Password -->
      <inline-edit label="cui-password" model=""></inline-edit>
      <!-- Challenge Question 1 -->
      <inline-edit name="{{'cui-challenge-question' | translate}} 1" model="usersEdit.user.challengeQuestion1"></inline-edit>
      <!-- Challenge Question 1 -->
      <inline-edit name="{{'cui-challenge-question' | translate}} 2" model="usersEdit.user.challengeQuestion2"></inline-edit>

      <!-- Address 1 -->
      <inline-edit label="cui-address-1" model="usersEdit.user.addresses[0].streets[0]"></inline-edit>
      <!-- Address 2 -->
      <inline-edit label="cui-address-2" model="usersEdit.user.addresses[0].streets[1]"></inline-edit>
      <!-- City -->
      <inline-edit label="cui-city" model="usersEdit.user.addresses[0].city"></inline-edit>
      <!-- State -->
      <inline-edit label="cui-state" model="usersEdit.user.addresses[0].state"></inline-edit>
      <!-- Postal -->
      <inline-edit label="cui-postal" model="usersEdit.user.addresses[0].postal"></inline-edit>
      <!-- Country -->
      <inline-edit type="auto-complete" model="usersEdit.user.addresses[0].country" display="usersEdit.user.addresses[0].country.title || usersEdit.user.addresses[0].country" label="cui-country" selected-object="usersEdit.user.addresses[0].country" model="usersEdit.user.addresses[0].country" local-data="base.countries" search-fields="name" title-field="name"></inline-edit>
    </form>

    <!-- Update -->
    <div class="cui-wizard__controls">
      <!-- go to assets/js/app/app.profile.js to customize this function -->
      <button class="cui-wizard__next" ui-sref="users.search" style="position:relative">{{'cui-back' | translate}}</button> 
      <button class="cui-wizard__next" ng-click="usersEdit.save()" ng-class="(user.$invalid)? 'cui-wizard__next--error' : (usersEdit.success)? 'success' : (usersEdit.fail)? 'fail' : ''" style="position:relative"> 
        <div class=".cui-loading--medium-ctr" ng-show="usersEdit.saving"></div>
        <span ng-if="(!usersEdit.saving && !usersEdit.success && !usersEdit.fail)">{{'cui-update' | translate}}</span>
        <span ng-if="usersEdit.success">{{'cui-updated' | translate}}!</span>
        <span ng-if="usersEdit.fail">{{'cui-error-try-again' | translate}}</span>
      </button>
    </div>

  </div>
</div>
