<h2 ng-click="base.goBack()">Go Back</h2>
<div class="cui-tile">
  <div class="cui-tile__title">Profile management</div>
    <div class="cui-tile__body">
      <cui-wizard class="cui-wizard" step="1" clickable-indicators minimum-padding="30">
       <indicator-container class="indicator-container"></indicator-container>
        <step title="Edit profile">
        <form name="user" novalidate>
          <div class="cui-wizard__field-row"> 
          <ng-include src="'assets/angular-templates/loading.html'" class="fill" ng-class="usersEdit.loading? 'show' : ''"></ng-include>

           <!-- First Name -->     
            <div class="cui-wizard__field-container cui-wizard__field-container--half">
              <label for="user-name-given">{{'cui-first-name' | translate}}</label> 
              <!--    This adds error messages to the firstName input field. Notice the naming convention
              ng-messages="<formName><inputName>.$error" -->
              <div class="cui-error" ng-messages="user.firstName.$error" ng-if="user.firstName.$touched">
                <div ng-messages-include="assets/angular-templates/messages.html"></div>
              </div>
              <input type="text" name="firstName" class="cui-input" ng-required="true" ng-model="usersEdit.user.name.given"></input>
            </div>

            <!-- Last Name -->
            <div class="cui-wizard__field-container cui-wizard__field-container--half">
              <label for="user-name-surname">{{'cui-last-name' | translate}}</label>
              <div class="cui-error" ng-messages="user.lastName.$error" ng-if="user.lastName.$touched">
                <div ng-messages-include="assets/angular-templates/messages.html"></div>
              </div>
              <input type="text" ng-model="usersEdit.user.name.surname" name="lastName" class="cui-input" ng-required="true"></input>
            </div>
          </div>

          <!-- Title -->
          <label for="title">Title</label>
          <input type="text" ng-model="usersEdit.user.title" name="title" class="cui-input"></input>



          <div class="cui-wizard__field-row">
            <!-- Address 1 -->
            <div class="cui-wizard__field-container cui-wizard__field-container--half">
              <label for="address1">{{"cui-user-address" | translate}} 1</label>
               <input type="text" ng-model="usersEdit.user.addresses[0].streets[0]" class="cui-input" name="address1"></input>
            </div>

            <!-- Address 2 -->
            <div class="cui-wizard__field-container cui-wizard__field-container--half">
              <label for="address2">{{"cui-user-address" | translate}} 2</label>
              <input type="text" ng-model="usersEdit.user.addresses[0].streets[1]" class="cui-input" name="address2"></input>
            </div>
          </div>
          <div class="cui-wizard__field-row">

            <!-- City/Region -->
            <div class="cui-wizard__field-container cui-wizard__field-container--half">
              <label for="city-region">{{"cui-city" | translate}}</label>
              <input type="text" ng-model="usersEdit.user.addresses[0].city" class="cui-input" name="city"></input>
            </div>

            <!-- State/Province -->
            <div class="cui-wizard__field-container cui-wizard__field-container--half">
              <label for="state-province">{{"cui-state" | translate}}</label>
              <input type="text" ng-model="usersEdit.user.addresses[0].state" class="cui-input" name="state"></input>
            </div>
          </div>

          <div class="cui-wizard__field-row">
            <!-- Postal Code -->
            <div class="cui-wizard__field-container cui-wizard__field-container--half">
              <label for="postal-code">{{"cui-postal" | translate}}</label>
                <input type="text" ng-model="usersEdit.user.addresses[0].postal" class="cui-input" name="postal"></input>
            </div>

            <!-- Country -->
            <div class="cui-wizard__field-container cui-wizard__field-container--half">
              <label for="country">{{"cui-country" | translate}}</label>
                <input type="text" ng-model="usersEdit.user.addresses[0].country" class="cui-input" name="country"></input>
            </div>
          </div>

          <!-- TODO: ADD PREFIX, MITTLE NAME, TIME ZONE, LANGUAGE PREF. EMAIL ADDRESS (?), MOBILE PHONE, FAX AND CHALLENGE QUESTIONS -->

        </form>

        <div class="cui-wizard__controls">
          <!-- go to assets/js/app/app.profile.js to customize this function -->
          <button class="cui-wizard__next" ng-click="usersEdit.save()" ng-class="(user.$invalid)? 'cui-wizard__next--error' : (usersEdit.success)? 'success' : (usersEdit.fail)? 'fail' : ''" style="position:relative"> 
            <div class="cui-loading--medium__center" ng-show="usersEdit.saving"></div>
            <span ng-if="(!usersEdit.saving && !usersEdit.success && !usersEdit.fail)">Update</span>
            <span ng-if="usersEdit.success">Updated!</span>
            <span ng-if="usersEdit.fail">Error! Try again?</span>
          </button>
        </div>
      </step>
    </cui-wizard>
  </div>
</div>