<ng-form name="profile">
  <div class="cui-users__field">
    <div class="cui-users__address-container" class-toggle toggled-class="show-address">
      <div class="cui-users__field">
        <span class="cui-field-val__field">Profile Section TODO</span>
        <span class="cui-link" href="" ng-if="!toggled" ng-click="">{{'cui-open' | translate}}</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" ng-if="toggled" ng-click="toggleOff()" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 53" aria-label="{{'cui-close' | translate}}">
          <use class="cui-icon__ref" xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#close-no-fill"></use>
        </svg>
      </div>

      <div ng-if="!toggled">

        <!-- User full name -->
        <h3 class="cui-media__title">{{'cui-name' | translate}}: {{userProfile.user.name.given}} {{userProfile.user.name.surname}}</h3>
        <!-- UserID -->
        <p class="cui-media__content--small">{{'cui-registered' | translate}}: {{userProfile.user.creation | date:base.appConfig.dateFormat}}</p>
        <p class="cui-media__content--small">{{'cui-user-id' | translate}}: {{userProfile.user.id}}</p>


        <!--<span class="cui-field-val__field">{{'cui-name' | translate}}:</span>
        <span class="cui-field-val__val">{{userProfile.user.name}}</span><br/>
        <span class="cui-field-val__field">{{'cui-email' | translate}}:</span>
        <span class="cui-field-val__val">unr8tedC0ldPl@y</span>-->
      </div>


      <div class="cui-users__profile">
        <div class="cui-users__profile-info">
          <div class="cui-users__info-block">
            <!-- Basic info  (name and email)-->
            <div ng-include="'assets/app/user/profile/sections/basic-info.html'"></div>
          </div>

          <div class="cui-users__info-block">
            <!-- Password -->
            <div ng-include="'assets/app/user/profile/sections/password.html'"></div>
          </div>

          <div class="cui-users__info-block">
            <!-- Challenge Questions -->
            <div ng-include="'assets/app/user/profile/sections/challenge-questions.html'"></div>
          </div>

          <div class="cui-users__info-block">
            <!-- Timezone/Language -->
            <div ng-include="'assets/app/user/profile/sections/timezone-language.html'"></div>
          </div>
        </div>

        <div class="cui-users__profile-info">
          <div class="cui-users__info-block">
            <!-- Address -->
            <div ng-include="'assets/app/user/profile/sections/address.html'"></div>
          </div>

          <div class="cui-users__info-block">
            <!-- Phones/Fax -->
            <div ng-include="'assets/app/user/profile/sections/phone-fax.html'"></div>
          </div>
        </div>

      </div>

    </div>
  </div>
</ng-form>