.cui-manage-apps{
	.cui-button--inverted{
		font-size:0.8em;
		width:82px;
	}

	@media screen and (min-width: 701px){
		.cui-action__title {
			flex:0.5 auto;
		}
	}
	.cui-axpandable{
		margin-bottom:0;
		padding-bottom:0;
	}
	.cui-expandable__body-pane{
		margin-bottom:1em;
	}

}