<nav class="cui-breadcrumb">
  <ul class="cui-breadcrumb__links">
    <li class="cui-breadcrumb__link">
      <a ui-sref="organization.profile({orgID:personRequestReview.user.organization.id})" ui-sref-active-for="organization.profile">
        {{'cui-org-profile' | translate}}
      </a>
    </li>
    <li class="cui-breadcrumb__link">
      <a ui-sref="organization.hierarchy({orgID:personRequestReview.user.organization.id})" ui-sref-active-for="organization.hierarchy">
        {{'cui-org-hierarchy' | translate}}
      </a>
    </li>
    <li class="cui-breadcrumb__link">
      <a ui-sref="organization.directory.userList({orgID:personRequestReview.user.organization.id})" ui-sref-active-for="organization.directory">
        {{'directory' | translate}}
      </a>
    </li>
    <!-- <li class="cui-breadcrumb__link">
      <a ui-sref="organization.roles({orgID:personRequestReview.user.organization.id})" ui-sref-active-for="organization.roles">
        {{'roles' | translate}}
      </a>
    </li> -->
  </ul>
</nav>
