.cui-applications__main-container {
  padding: em(15) em(13);
  position: relative;
  min-height: 400px;

  @media screen and (min-width: 701px) {
    padding: em(15) em(55) 0 em(65);
  }

  &--full {
    @media screen and (max-width: 700px) {
      padding: em(15) 0;
    }
  }
}

.cui-tabs {
  @media screen and (min-width: 701px) {
    display: none;
  }
}

.cui-applications__left,
.cui-applications__right {
  flex: .5;
}

.cui-applications__right {
  margin-left: em(50);
}

.cui-applications__desktop-tabs {
  display: none;

  @media screen and (min-width: 701px) { 
    display: flex;
  }
}

.cui-applications {

  .cui-media__title {
    cursor: pointer;
  }
}

.cui-applications__row {
  display: flex;
  justify-content: space-between;
}

// New Request Page

.cui-applications__new-request {

  .cui-applications__row {
    margin-top: em(16);
    margin-bottom: em(48);
  }

  .cui-applications__center-text {
    text-align: center;

    @media screen and (min-width: 701px) {
      flex: .1;
    }
  }

  .cui-input-button {
    margin-bottom: em(25);
    @media screen and (min-width: 701px) {
      margin: 0;
    }
  }

  .cui-button {
    margin-top: em(25);

    @media screen and (min-width: 701px) {
      margin: 0;
    }
  }

  .cui-applications__search-options {
    @media screen and (min-width: 701px) {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  .cui-button,
  .cui-input-button {
    @media screen and (min-width: 701px) {
      flex: .45;
    }
  }

}
