// Layout helpers
%flex-row {
  display: flex;
  justify-content: space-between;
}

%flex-row-vert {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cui-tos-container {
  float: right;
  padding-bottom: 30px;
}

.cui-wizard__controls--clear {
  clear: both;
}

.cui-previous-link {
  padding-right: 30px;
}

.cui-popover-container--relative {
  @extend .cui-card;

  .cui-styeguide__popover-container {
    position: absolute;
    left: 300px;

    @media screen and (max-width: 700px) {
      width: 270px;
      left: -20px;  
      top: 20px
    }
  }
}

// Directory imports
@import 'applications';
@import 'users';
@import 'organization';

